{% trans_default_domain 'page_account' %}

{{ 'paragraph'|trans|colorize }}

<table class="ui table">
    <tbody>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.created'|trans }}</td>
            <td>{{ 'table.value.created'|trans({'date': user.regdate}) }}</td>
        </tr>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.commented'|trans }}</td>
            <td>{{ 'table.value.commented'|trans({'date': user.recentcomments}) }}</td>
        </tr>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.pvped'|trans }}</td>
            <td>{{ 'table.value.pvped'|trans({'date': user.pvpflag}) }}</td>
        </tr>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.dragonkills'|trans }}</td>
            <td>{{ user.dragonkills|numeral }}</td>
        </tr>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.gentimecount'|trans }}</td>
            <td>{{ user.gentimecount|numeral }}</td>
        </tr>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.gentime'|trans }}</td>
            <td>{{ 'table.value.gentime'|trans({'n': user.gentime, 'avg': (user.gentime / user.gentimecount)}) }}</td>
        </tr>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.acctnumber'|trans }}</td>
            <td>{{ (user.acctid - 1)|numeral }}</td>
        </tr>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.dragonpoints'|trans }}</td>
            <td>
                {% for key, value in dragonpoints %}
                    <div class="ui label">
                        {{ ('table.value.attr.' ~ key)|trans }}
                        <div class="detail">{{ value|numeral }}</div>
                    </div>
                {% endfor %}
            </td>
        </tr>

        {# Render other templates #}
        {% for tpl, params in templates %}
            {% include tpl with params %}
        {% endfor %}
    </tbody>
</table>
