{% translate_default_domain 'page-news' %}

{% use '{theme}/_blocks/_motd.html.twig' %}

{% block news_last_motd %}
    {% if lastMotd %}
        <div class="ui items segment news-last-motd">
            {% set motd = lastMotd %}
            {% if motd.motdtype %}{# Is a poll #}
                {% block motd_item_poll parent() %}
            {% else %}
                {% block motd_item_item parent() %}
            {% endif %}
        </div>
    {% endif %}
{% endblock news_last_motd %}

{% if result.count() <= 1 %}
    {{ 'list.title'|t({'d': date})|colorize }}
{% else %}
    {{ 'list.title'|t({'d': date, 'n': result.count()})|colorize }}
{% endif %}

{% set del = 'list.del'|t %}
{% for news in result %}
    {{ '`c`2-=-`@=-=`2-=-`@=-=`2-=-`@=-=`2-=-`0´c'|colorize }}

    <div class="center aligned">
        {% if SU_EDIT_COMMENTS %}
            [ <a href="{{ ('news.php?op=delete&newsid=' ~ news.id)|lotgd_url }}">{{ del }}</a> ]&nbsp;
        {% endif %}

        {{ show_news_item(news)|colorize }}
    </div>
{% else %}
    {{ '`c`2-=-`@=-=`2-=-`@=-=`2-=-`@=-=`2-=-`0´c'|colorize }}
    {{ 'list.notFound'|t|colorize }}
{% endfor %}

{{ '`c`2-=-`@=-=`2-=-`@=-=`2-=-`@=-=`2-=-`0´c'|colorize }}
