{% translate_default_domain textDomain %}

{{ 'description'|t(_context|merge({'sex': user.sex }))|colorize }}

{{ 'trade.in'|t(_context|merge({'weaponName': user.weapon, 'value': tradeinvalue}))|colorize }}

<table class='ui very compact striped selectable table'>
    <thead>
        <tr>
            <th>{{ 'Name'|t }}</th>
            <th>{{ 'Damage'|t }}</th>
            <th>{{ 'Cost'|t }}</th>
        </tr>
    </thead>
    <tbody>
        {% for weapon in weapons %}
            <tr>
                <td class="collapsing">
                    {% set color = '`)' %}
                    {% if weapon.value <= (user.gold + tradeinvalue) %}
                        {% if not unavailable %}
                            {% set color = '`&' %}
                            <a href='{{ ('weapons.php?op=buy&id=' ~ weapon.weaponid)|lotgd_url }}'>{{ (color ~ weapon.weaponname ~ '`0')|colorize }}</a>
                        {% else %}
                            {% set color = '`7' %}
                            {{ (color ~ weapon.weaponname ~ '`0')|colorize }}
                        {% endif %}
                    {% else %}
                        {{ (color ~ weapon.weaponname ~ '`0')|colorize }}
                    {% endif %}
                </td>
                <td>{{ (color ~ weapon.damage)|colorize }}</td>
                <td>
                    {% if weapon.alternatetext %}
                        {{ (color ~ weapon.alternatetext)|colorize }}
                    {% else %}
                        {{ (color ~ weapon.value)|colorize }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr><td colspan="3">{{ 'Not found any weapon'|t }}</td></tr>
        {% endfor %}
    </tbody>
</table>
