{% translate_default_domain textDomain %}

{% if 'bribe' == action %}
    {% if type %}
        {% if bribeSuccess %}
            {{ 'section.bartender.bribe.success'|t({ 'barkeep': barkeep })|colorize }}
        {% else %}
            {{ 'section.bartender.bribe.fail'|t({ 'barkeep': barkeep })|colorize }}
        {% endif %}
    {% else %}
        {{ 'section.bartender.bribe.paragraph'|t|colorize }}
    {% endif %}
{% elseif 'listupstairs' == action %}
    {{ 'section.bartender.listupstairs.paragraph'|t({ 'barkeep': barkeep })|colorize }}

    {{ pvp_list_table({ 'paginator': paginator, 'returnLink': returnLink, 'pvpTimeOut': pvpTimeOut }) }}

    {{ pvp_list_sleepers({ 'sleepers': sleepers }) }}
{% elseif 'colors' == action %}
    {{ 'section.bartender.colors.paragraph'|t({ 'colors': colors, 'barkeep': barkeep, 'rawInput': testText|prevent_codes, 'formatInput': testText })|colorize }}
    <form action="{{ formUrl|lotgd_url }}" method="POST" autocomplete="off" class="ui form">
        <div class="field">
            <input type="text" id="testText" name="testText">
        </div>
        <div class="field">
            <button type="submit" class="ui button">{{ 'section.bartender.colors.form.button.submit'|t|uncolorize }}</button>
        </div>
    </form>
{% elseif 'specialty' == action %}
    {% if specialty %}
        {{ 'section.bartender.specialty.changed'|t({ 'barkeep': barkeep })|colorize }}
    {% else %}
        {{ 'section.bartender.specialty.enter'|t({ 'barkeep': barkeep })|colorize }}
    {% endif %}
{% else %}
    {{ 'section.bartender.default'|t({ 'barkeep': barkeep })|colorize }}
{% endif %}
