{% translate_default_domain 'page-configuration' %}

<div class="ui info message">{{ 'section.cache.note'|t|uncolorize }}</div>

<div class="ui grid">
    <div class="row">
        <div class="center aligned column">
            <div class="ui header">{{ 'section.cache.for.core'|t({ 'coreCacheFolder': coreCacheFolder })|colorize }}</div>
        </div>
    </div>
    <div class="row">
        <div class="center aligned column">
            <div class="ui buttons">
                <a onclick="Lotgd.datacache('optimize')" class="ui button">Optimize cache</a>
                <a onclick="Lotgd.datacache('clearexpire')" class="ui yellow button">Clear expire cache</a>
                <a onclick="Lotgd.datacache('clearall')" class="ui red button">Clear all cache</a>
                <a onclick="Lotgd.datacache('clearbyprefix')" class="ui orange button">Clear by prefix cache</a>
            </div>
        </div>
    </div>
</div>
<br>
{{ 'section.cache.description'|t|colorize }}
<br>
{% if cacheActive %}
    {{ 'section.cache.active.true'|t|colorize }}
{% else %}
    {{ 'section.cache.active.false'|t|colorize }}
{% endif %}
<div class="ui warning message">{{ 'section.cache.active.activate'|t|uncolorize }}</div>
<div class="ui info message">{{ 'section.cache.active.note'|t|uncolorize }}</div>
