{% translate_default_domain textDomain %}

{% if SU_POST_MOTD %}
    <div class="ui buttons">
        <a class="ui motd item button" onclick="JaxonLotgd.Ajax.Core.Motd.addItem(); $(this).addClass('loading disabled')">{{ 'item.button.add.motd'|t|uncolorize }}</a>
        <a class="ui motd poll button" onclick="JaxonLotgd.Ajax.Core.Motd.addPoll(); $(this).addClass('loading disabled')">{{ 'item.button.add.poll'|t|uncolorize }}</a>
    </div>
{% endif %}

<div class="ui divided items">
    {% for motd in paginator %}
        {{ motd_show_item(motd, {'SU_POST_MOTD': SU_POST_MOTD}) }}
    {% else %}
        <div class="item">
            <div class="content">
                <div class="ui error message">
                    {{ 'list.empty'|t|uncolorize }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="ui header divider"></div>
<br>
<div class="ui centered grid">
    <div class="inline field">
        <label for="month-archive">{{ 'list.form.label'|t }}</label>
        <div class="ui action input" id="month-archive">
            <div class="ui compact clearable selection lotgd dropdown">
                <input type="hidden" id="motd-month" value="">
                <i aria-hidden="true" class="dropdown icon"></i>
                <span class="default text">{{ 'list.form.select.select'|t|uncolorize }}</span>
                <div class="menu">
                    {% if motdMothCountPerYear %}
                        {% for row in motdMothCountPerYear %}
                            {% set month = row.year ~ '-' ~ row.month %}
                            <div class="item" {{ month == monthSelected ? 'selected' : '' }} data-value="{{ month }}" >
                                {{ '{date,date,YYY, LLLL} ({count,number})'|tmf({'date': row.date, 'count': row.count}) }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="item">{{ 'list.form.select.empty'|t|uncolorize }}</div>
                    {% endif %}
                </div>
            </div>
            <a id="motd-button-selected" role="button" class="ui button" aria-label="{{ 'list.form.button.descriptive.submit'|t|uncolorize }}" onclick="JaxonLotgd.Ajax.Core.Motd.list(1, null, $('#motd-month').val()); $(this).addClass('disabled'); $('#motd-button-current').addClass('disabled')">
                {{ 'list.form.button.label.submit'|t|uncolorize }}
            </a>
            <a id="motd-button-current" role="button" aria-label="{{ 'list.form.button.descriptive.current'|t|uncolorize }}" class="ui secondary button" onclick="JaxonLotgd.Ajax.Core.Motd.list(); $(this).addClass('disabled'); $('#motd-button-selected').addClass('disabled')">
                {{ 'list.form.button.label.current'|t|uncolorize }}
            </a>
        </div>
    </div>
</div>
<div class="ui hidden header divider"></div>
{{ navigation_pagination(paginator, 'JaxonLotgd.Ajax.Core.Motd.list', null, null, {
    'motdPerPage': motdPerPage|default(null),
    'monthSelected': monthSelected|default(null)
} ) }}
