{#
    NOTICE
	NOTICE This section is a especific for IDMarinas Edition
	NOTICE Please not modify/delete
	NOTICE Server Specific section above.
    NOTICE

    Data avaible in this template

    [
        'logd_version' => string
    ]
 #}
<hr>
{{ '`^IDMarinas edition'|colorize }}
{{ '`nBy Iván Diaz (%s)`0`n`n'|t|format('<a href="http://lotgd.infommo.es" target="_blank">IDMarinas Edition</a>')|colorize }}
{{ '`6This version is a forked version of 1.1.2 Dragonprime Edition and has code of +nb Edition by Oliver Brender (%s).'|t|format('<a href="http://nb-core.org"  target="_blank">NB Core</a>')|colorize }}
{{ '`nIs a update the core of the game to better adapt to the current times, it is only a set-up of the core of the game and some improvements. For example, the template system has been changed and the database connection script has been updated.'|t|colorize }}
{{ 'If you want use this core, you need to be aware:`n'|t|colorize }}

<ul>
    <li>{{ '`^PHP 5.6 is a minimum requirement`6'|t|colorize }}</li>
    <li>{{ 'PHP 7 100% compatibility is not guaranteed 100%, but there may not be many problems'|t|colorize }}</li>
    <li>{{ 'Came with others dependencies that need install.'|t|colorize }}</li>
    <li><a href="https://bitbucket.org/idmarinas/lotgd-game/wiki/Home" target="_blank">{{ 'More information of requirement and dependencies'|t|colorize }}</a></li>
</ul>

{{ 'For the download of this version please go to %s where the latest development version (daily snapshots) and stable versions are hosted.'|t|format('<a href="https://bitbucket.org/idmarinas/lotgd-game" target="_blank">LOTGD - Game</a>')|colorize }}
{{ '`n`nI do not ship modules with it, most modules from 1.x.x DP Editions will work. However there is no guarantee... test them.`n'|t|colorize }}
{{ 'In this other repository %s you can find all modules that I use in my version of game. This modules are an adaptation of modules create by others to work in my version.`n'|t|format('<a href="https://bitbucket.org/idmarinas/lotgd-modules" target="_blank">LOTGD - Modules</a>')|colorize }}
