{#
    NOTICE
    NOTICE This section may not be modified, please modify the Server Specific section above.
    NOTICE This is de original about of Core
    NOTICE

    Data avaible in this template

    [
        'logd_version' => string
    ]
 #}

{{ '`@Legend of the Green Dragon`nBy Eric Stevens & JT Traub`n`n'|t|colorize }}

{{ '`cLoGD version %s`c'|t|format(logd_version)|colorize }}

{{ 'MightyE tells you, "`2Legend of the Green Dragon is a remake of and homage to the classic BBS Door game, Legend of the Red Dragon (aka LoRD) by %s.`@"'|t|format('<a href="http://www.rtsoft.com" target="_blank">Seth Able Robinson</a>')|colorize }}
{{ '`n`n`@"`2LoRD is now owned by Gameport (%s), and they retain exclusive rights to the LoRD name and game. '|t|format('<a href="http://www.gameport.com/bbs/lord.html" target="_blank">http://www.gameport.com/bbs/lord.html</a>')|colorize }}
{{ 'That\'s why all content in Legend of the Green Dragon is new, with only a very few nods to the original game, such as the buxom barmaid, Violet, and the handsome bard, Seth.`@"`n`n'|t|colorize }}

{{ '`@"`2Although serious effort was made to preserve the original feel of the game, numerous departures were taken from the original game to enhance playability, and to adapt it to the web.`@"`n`n'|t|colorize }}

{{ '`@"`2LoGD (after version 0.9.7) is released under a %s, which essentially means that the source code to the game, and all derivatives of the game must remain open and available upon request.'|t|format('<a href="http://creativecommons.org/licenses/by-nc-sa/2.0/" target="_blank">Creative Commons License</a>')|colorize }}
{{ 'Version 0.9.7 and before are still available under the %s though 0.9.7 will be the last release under that license.'|t|format('<a href="http://www.gnu.org/licenses/gpl.html" target="_blank">GNU General Public License</a>')|colorize }}
{{ 'To use any of the new features requires using the 1.0.0 code.  You may explicitly not place code from versions after 0.9.7 into 0.9.7 and release the combined derivative work under the GPL.`@"`n`n'|t|colorize }}

{{ '`@"`2You may download the latest official version of LoGD at %s  and you can play the Classic version at %s.`@"`n`n'|t|format('<a href="http://dragonprime.net/" target="_blank">DragonPrime</a>', '<a href="http://lotgd.net/" target="_blank">http://lotgd.net</a>')|colorize }}
{# {{ '`@"`2The most recent *UNSTABLE* pre-release snapshot is available from %s.'|t|format('<a href="http://dragonprime.net/users/Kendaer/" target="_blank">http://dragonprime.net/users/Kendaer/</a>')|colorize }} #}
{{ 'You should attempt to use this code only if you are comfortable with PHP and MySQL and willing to manually keep your code up to date.`@"`n`n'|t|colorize }}

{{ '`@"`2Additionally, there is an active modder community located at %s which may help you find additional features which you may wish to add to your game.'|t|format('<a href="http://dragonprime.net" target="_blank">DragonPrime</a>')|colorize }}
{{ 'For these additional features you will find active support within the DragonPrime community.`@"`n`n'|t|colorize }}

{{ '`@"`2LoGD is programmed in PHP with a MySQL backend.'|t|colorize }}
{{ 'It is known to run on Windows and Linux with appropriate setups.'|t|colorize }}
{{ 'The core code has been actively written by Eric Stevens and JT Traub, with some pieces by other authors (denoted in the source at these locations), and the code has been released under a %s.'|t|format('<a href="http://creativecommons.org/licenses/by-nc-sa/2.0/" target="_blank">Creative Commons License</a>')|colorize }}
{{ 'Users of the source are bound to the terms therein.`n'|t|colorize }}
{{ 'The DragonPrime Development Team took over responsibility for code development on January 1<sup>st</sup>, 2006 and continues to maintain and add to features of the core code.`@"`n`n'|t|colorize }}

{{ '`@"`2Users of the source are free to view and modify the source, but original copyright information, and original text from the about page must be preserved, though they may be added to.`@"`n`n'|t|colorize }}
{{ '`@"`2We hope you enjoy the game!`@"'|t|colorize }}

