{% translate_default_domain 'app-default' %}

{% if pageCount %}
    <div class="ui hidden clearing divider"></div>
    <div class="ui grid">
        <div class="sixteen wide tablet only computer only center aligned column">
            <div class="ui pagination menu" role="navigation" aria-label="{{ 'parts.pagination.description'|t({ 'firstItemNumber': firstItemNumber, 'lastItemNumber': lastItemNumber, 'totalItemCount': totalItemCount })|uncolorize }}">
                <!-- Link to first page -->
                {% if previous %}
                    <a class="icon item" aria-label="{{ 'parts.pagination.menu.first'|t|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ first)|lotgd_url }}"><i class="fast backward icon" aria-hidden="true"></i></a>
                {% else %}
                    <div class="disabled icon item" aria-hidden="true"><i class="fast backward icon"></i></div>
                {% endif %}

                <!-- Link to previous page -->
                {% if previous %}
                    <a class="icon item" href="{{ (href ~ 'commentPage=' ~ previous)|lotgd_url }}"><i class="step backward icon" aria-hidden="true"></i></a>
                {% else %}
                    <div class="disabled icon item" aria-hidden="true"><i class="step backward icon"></i></div>
                {% endif %}

                <!-- Links to number pages -->
                {% for page in pagesInRange %}
                    {% if page != current %}
                        <a class="item" aria-label="{{ 'parts.pagination.menu.page'|t({'page': page})|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ page)|lotgd_url }}">{{ page }}</a>
                    {% else %}
                        <div class="active item" aria-hidden="true">
                            {{ 'parts.pagination.menu.current'|t({ 'firstItemNumber': firstItemNumber, 'lastItemNumber': lastItemNumber, 'totalItemCount': totalItemCount })|colorize }}
                        </div>
                    {% endif %}
                {% endfor %}

                <!-- Link to next page -->
                {% if next %}
                    <a class="icon item" aria-label="{{ 'parts.pagination.menu.next'|t|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ next)|lotgd_url }}"><i class="step forward icon" aria-hidden="true"></i></a>
                {% else %}
                    <div class="disabled icon item" aria-hidden="true"><i class="step forward icon"></i></div>
                {% endif %}

                <!-- Link to last page -->
                {% if next %}
                    <a class="icon item" aria-label="{{ 'parts.pagination.menu.last'|t|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ last)|lotgd_url }}"><i class="fast forward icon" aria-hidden="true"></i></a>
                {% else %}
                    <div class="disabled icon item" aria-hidden="true"><i class="fast forward icon"></i></div>
                {% endif %}
            </div>
        </div>
        <div class="sixteen wide mobile only center aligned column">
            <div class="ui pagination menu" role="navigation" aria-label="{{ 'parts.pagination.label'|t|uncolorize }}">
                <!-- Link to first page -->
                {% if previous %}
                    <a class="icon item" aria-label="{{ 'parts.pagination.menu.first'|t|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ first)|lotgd_url }}"><i class="fast backward icon" aria-hidden="true"></i></a>
                {% else %}
                    <div class="disabled icon item" aria-hidden="true"><i class="fast backward icon"></i></div>
                {% endif %}

                <!-- Link to previous page -->
                {% if previous %}
                    <a class="icon item"  aria-label="{{ 'parts.pagination.menu.previous'|t|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ previous)|lotgd_url }}"><i class="step backward icon" aria-hidden="true"></i></a>
                {% else %}
                    <div class="disabled icon item" aria-hidden="true"><i class="step backward icon"></i></div>
                {% endif %}

                <!-- Actual page item count -->
                <a class="active item" aria-disabled="true">{{ firstItemNumber }} - {{ lastItemNumber }} de  {{ totalItemCount }}</a>

                <!-- Link to next page -->
                {% if next %}
                    <a class="icon item" aria-label="{{ 'parts.pagination.menu.next'|t|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ next)|lotgd_url }}"><i class="step forward icon" aria-hidden="true"></i></a>
                {% else %}
                    <div class="disabled icon item" aria-hidden="true"><i class="step forward icon"></i></div>
                {% endif %}

                <!-- Link to last page -->
                {% if next %}
                    <a class="icon item"  aria-label="{{ 'parts.pagination.menu.last'|t|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ last)|lotgd_url }}"><i class="fast forward icon" aria-hidden="true"></i></a>
                {% else %}
                    <div class="disabled icon item" aria-hidden="true"><i class="fast forward icon"></i></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
<div class="ui hidden clearing divider"></div>
