{% trans_default_domain textDomain %}

<form action="{{ ('user.php?op=special&userid=' ~ userId ~ returnPetition)|lotgd_url }}" method="POST" class="flex md:w-2/4 gap-4">
    <button type="submit" class="ui button" name="newday" value="1">{{ 'section.edit.form.button.submit.newday'|trans|uncolorize }}</button>
    <button type="submit" class="ui button" name="fixnavs" value="1">{{ 'section.edit.form.button.submit.fixnavs'|trans|uncolorize }}</button>
    <button type="submit" class="ui button" name="clearvalidation" value="1">{{ 'section.edit.form.button.submit.clearvalidation'|trans|uncolorize }}</button>
</form>

<br>

{% if userLoggedIn %}
    {{ 'section.edit.form.note.user.online'|trans|colorize }}
{% endif %}

<h3>{{ ('section.edit.form.title.' ~ type|default('acct'))|trans|colorize }}</h3>

{{ form(form) }}

{% if userLoggedIn %}
    {{ 'section.edit.form.note.user.online'|trans|colorize }}
{% endif %}

{{ 'section.edit.last.page'|trans|colorize }}
<iframe src="{{ ('user.php?op=lasthit&userid=' ~ userId)|lotgd_url }}" title="{{ 'section.edit.last.page'|trans|uncolorize }}" width="100%" height="400">
    {{ 'section.edit.iframe'|trans|uncolorize }}
</iframe>
