{% trans_default_domain textDomain %}

<table class="ui very compact striped table">
    <thead>
        <tr>
            <th scope="col">{{ 'section.default.table.thead.id'|trans|uncolorize }}</th>
            <th scope="col">{{ 'section.default.table.thead.name'|trans|uncolorize }}</th>
            <th scope="col">{{ 'section.default.table.thead.login'|trans|uncolorize }}</th>
            <th scope="col">{{ 'section.default.table.thead.email'|trans|uncolorize }}</th>
            <th scope="col">{{ 'section.default.table.thead.ip'|trans|uncolorize }}</th>
            <th scope="col">{{ 'section.default.table.thead.ops'|trans|uncolorize }}</th>
        </tr>
    </thead>
    <tbody>
        {% set delOptions = {'text': 'section.default.table.tbody.del.confirm'|trans|uncolorize}|json_encode %}
        {% set restoreOptions = {'text': 'section.default.table.tbody.restore.confirm'|trans|uncolorize}|json_encode %}
        {% for backup in backups %}
            <tr>
                <td>{{ backup.accountId|numeral }}</td>
                <td>({{ backup.characterId }}) {{ backup.name|colorize }}</td>
                <td>{{ backup.login }}</td>
                <td>{{ backup.email }}</td>
                <td>{{ backup.lastIp }}</td>
                <td class="collapsing">
                    <div class="ui mini icon buttons">
                        <a href="{{ ('characterbackup.php?op=view&acctid=' ~ backup.accountId)|lotgd_url }}" class="ui green button" data-tooltip="{{ 'section.default.table.tbody.button.view'|trans|uncolorize }}">
                            <i aria-hidden="true" class="eye icon"></i>
                        </a>
                        <a href="{{ ('characterbackup.php?op=restore&acctid=' ~ backup.accountId)|lotgd_url }}" class="ui yellow button" data-tooltip="{{ 'section.default.table.tbody.button.restore'|trans|uncolorize }}" data-options="{{ restoreOptions|e('html_attr') }}" onclick="Lotgd.confirm(this, event)">
                            <i aria-hidden="true" class="undo icon"></i>
                        </a>
                        <a class="ui red button" href="{{ ('characterbackup.php?op=delete&acctid=' ~ backup.accountId)|lotgd_url }}" data-options="{{ delOptions|e('html_attr') }}" onclick="Lotgd.confirm(this, event)" data-tooltip="{{ 'section.default.table.tbody.button.del'|trans|uncolorize }}">
                            <i aria-hidden="true" class="trash icon"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="center aligned">{{ 'section.default.table.tbody.empty'|trans|colorize }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
