{% trans_default_domain textDomain %}

<div class="ui info message">
    {{ 'section.view.note'|trans|uncolorize }}
</div>

<div class="ui message">
    {{ account.name|colorize }} -> {{ account.email }}
</div>

<div class="ui accordion">
    {% for file in files %}
        <div class="title"><i aria-hidden="true" class="dropdown icon"></i> {{ file.entity }}</div>
        <div class="content">
            {% for row in file.rows %}
                <div class="ui list">
                    {% for key, value in row if value and value is not object %}
                        <div class="item">
                            <div class="content">
                                <div class="header">{{ key }}</div>
                                <div class="description">
                                    {% if value is not array %}
                                        {{ value }}
                                    {% else %}
                                        {{ var_dump(value) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<script>$('.ui.accordion').accordion()</script>

