{% translate_default_domain textDomain %}

{{ 'section.membership.legend'|t|colorize }}

<table class="ui very compact striped selectable table">
    <thead>
        <th>{{ 'section.membership.table.theader.rank'|t|uncolorize }}</th>
        <th>{{ 'section.membership.table.theader.name'|t|uncolorize }}</th>
        <th>{{ 'section.membership.table.theader.level'|t|uncolorize }}</th>
        <th>{{ 'section.membership.table.theader.dragonkill'|t|uncolorize }}</th>
        <th>{{ 'section.membership.table.theader.join.date'|t|uncolorize }}</th>
        <th>{{ 'section.membership.table.theader.laston'|t|uncolorize }}</th>
        <th>{{ 'section.membership.table.theader.ops'|t|uncolorize }}</th>
    </thead>
    <tbody>
        {% set totalDragonkills = 0 %}
        {% set options = {'text': 'section.membership.form.confirm'|t|uncolorize }|json_encode %}
        {% set optionsFounder = {'text': 'section.membership.form.demote.founder'|t|uncolorize }|json_encode %}
        {% set stepdown = 'section.membership.form.stepdown'|t|uncolorize %}
        {% set remove = 'section.membership.form.remove'|t|uncolorize %}
        {% set submit = 'section.membership.form.submit'|t|uncolorize %}

        {% for member in membership %}
            {% set totalDragonkills = totalDragonkills + member.dragonkills %}
            <tr>
                <td>{{ ranksNames[member.clanrank]|t|colorize }}</td>
                <td>{{ '`&%s`0'|format(member.name)|colorize }}</td>
                <td>{{ '`^%s`0'|format(member.level)|colorize }}</td>
                <td>{{ '`$%s`0'|format(member.dragonkills)|colorize }}</td>
                <td>{{ '`${date,date} {date,time}`0'|tmf({ 'date': member.clanjoindate })|colorize }}</td>
                <td>{{ '`#%s`0'|format(member.laston|relative_date)|colorize }}</td>
                <td class="collapsing">
                    {% if user.clanrank >= constant('CLAN_OFFICER') and member.clanrank <= user.clanrank %}
                        {% if member.clanrank <= user.clanrank and member.acctid != user.acctid and member.clanrank < constant('CLAN_FOUNDER') and user.clanrank >= constant('CLAN_ADMINISTRATIVE') %}
                            {% set deleteButton = '<a class="ui red icon button top aligned" data-tooltip="' ~ remove ~ '" href="' ~ ('clan.php?op=membership&remove=' ~ member.acctid)|lotgd_url ~ '" onclick="Lotgd.confirm(this, event)" data-options="' ~ options|e('html_attr') ~ '"><i class="remove user icon"></i></a>' %}
                        {% else %}
                            {% set deleteButton = '<a class="ui disabled red icon button tooltip top aligned" data-tooltip="' ~ remove ~ '"><i class="remove user icon"></i></a>' %}
                        {% endif %}

                        {% if constant('CLAN_FOUNDER') == member.clanrank and member.acctid == user.acctid %}
                            <form action="{{ 'clan.php?op=membership'|lotgd_url }}" method="POST">
                                <input type="hidden" name="setrank" value="30">
                                <input type="hidden" name="whoacctid" value="{{ member.acctid }}">
                                <button type="submit" class="ui orange button" data-options="{{ optionsFounder|e('html_attr') }}" onclick="Lotgd.confirm(this, event)">{{ stepdown }}</button>

                                {{ deleteButton }}
                            </form>
                        {% elseif constant('CLAN_FOUNDER') != member.clanrank %}
                            <form action="{{ 'clan.php?op=membership'|lotgd_url }}" method="POST">
                                <input type="hidden" name="whoacctid" value="{{ member.acctid }}">
                                <select class='ui combo lotgd dropdown' name='setrank'>
                                    {% for key, rank in validRanks if key <= user.clanrank and constant('CLAN_FOUNDER') != key %}
                                        <option value="{{ key }}" {{ member.clanrank == key ? 'selected' : '' }}>{{ rank|t|uncolorize }}</option>
                                    {% endfor %}
                                </select>
                                <button class="ui icon button tooltip top aligned" data-tooltip="{{ submit }}" type="submit"><i class='configure icon'></i></button>

                                {{ deleteButton }}
                            </form>
                        {% else %}
                            {{ deleteButton }}
                        {% endif %}
                    {% else %}
                        {{ 'section.membership.table.tbody.none'|t|colorize }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ 'section.membership.total.dragonkills'|t({ dragonkills: totalDragonkills })|colorize }}
