{% translate_default_domain textDomain %}

{% if clanInfo.clanmotd %}
    <blockquote>
        {{ 'section.motd.current.motd'|t({ author: motdAuthorName|uncolorize })|colorize }}
        {{ clanInfo.clanmotd|nl2br|colorize }}
    </blockquote>
{% endif %}

{% if clanInfo.clandesc %}
    <blockquote>
        {{ 'section.motd.current.desc'|t({ author: descAuthorName|uncolorize })|colorize }}
        {{ clanInfo.clandesc|nl2br|colorize }}
    </blockquote>
{% endif %}

<form action="{{ 'clan.php?op=motd'|lotgd_url }}" method="POST" autocomplete="off" class="ui form">
    <div class="field">
        <label for="clanmotd">{{ 'section.motd.form.clanmotd.label'|t|colorize }}</label>
        <textarea name="clanmotd" id="clanmotd">{{ clanInfo.clanmotd|e('html') }}</textarea>
    </div>
    <div class="field">
        {% if constant('INT_MAX') != clanInfo.descauthor %}
            <label for="clandesc">{{ 'section.motd.form.clandesc.label'|t|colorize }}</label>
            <textarea name="clandesc">{{ clanInfo.clandesc|e('html') }}</textarea>
        {% else %}
            {{ 'section.motd.form.clandesc.blocked'|t|colorize }}
        {% endif %}
    </div>

    {% if user.clanrank >= constant('CLAN_LEADER') %}
        <div class="field">
            <label for="">{{ 'section.motd.form.customsay.label'|t|colorize }}</label>
            <input type="text" name='customsay' value="{{ clanInfo.customsay|e('html') }}" maxlength="15">
        </div>
    {% endif %}

    <div class="field">
        <button type="submit" class="ui button">{{ 'section.motd.form.button.submit'|t|uncolorize }}</button>
    </div>
</form>
