{% trans_default_domain textDomain %}

<table class="ui very compact striped selectable table">
    <thead>
        <tr>
            <th scope="col">{{ 'section.default.table.thead.name'|trans|uncolorize }}</th>
            <th scope="col">{{ 'section.default.table.thead.points'|trans|uncolorize }}</th>
            <th scope="col">{{ 'section.default.table.thead.spent'|trans|uncolorize }}</th>
        </tr>
    </thead>
    <tbody>
        {% for donation in paginator %}
            <tr>
                <td>{{ donation.name|colorize }}</td>
                <td>{{ '`@%s`0'|format(donation.donation|numeral)|colorize }}</td>
                <td>{{ '`%%%s`0'|format(donation.donationspent|numeral)|colorize }}</td>
            </tr>
        {% else %}
            <tr>
                <td class="center aligned" colspan="3">{{ 'section.default.table.tbody.no.found'|trans|colorize }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ navigation_pagination(paginator, 'donators.php' ) }}
