<table>
	<tr>
		<td colspan="3">{% if isTarget %}<i class="yellow bullseye icon"></i>{% endif %} {{ '%s (Level %s):`0'|t|format(name, level) }} {% if not showBar %}{{ hptext }}{% endif %}</td>
	</tr>
	<tr>
		{% if showBar %}
			<td>&nbsp;&nbsp;{{ healthtext }}:&nbsp;</td>
			<td style="width: 150px;">
				<div style="margin: 0em;" class="ui tiny indicating progress battle" data-value="{{ value }}" data-total="{{ total }}">
					<div class="bar"></div>
				</div>
			</td>
		{% endif %}
		{% if showBar and hptext %}
			<td>&nbsp;{{ hptext }}</td>
		{% endif %}
	</tr>
</table>