{% trans_default_domain 'page_installer' %}

{% if update %}
    {{ 'stage5.update.subtitle'|trans|colorize }}
    {{ 'stage5.update.paragraph'|trans|colorize }}
{% else %}
    {# Looks like a clean install #}
    {{ 'stage5.clean.subtitle'|trans|colorize }}
    {{ 'stage5.clean.paragraph0'|trans|colorize }}

    {% if conflict|length %}
        {{ 'stage5.clean.conflict'|trans({'tables': conflict|join(', ')})|colorize }}

        {% if increasedStage %}
            {{ 'stage5.clean.conflict.3'|trans|colorize }}
        {% endif %}
    {% endif %}

    {{ 'stage5.clean.paragraph1'|trans|colorize }}
{% endif %}

{{ 'stage5.paragraph0'|trans|colorize }}

<form action="installer.php?stage=5" class="ui form" method="POST">
    <div class="ui action input">
        <input type="text" name="DB_PREFIX" id="DB_PREFIX" value="{{ DB_PREFIX|e }}" aria-label="{{ 'stage5.form.input'|trans|uncolorize }}">
        <button class="ui button" type="submit">{{ 'stage5.form.button'|trans|uncolorize }}</button>
    </div>
</form>

{% if conflict|length == 0 %}
    {{ 'stage5.conflict'|trans|colorize }}
{% endif %}

{{ 'stage5.paragraph1'|trans|colorize }}
