{% trans_default_domain 'page_installer' %}

{{ 'stage0.subtitle'|trans|colorize }}
{{ 'stage0.paragraph'|trans|colorize }}

{% if authentication %}
    {{ 'stage0.authentication.paragraph'|trans|colorize }}
    <form action="installer.php?stage=0" method="POST" class="ui form">
        <div class="field">
            <label for="username">{{ 'stage0.authentication.form.username'|trans|colorize }}</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="field">
            <label for="password">{{ 'stage0.authentication.form.password'|trans|colorize }}</label>
            <input type="password" name="password" id="password">
        </div>
        <div class='field'>
            <button type="submit" class="ui button">{{ 'stage0.authentication.form.button'|trans|colorize }}</button>
        </div>
    </form>
{% else %}
    {{ 'stage0.nextStage'|trans|colorize }}
{% endif %}
