<form class="ui form" action="{{ ('clan.php?detail=' ~ clan.clanid)|lotgd_url }}" method="POST">
    <div class="field">
        <label>{{ 'Long Name:'|t|colorize }}</label>
        <input name='clanname' value="{{ clan.clanname }}" maxlength="50" size="50">
    </div>
    <div class="field">
        <label>{{ 'Short Name:'|t|colorize }}</label>
        <input name='clanshort' value="{{ clan.clanshort }}" maxlength="50" size="50">
    </div>
    <div class="ui divider"></div>
    <div class="field">
            <input type="submit" class="ui button" value="{{ 'Save'|t }}">
        {% if clan.descauthor == 4294967295 %}
            <input type="submit" name="unblock" value="{{ 'Save & UNblock public description'|t }}" class="ui green button">
        {% else %}
            <input type="submit" name="block" value="{{ 'Save & Block public description'|t }}" class="ui red button">
        {% endif %}
    </div>
</form>
