{% set delconfirm = 'Are you sure you wish to delete this armor'|t %}
<table class="ui very compact striped table">
    <thead>
        <tr>
            <th>{{ 'Ops'|t }}</th>
            <th>{{ 'Name'|t }}</th>
            <th>{{ 'Cost'|t }}</th>
            <th>{{ 'Defense'|t }}</th>
            <th>{{ 'Level'|t }}</th>
        </tr>
    </thead>
    <tbody>
        {% for armor in armors %}
            <tr>
                <td class="collapsing">
                    [<a data-tooltip="{{ 'Edit'|t }}" href="{{ ('armoreditor.php?op=edit&id=' ~ armor.armorid ~ '&level=' ~ armorlevel)|lotgd_url }}"><i class="icon edit"></i></a> |
                    <a data-tooltip="{{ 'Delete'|t }}" href="{{ ('armoreditor.php?op=del&id=' ~ armor.armorid ~ '&level=' ~ armorlevel)|lotgd_url }}" data-options='{"text" : "{{ delconfirm }}"}' onClick='return Lotgd.confirm(this, event);'><i class="red icon trash"></i></a>]
                </td>
                <td>{{ armor.armorname }}</td>
                <td>{{ armor.value }}</td>
                <td>{{ armor.defense }}</td>
                <td>{{ armor.level }}</td>
            </tr>
        {% else %}
            <tr class="negative">
                <td colspan="5" class="center aligned">{{ 'Not find armors in data base'|t }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
