<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="imagetoolbar" content="false">
    <meta http-equiv="Window-target" content="_top">

    <title>{{ title }}</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body
    style="background: #003800; box-sizing: inherit; color: #CCCCCC; font-family: 'Verdana', Arial, Helvetica, sans-serif; font-size: 12px; height: 100%; line-height: 1.4285em; margin: 10px auto 10px auto; width: 80%; min-width: 320px;  padding: 0px;">
    <table class="lotgd table"
        style="border-collapse: collapse; border-spacing: 0; box-sizing: inherit; font-size: inherit; width: 100%;">
        <tbody>
            <tr style="box-sizing: inherit;">
                <td style="box-sizing: inherit; padding: 0;">
                    <table class="lotgd table"
                        style="border-collapse: collapse; border-spacing: 0; box-sizing: inherit; font-size: inherit; width: 100%;">
                        <tbody>
                            <tr style="box-sizing: inherit;">
                                <td class="border tlc"
                                    style="background-image: url('{{ url }}/themes/jade/images/tlc.gif'); background-position-x: right; background-position-y: bottom; background-repeat: no-repeat; box-sizing: inherit; height: 15px; max-height: 15px; max-width: 10px; min-height: 15px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                                <td class="border tm"
                                    style="background-image: url('{{ url }}/themes/jade/images/tm.gif'); background-position-y: bottom; background-repeat: repeat-x; box-sizing: inherit; height: 15px; max-height: 15px; min-height: 15px; padding: 0;">
                                </td>
                                <td class="border trc"
                                    style="background-image: url('{{ url }}/themes/jade/images/trc.gif'); background-position-x: left; background-position-y: bottom; background-repeat: no-repeat; box-sizing: inherit; height: 15px; max-height: 15px; max-width: 10px; min-height: 15px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                            </tr>
                            <tr style="box-sizing: inherit;">
                                <td class="border tlt"
                                    style="background-image: url('{{ url }}/themes/jade/images/tlt.gif'); background-position-x: right; background-repeat: repeat-y; box-sizing: inherit; max-width: 10px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                                <td class="top aligned" style="box-sizing: inherit; padding: 0; vertical-align: top;">
                                    <span class="pagetitle"
                                        style="box-sizing: inherit; color: #FFFFFF; font-family: 'Verdana', Arial, Helvetica, sans-serif; font-size: 20px; font-variant: small-caps;">•
                                        {{ title }}</span></td>
                                <td class="border trt"
                                    style="background-image: url('{{ url }}/themes/jade/images/trt.gif'); background-position-x: left; background-repeat: repeat-y; box-sizing: inherit; max-width: 10px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                            </tr>
                            <tr style="box-sizing: inherit;">
                                <td class="border blc"
                                    style="background-image: url('{{ url }}/themes/jade/images/blc.gif'); background-position-x: right; background-repeat: no-repeat; box-sizing: inherit; height: 12px; max-height: 12px; max-width: 10px; min-height: 12px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                                <td class="border btm"
                                    style="background-image: url('{{ url }}/themes/jade/images/btm.gif'); background-position-y: top; background-repeat: repeat-x; box-sizing: inherit; height: 12px; max-height: 12px; min-height: 12px; padding: 0;">
                                </td>
                                <td class="border brc"
                                    style="background-image: url('{{ url }}/themes/jade/images/brc.gif'); background-position-x: left; background-repeat: no-repeat; box-sizing: inherit; height: 12px; max-height: 12px; max-width: 10px; min-height: 12px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="box-sizing: inherit;">
                <td style="box-sizing: inherit; padding: 0;">
                    <table class="lotgd table"
                        style="border-collapse: collapse; border-spacing: 0; box-sizing: inherit; font-size: inherit; width: 100%;">
                        <tbody>
                            <tr style="box-sizing: inherit;">
                                <td class="border tlc"
                                    style="background-image: url('{{ url }}/themes/jade/images/tlc.gif'); background-position-x: right; background-position-y: bottom; background-repeat: no-repeat; box-sizing: inherit; height: 15px; max-height: 15px; max-width: 10px; min-height: 15px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                                <td class="border tm"
                                    style="background-image: url('{{ url }}/themes/jade/images/tm.gif'); background-position-y: bottom; background-repeat: repeat-x; box-sizing: inherit; height: 15px; max-height: 15px; min-height: 15px; padding: 0;">
                                </td>
                                <td class="border trc"
                                    style="background-image: url('{{ url }}/themes/jade/images/trc.gif'); background-position-x: left; background-position-y: bottom; background-repeat: no-repeat; box-sizing: inherit; height: 15px; max-height: 15px; max-width: 10px; min-height: 15px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                            </tr>
                            <tr style="box-sizing: inherit;">
                                <td class="border tlt"
                                    style="background-image: url('{{ url }}/themes/jade/images/tlt.gif'); background-position-x: right; background-repeat: repeat-y; box-sizing: inherit; max-width: 10px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                                <td class="top aligned" style="box-sizing: inherit; padding: 0; vertical-align: top;">
                                    {{ content }}
                                </td>
                                <td class="border trt"
                                    style="background-image: url('{{ url }}/themes/jade/images/trt.gif'); background-position-x: left; background-repeat: repeat-y; box-sizing: inherit; max-width: 10px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                            </tr>
                            <tr style="box-sizing: inherit;">
                                <td class="border blc"
                                    style="background-image: url('{{ url }}/themes/jade/images/blc.gif'); background-position-x: right; background-repeat: no-repeat; box-sizing: inherit; height: 12px; max-height: 12px; max-width: 10px; min-height: 12px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                                <td class="border btm"
                                    style="background-image: url('{{ url }}/themes/jade/images/btm.gif'); background-position-y: top; background-repeat: repeat-x; box-sizing: inherit; height: 12px; max-height: 12px; min-height: 12px; padding: 0;">
                                </td>
                                <td class="border brc"
                                    style="background-image: url('{{ url }}/themes/jade/images/brc.gif'); background-position-x: left; background-repeat: no-repeat; box-sizing: inherit; height: 12px; max-height: 12px; max-width: 10px; min-height: 12px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr style="box-sizing: inherit;">
                <td style="box-sizing: inherit; padding: 0;">
                    <table class="lotgd table"
                        style="border-collapse: collapse; border-spacing: 0; box-sizing: inherit; font-size: inherit; width: 100%;">
                        <tbody>
                            <tr style="box-sizing: inherit;">
                                <td class="border tlc"
                                    style="background-image: url('{{ url }}/themes/jade/images/tlc.gif'); background-position-x: right; background-position-y: bottom; background-repeat: no-repeat; box-sizing: inherit; height: 15px; max-height: 15px; max-width: 10px; min-height: 15px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                                <td class="border tm"
                                    style="background-image: url('{{ url }}/themes/jade/images/tm.gif'); background-position-y: bottom; background-repeat: repeat-x; box-sizing: inherit; height: 15px; max-height: 15px; min-height: 15px; padding: 0;">
                                </td>
                                <td class="border trc"
                                    style="background-image: url('{{ url }}/themes/jade/images/trc.gif'); background-position-x: left; background-position-y: bottom; background-repeat: no-repeat; box-sizing: inherit; height: 15px; max-height: 15px; max-width: 10px; min-height: 15px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                            </tr>
                            <tr style="box-sizing: inherit;">
                                <td class="border tlt"
                                    style="background-image: url('{{ url }}/themes/jade/images/tlt.gif'); background-position-x: right; background-repeat: repeat-y; box-sizing: inherit; max-width: 10px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                                <td class="top aligned" style="box-sizing: inherit; padding: 0; vertical-align: top;">
                                    <table class="lotgd table"
                                        style="border-collapse: collapse; border-spacing: 0; box-sizing: inherit; font-size: inherit; width: 100%;">
                                        <tbody>
                                            <tr style="box-sizing: inherit;">
                                                <td class="top aligned"
                                                    style="box-sizing: inherit; padding: 0; vertical-align: top;">
                                                    {{ copyright }} <br style="box-sizing: inherit;"> Design: Jade
                                                    Template © Josh Canning 2004 of <a href="http://hfs.cjb.net/"
                                                        target="_blank"
                                                        style="background: transparent; box-sizing: inherit; color: #D1FFD1; text-decoration: none;">HFS</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="border trt"
                                    style="background-image: url('{{ url }}/themes/jade/images/trt.gif'); background-position-x: left; background-repeat: repeat-y; box-sizing: inherit; max-width: 10px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                            </tr>
                            <tr style="box-sizing: inherit;">
                                <td class="border blc"
                                    style="background-image: url('{{ url }}/themes/jade/images/blc.gif'); background-position-x: right; background-repeat: no-repeat; box-sizing: inherit; height: 12px; max-height: 12px; max-width: 10px; min-height: 12px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                                <td class="border btm"
                                    style="background-image: url('{{ url }}/themes/jade/images/btm.gif'); background-position-y: top; background-repeat: repeat-x; box-sizing: inherit; height: 12px; max-height: 12px; min-height: 12px; padding: 0;">
                                </td>
                                <td class="border brc"
                                    style="background-image: url('{{ url }}/themes/jade/images/brc.gif'); background-position-x: left; background-repeat: no-repeat; box-sizing: inherit; height: 12px; max-height: 12px; max-width: 10px; min-height: 12px; min-width: 10px; padding: 0; width: 10px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
