{% use '{theme}/pages/home/_partial.html.twig' %}

{% translate_default_domain 'page-home' %}

<div class="center aligned">

    {{ 'welcome'|t|colorize }}

    {% for tpl, params in includeTemplatesPre %}
        {% include tpl with params %}
    {% endfor %}

    {# Show LotGD clock #}
    {% if gameclock %}
        {{ 'clock'|t({'villagename': villagename, 'gameclock': gameclock})|colorize }}
    {% endif %}

    {# Show how long it takes for the next new day #}
    {% if newdaytimer %}
        {{ 'newdaytimer'|t({'n': newdaytimer})|colorize }}
    {% endif %}

    {# Show the last registered player #}
    {% if newestplayer %}
        {{ 'newestplayer'|t({'newestplayer': newestplayer})|colorize }}
    {% endif %}

    {# Templates old hook "index" #}
    {% for tpl, params in includeTemplatesIndex %}
        {% include tpl with params %}
    {% endfor %}

    {# Results messages of hook "hometext" #}
    {% for message in hookHomeText %}
        {{ message|colorize }}
    {% endfor %}

    {# Show the login form or a full server message #}
    {% if not serverFull %}
        {% block home_login parent() %}
    {% else %}
        {% block home_server_full parent() %}
    {% endif %}

    {# Results messages of hook "homemiddle" #}
    {% for message in hookHomeMiddle %}
        {{ message|colorize }}
    {% endfor %}

    {# Login banner text if exist #}
    {% if loginBanner %}
        {{ '`n`c`b`&%s`0´b´c`n'|format(loginBanner)|colorize }}
    {% endif %}

    {# Version of the game the server is running #}
    {{ 'server.version'|t({ 'version': serverVersion })|colorize }}

    {% for tpl, params in includeTemplatesPost %}
        {% include tpl with params %}
    {% endfor %}

    {% if selectSkin %}
        {% block home_select_skin parent() %}
    {% endif %}
</div>

