{{ '`&`bCurrent MoTD:`b `#by %s`2`n'|t|format(motdauthname)|colorize }}
{{ claninfo.clanmotd|nltoappon|colorize }}
<br>
{{ '`&`bCurrent Description:`b `#by %s`2`n'|t|format(descauthname)|colorize }}
{{ claninfo.clandesc|nltoappon|colorize }}

<form class="ui form" action="{{ 'clan.php?op=motd'|lotgd_url }}" method="POST">
    <div class="field">
        <label>{{ '`&`bMoTD:`b `7(4096 chars)'|t|colorize }}</label>
        <textarea name="clanmotd" cols="50" rows="10">
            {{ claninfo.clanmotd|htmlentities }}
        </textarea>
    </div>
    <div class="field">
        <label>{{ '`&`bDescription:`b `7(4096 chars)'|t|colorize }}</label>
        {% if descriptionblocked %}
            {{ 'Your clan has been blocked from posting a description.`n'|t|colorize }}
        {% else %}
            <textarea name="clandesc" cols="50" rows="10">
                {{ claninfo.clandesc|htmlentities }}
            </textarea>
        {% endif %}
    </div>
    {% if rankleader %}
        <div class="field">
            <label>{{ '`&`bCustom Talk Line`b `7(blank means "says" -- 15 chars max)' }}</label>
            <input name="customsay" value="{{ claninfo.customsay|htmlentities }}" maxlength="15">
        </div>
    {% endif %}
    <div class="field">
        <button type="submit" class="ui button">{{ 'Save'|t }}</button>
    </div>
</form>
