{{ '`$`c`b~ ~ ~ Fight ~ ~ ~´b´c`0'|t|colorize }}

{# Information of criature/s #}
<div class="ui items">
    {% for badguy in enemies %}
        <div class="item">
            {% if badguy.creatureimage %}
                <div class="ui tiny image">
                    <!-- <img src="https://semantic-ui.com/images/wireframe/image.png"> -->
                    <img src="{{ badguy.creatureimage }}" alt="{{ badguy.creaturename }}">
                </div>
            {% endif %}
            <div class="content">
                <div>{{ '`@You have encountered `^%s`@ which lunges at you with `%%%s`@!`0`n'|t|format(badguy.creaturename, badguy.creatureweapon)|colorize }}</div>
                {% if badguy.creaturecategory %}
                    <div class="meta">{{ '`#Category: %s`0'|t|format(badguy.creaturecategory)|colorize }}</div>
                {% endif %}
                {% if badguy.creaturedescription %}
                    <div class="description">
                        <p>{{ badguy.creaturedescription|t|colorize }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

{# Show HP of combatants #}
{% for enemy in battlebars.start.enemies %}
    {% include 'jade/templates/pages/battle/combathealthbar.twig' with enemy %}
{% endfor %}
{% include 'jade/templates/pages/battle/combathealthbar.twig' with battlebars.start.player %}
{% for companion in battlebars.start.companions %}
    {% include 'jade/templates/pages/battle/combathealthbar.twig' with companion %}
{% endfor %}

{# Information when battle start #}
{% for msg in battlestart %}
    {{ msg|t|colorize }}
{% endfor %}

{# Rounds results #}
{% if battlerounds|length %}
    <h5 class="ui top attached header">{{ '`2Result of the `i%s´i rounds`0'|t|format(battlerounds|length)|colorize }}</h5>
    <div class="ui {% if not battleend %}bottom{% endif %} attached divided segment">
        <div class="ui divided list">
            {% for rounds in battlerounds %}
                <div class="item">
                    <div class="ui divided stackable two column grid">
                        <div class="column">
                            {% for allied in rounds.allied %}
                                {{ allied|t|colorize }}
                            {% endfor %}
                        </div>
                        <div class="column">
                            {% for enemy in rounds.enemy %}
                                {{ enemy|t|colorize }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{# Information of end of battle #}
{% if battleend %}
    <h5 class="ui attached header">{{ '`2End of Battle`0'|t|colorize }}</h5>
    <div class="ui bottom attached divided segment">
        {% for msg in battleend %}
            {{ msg|t|colorize }}
        {% endfor %}
    </div>
{% endif %}

{# Show HP of combatants #}
{% for enemy in battlebars.end.enemies %}
    {% include 'jade/templates/pages/battle/combathealthbar.twig' with enemy %}
{% endfor %}
{% if battlebars.end.player %}
    {% include 'jade/templates/pages/battle/combathealthbar.twig' with battlebars.end.player %}
{% endif %}
{% for companion in battlebars.end.companions %}
    {% include 'jade/templates/pages/battle/combathealthbar.twig' with companion %}
{% endfor %}
