<form action="{{ 'creatures.php?op=search'|lotgd_url }}" method="POST">
    {{ 'Search by field: '|t|colorize }}
    <div class='ui action input'>
        <input type="text" name="q" id="q">
        <button type="submit" class="ui button">{{ 'Search'|t }}</button>
    </div>
</form>

<table class="ui very compact striped selectable table">
    <thead>
        <tr>
            <th colspan="8" class="center aligned">
                {% if not searched %}
                    {{ 'Creatures level %s'|t|format(level)|colorize }}
                {% else %}
                    {{ 'Creatures found as "%s"'|t|format(searched)|colorize }}
                {% endif %}
            </th>
        </tr>
        <tr>
            <th>{{ 'Ops'|t }}</th>
            <th>{{ 'Name'|t }}</th>
            <th>{{ 'Category'|t }}</th>
            <th>{{ 'Weapon'|t }}</th>
            <th>{{ 'Script?'|t }}</th>
            <th>{{ 'Win'|t }}</th>
            <th>{{ 'Die'|t }}</th>
            <th>{{ 'Author'|t }}</th>
        </tr>
    </thead>
    <tbody>
        {% for creature in creatures %}
            <tr>
                <td class='collapsing'>
                    [<a data-tooltip="{{ 'Edit'|t }}" href="{{ ('creatures.php?op=edit&creatureid=' ~ creature.creatureid)|lotgd_url }}"><i class="edit icon"></i></a> |
                    <a data-tooltip="{{ 'Del'|t }}" href="{{ ('creatures.php?op=del&creatureid=' ~ creature.creatureid ~ '&level=' ~ creature.creaturelevel)|lotgd_url }}" data-options='{"text" : "{{ 'Are you sure you wish to delete this creature?'|t }}"}' onclick="return Lotgd.confirm(this, event);"><i class="red trash icon"></i></a>]
                </td>
                <td>{{ '(%s) %s (Nv: %s)'|format(creature.creatureid, creature.creaturename, creature.creaturelevel) }}</td>
                <td>{{ creature.creaturecategory }}</td>
                <td>{{ creature.creatureweapon }}</td>
                <td>
                    {% if creatureaiscript %}
                        {{ 'Yes'|t|colorize }}
                    {% else %}
                        {{ 'No'|t|colorize }}
                    {% endif %}
                </td>
                <td>{{ creature.creaturewin }}</td>
                <td>{{ creature.creaturelose }}</td>
                <td>{{ creature.createdby }}</td>
            </tr>
        {% else %}
            <th colspan="8" class="center aligned">{{ 'Not creatures found'|t|colorize }}</th>
        {% endfor %}
    </tbody>
</table>

