<table class="ui very compact striped selectable table">
    <thead>
        <tr>
            <th>{{ 'Name'|t }}</th>
            <th>{{ 'Points'|t }}</th>
            <th>{{ 'Spent'|t }}</th>
        </tr>
    </thead>
    <tbody>
        {% for row in content %}
            <tr>
                <td>{{ '`^%s`0'|format(row.name)|colorize }}</td>
                <td>{{ '`@%s`0'|format(row.donation|numeral)|colorize }}</td>
                <td>{{ '`%%%s`0'|format(row.donationspent|numeral)|colorize }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'Not found donators'|t|colorize }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
