{{ laminas_form_label_open_tag(element) }}
    {% set label = element.label|tst(translatorTextDomain) %}

    {% if escapeLabel %}
        {% set label = label|e('html') %}
    {% endif %}

    {# Render text #}
    {{ label }}

    {% set note = element.getOption('note') %}

    {% if note %}
        {% set noteLabel = 'element.has.note'|tst('app-form') %}
        <span aria-label="{{ noteLabel }}" data-tooltip="{{ noteLabel }}">
            <i aria-hidden="true" class="blue info icon"></i>
        </span>
    {% endif %}
{{ laminas_form_label_close_tag() }}
