<div class="ui lotgd {{ class }} segment">
    {% if title %}
        <h4 class="ui {{ title.class }} header">
            {{ title.content }}
            {% if label %}
                <span class="ui {{ label.class }} label">{{ label.label }}</span>
            {% endif %}
        </h4>
    {% endif %}
    {{ content }}
</div>
