{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_nav %}{% endblock %}

{% block logo %}{% endblock %}

{% block sonata_left_side %}{% endblock %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}

{% block sonata_wrapper %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('sonata_admin_dashboard') }}">
                <span>Login</span>
            </a>
        </div>
        <div class="login-box-body">
            {% block sonata_user_login_form %}
                {% block sonata_user_login_error %}
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                {% endblock %}
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% trans_default_domain 'lotgd_admin_default' %}

                <p class="login-box-msg">{{ 'login.authentication'|trans }}</p>
                <form action="{{ path("lotgd_admin_login") }}" method="post" role="form">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" id="username" name="username" value="{{ last_username }}" required="required" placeholder="{{ 'form.email'|trans }}"/>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" id="password" name="password" required="required" placeholder="{{ 'form.password'|trans }}"/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                        </div>
                    </div>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock sonata_wrapper %}


