{% trans_default_domain textDomain %}

{% set menu = '' %}
{% set segment = '' %}
{% for name, config in gameCaches %}
    {% set menu = menu ~ '<a class="%s item" data-tab="%s">%s</a>'|format(
        loop.index == 1 ? 'active' : '',
        name,
        config.title is defined ? config.title : name
    ) %}

    {% set segment = segment ~ '<div class="ui %s tab segment" data-tab="%s">'|format(
        loop.index == 1 ? 'active' : '',
        name
    ) %}

    {% set nameE = name|replace({'\\' : '\\\\'}) %}

    {% set segment = segment ~ '<div class="ui header">%s</div>'|format(config.description|default(name)) %}
    {% set segment = segment ~ '<div class="ui buttons">' %}
    {% set segment = segment ~ '<a onclick="Lotgd.datacache(\'%s\', \'optimize\', JaxonLotgd)" class="ui button">Optimize cache</a>'|format(nameE) %}
    {% set segment = segment ~ '<a onclick="Lotgd.datacache(\'%s\', \'clearexpire\', JaxonLotgd)" class="ui yellow button">Clear expire cache</a>'|format(nameE) %}
    {% set segment = segment ~ '<a onclick="Lotgd.datacache(\'%s\', \'clearall\', JaxonLotgd)" class="ui red button">Clear all cache</a>'|format(nameE) %}
    {% set segment = segment ~ '<a onclick="Lotgd.datacache(\'%s\', \'clearbyprefix\', JaxonLotgd)" class="ui orange button">Clear by prefix cache</a>'|format(nameE) %}
    {% set segment = segment ~ '</div>' %}

    {% set segment = segment ~ '</div>' %}
{% endfor %}

<h3 class="ui block header">{{ 'section.cache.description'|trans|colorize }}</h3>
<div class="ui warning message">{{ 'section.cache.twig_warning'|trans|uncolorize }}</div>
<div class="ui warning message">{{ 'section.cache.deprecated_warning'|trans|uncolorize }}</div>
<div class="ui grid">
    <div class="four wide column">
        <div class="ui lotgd vertical fluid tabular menu">
            {{ menu }}
        </div>
    </div>
    <div class="twelve wide stretched column">
        {{ segment|colorize }}
    </div>
</div>
<br>
<div class="ui warning message">{{ 'section.cache.note'|trans|uncolorize }}</div>
<div class="ui error message">{{ 'section.cache.unmanage'|trans|uncolorize }}</div>
<div class="ui info message">{{ 'section.cache.cached'|trans|uncolorize }}</div>
