{% use '@symfonyForm/form_div_layout.html.twig' %}

{%- block form_start -%}
    {%- set attr = attr|merge({class: ('ui ' ~ attr.class|default(''))|trim }) -%}
    {%- set attr = attr|merge({class: attr.class ~ ' form' }) -%}
    {%- set attr = attr|merge({class: attr.class ~ (errors|length ? ' error' : '') }) -%}
    {{- parent() -}}

    <div class="right floated header item">
        <span class="ui red text" id="show-hidde-info-note-form-{{ name }}">{{ 'show.hide.note.info'|tst('app-form') }}</span>
    </div>

    {# Scripts for control #}
    <script>
        /* global $ */
        $('#show-hidde-info-note-form-{{ name }}').on('click', function ()
        {
            const form = $('form[name="{{ name }}"]')

            if (form.hasClass('info'))
            {
                form.removeClass('info')
                $(this).removeClass('green').addClass('red')

                return
            }

            form.addClass('info')
            $(this).removeClass('red').addClass('green')
        })
    </script>
{%- endblock form_start -%}

{# Widgets #}

{%- block range_widget -%}
    {% set type = 'hidden' %}

    <div class="ui grid">
        <div class="two wide column"><span class="ui right pointing fluid right aligned label" id="value-{{ id }}">{{ value }}</span></div>
        <div class="fourteen wide column"><div class="ui {{ attr.disable_slider_labels ? '' : 'labeled' }} slider" id="{{ id }}-range"></div></div>
    </div>
    {{- block('form_widget_simple') -}}
    <script>
        /* global $ */
        $('#{{ id }}-range').slider({
            min: '{{ attr.min }}',
            max: '{{ attr.max }}',
            start: '{{ value }}',
            step: '{{ attr.step|default("1") }}',
            onMove: function (value)
            {
                $('#{{ id }}').val(value)
                $('#value-{{ id }}').text(value)
            }
        })
    </script>
{%- endblock range_widget %}

{%- block button_widget -%}
    {%- set attr = attr|merge({class: ('ui ' ~ attr.class|default(''))|trim}) -%}
    {%- set attr = attr|merge({class: attr.class ~ ' button'}) -%}
    {{- parent() -}}
{%- endblock %}

{%- block choice_widget_collapsed -%}
    {%- set attr = attr|merge({class: ('ui lotgd ' ~ attr.class|default(''))|trim}) -%}
    {%- set attr = attr|merge({class: (attr.class ~ ' dropdown')}) -%}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for name, choices in form.vars.choices -%}
            {% if choices is iterable %}
                <div class="field">
                    <em>{{ name|trans({}, choice_translation_domain)}}</em>
                </div>
                {% for key, choice in choices %}
                    <div class="field">
                        {{- form_widget(form[key]) -}}
                    </div>
                {% endfor %}
            {% else %}
                <div class="field">
                    {{- form_widget(form[name]) -}}
                </div>
            {% endif %}
        {%- endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block datetime_widget -%}
    {% apply spaceless %}
        {% if widget == 'single_text' %}
            {% set type = 'text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form.date) }}
                {{ form_errors(form.time) }}
                <div class="fields">
                    <div class="field">
                        {{ form_widget(form.date) }}
                    </div>
                    <div class="field">
                        {{ form_widget(form.time) }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endapply %}
{%- endblock datetime_widget -%}

{%- block date_widget -%}
    {% apply spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                <div class="fields">
                    {{ date_pattern|replace({
                        '{{ year }}':  '<div class="field">' ~ form_widget(form.year) ~ '</div>',
                        '{{ month }}': '<div class="field">' ~ form_widget(form.month) ~ '</div>',
                        '{{ day }}':   '<div class="field">' ~ form_widget(form.day) ~ '</div>',
                    })|raw }}
                </div>
            </div>
        {% endif %}
    {% endapply %}
{%- endblock date_widget -%}

{%- block time_widget -%}
    {% apply spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
            <div {{ block('widget_container_attributes') }}>
                <div class="fields">
                    <div class="field">
                        {{ form_widget(form.hour, vars) }}
                    </div>
                    <div class="field">:</div>
                    <div class="field">
                        {{ form_widget(form.minute, vars) }}
                    </div>
                    {% if with_seconds %}
                        <div class="field">:</div>
                        <div class="field">
                            {{ form_widget(form.second, vars) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endapply %}
{%- endblock time_widget %}

{%- block dateinterval_widget -%}
    {{- block('form_widget_simple') -}}
{%- endblock dateinterval_widget -%}

{%- block checkbox_widget -%}
    {% apply spaceless %}
        <div class="ui toggle checkbox lotgd">
            {{ parent() }}
            {{ form_label(form)}}
        </div>
    {% endapply %}
{%- endblock checkbox_widget %}

{%- block radio_widget -%}
    {% apply spaceless %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' hidden')|trim}) %}
        <div class="ui slider checkbox lotgd">
            {{ parent() }}
            {{ form_label(form)}}
        </div>
    {% endapply %}
{%- endblock radio_widget %}

{%- block collection_widget -%}
    {% if prototype is defined and not prototype.rendered %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype)|e('html_attr') }) -%}
    {% endif %}
    {{- block('form_widget') -}}
{%- endblock collection_widget -%}

{# Labels #}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
            {%- if translation_domain is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- endif -%}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}

{# Help #}

{% block form_help -%}
    {%- if help is not empty -%}
        {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' ui info message')|trim}) -%}
        <p id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
            {%- if translation_domain is same as(false) -%}
                {%- if help_html is same as(false) -%}
                    {{- help -}}
                {%- else -%}
                    {{- help|raw -}}
                {%- endif -%}
            {%- else -%}
                {%- if help_html is same as(false) -%}
                    {{- help|trans(help_translation_parameters, translation_domain) -}}
                {%- else -%}
                    {{- help|trans(help_translation_parameters, translation_domain)|raw -}}
                {%- endif -%}
            {%- endif -%}
        </p>
    {%- endif -%}
{%- endblock form_help %}

{# Rows #}

{%- block translatable_row -%}

    {% set sanitized_name = full_name|replace({'[' : '_', ']' : '_'}) %}

    <div {{ block('row_attributes') }} id="{{ sanitized_name }}translatable">
        <div class="ui top attached translatable tabular menu">
            {{- form_label(form) -}}
            {% for locale in locales %}
                <a class="item {{ loop.first ? 'active':'' }}" data-tab="{{ sanitized_name ~ locale ~ "_tab" }}">
                    {{ locale }}
                    {% if locale in required_locale %}
                        <span class="ui text red">*</span>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        {% for locale in locales %}
            <div class="ui bottom attached tab segment {{ loop.first ? 'active':'' }}" data-tab="{{ sanitized_name ~ locale ~ "_tab" }}">
                {{- form_widget(attribute(form, locale ~ '_' ~ name)) -}}
                {{- form_help(attribute(form, locale ~ '_' ~ name)) -}}
                {{- form_errors(attribute(form, locale ~ '_' ~ name)) -}}
            </div>
        {% endfor %}
    </div>
{%- endblock -%}

{%- block form_row -%}
    <div {{ block('row_attributes') }}>
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_help(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{%- block button_row -%}
    <div {{ block('row_attributes') }}>
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{%- block checkbox_row -%}
    <div {{ block('row_attributes') }}>
        {{- form_widget(form) -}}
    </div>
    {{- form_errors(form) -}}
{%- endblock checkbox_row -%}

{%- block radio_row -%}
    <div {{ block('row_attributes') }}>
        {{- form_widget(form) -}}
    </div>
    {{- form_errors(form) -}}
{%- endblock radio_row -%}

{# Support #}

{%- block form_errors -%}
    {% apply spaceless %}
        {% if errors|length > 0 %}
            <div class="ui error message">
                <div class="ui list">
                {% for error in errors %}
                    <div class="item">
                        <i aria-hidden="true" class="warning sign icon"></i> {{ error.message }}
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endapply %}
{%- endblock form_errors -%}

{%- block row_attributes -%}
    {% apply spaceless %}
        {% set attr = {'class': 'field'} %}
        {% if required is defined and required %}
            {% set attr = attr|merge({class: 'required ' ~ attr.class}) %}
        {% endif %}
        {% if valid is defined and not valid %}
            {% set attr = attr|merge({class: attr.class ~ ' error'}) %}
        {% endif %}
        {{ block('attributes') }}
    {% endapply %}
{%- endblock row_attributes -%}
