{% trans_default_domain textDomain %}

<h3>{{ 'title'|trans({'level': weaponLevel})|colorize }}</h3>

<table class="ui very compact striped selectable table">
    <thead>
        <th scope="col">{{ 'table.header.ops'|trans|uncolorize }}</th>
        <th scope="col">{{ 'table.header.name'|trans|uncolorize }}</th>
        <th scope="col">{{ 'table.header.cost'|trans|uncolorize }}</th>
        <th scope="col">{{ 'table.header.damage'|trans|uncolorize }}</th>
        <th scope="col">{{ 'table.header.level'|trans|uncolorize }}</th>
    </thead>
    <tbody>
        {% for weapon in weapons %}
            {% set options = {'text': 'table.body.del.confirm'|trans|uncolorize } %}
            <tr>
                <td class="collapsing">
                    <div class="ui mini icon buttons">
                        <a data-tooltip="{{ 'table.body.edit'|trans|uncolorize }}" class="ui orange icon button" href="{{ ('weaponeditor.php?op=edit&id=' ~ weapon.weaponid ~ '&level=' ~ weaponLevel)|lotgd_url }}">
                            <i aria-hidden="true" class="edit icon"></i>
                        </a>
                        <a data-tooltip="{{ 'table.body.del.label'|trans|colorize }}" class="ui red icon button" href="{{ ('weaponeditor.php?op=del&id=' ~ weapon.weaponid ~ '&level=' ~ weaponLevel)|lotgd_url }}" onclick="Lotgd.confirm(this, event)" data-options="{{ options|json_encode()|escape('html_attr') }}">
                            <i aria-hidden="true" class="trash icon"></i>
                        </a>
                    </div>
                </td>
                <td>{{ weapon.weaponname }}</td>
                <td>{{ weapon.value|numeral }}</td>
                <td>{{ weapon.damage }}</td>
                <td>{{ weapon.level }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
