{% translate_default_domain 'page-motd' %}

<div class="item" id="motd-list-item-{{ motd.motditem }}">
    <div class="content">
        <div class="header">{{ 'item.poll.poll'|t|colorize }}: {{ motd.motdtitle }}</div>
        <div class="meta">
            {% if SU_POST_MOTD %}
                {% set options = {
                    'icon': 'question',
                    'showCancelButton': true,
                    'preConfirm': "JaxonLotgd.Ajax.Core.Motd.delete(%1$s); $('#motd-list-item-edit-%1$s, #motd-list-item-delete-%1$s').addClass('disabled');"|format(motd.motditem),
                    'text': 'item.del.confirm'|t|uncolorize
                } %}
                {% set options = options|json_encode()|escape('html_attr') %}
                <a
                    id="motd-list-item-delete-{{ motd.motditem }}"
                    role="button"
                    class="ui mini red icon button"
                    onclick="Lotgd.swal({{ options }});"
                    data-tooltip="{{ 'item.del.label'|t|uncolorize}}"
                    aria-label="{{ 'item.del.label'|t|uncolorize}}"
                >
                    <i class="trash icon" aria-hidden="true"></i>
                </a>
            {% endif %}
            <span class="author"><i aria-hidden="true" class="large poll icon"></i> {{ (motd.motdauthorname ?: 'item.author'|t)|colorize }}</span>
            <small class="date colLtCyan">{{ '{date,date,medium} {date,time}'|tmf({'date': motd.motddate }) }}</small>
        </div>
        <div class="description colDkGreen">
            <p>{{ motd.motdbody.body|nl2br|colorize }}</p>
        </div>
        <div class="ui hidden divider"></div>
        <div class="content">
            <form class="ui small items" action="{{ 'motd.php?op=vote'|lotgd_url }}" method="POST">
                <input type="hidden" name="motditem" value="{{ motd.motditem }}">
                {% set vote = 'item.poll.vote'|t|uncolorize %}
                {% if user.loggedin %}
                    {% if motd.pollResult.userVote is defined and motd.pollResult.userVote is not null %}
                        {{ 'item.poll.result.warning'|t|colorize }}
                    {% else %}
                        {{ 'item.poll.warning'|t|colorize }}
                    {% endif %}
                {% endif %}
                {% for id, option in motd.motdbody.opt %}
                    <div class="item">
                        <div class="ui mini image center aligned">
                            {% if user.loggedin %}
                                {% set class = (motd.pollResult.userVote is defined and motd.pollResult.userVote is not null) ? 'grey disabled' : '' %}
                                {% set class = (motd.pollResult.userVote is defined and motd.pollResult.userVote is not null and motd.pollResult.userVote == id) ? 'green disabled' : class %}
                                {% set js = "JaxonLotgd.Ajax.Core.Motd.vote(%s, %s); $('.voting.icon.button').addClass('loading disabled')"|format(motd.motditem, id) %}
                                {% set onclick = motd.pollResult.userVote is defined and motd.pollResult.userVote is not null ? '' : js %}
                                <span data-tooltip="{{ vote }}">
                                    <a
                                        role="button"
                                        class="ui {{ class }} voting icon button"
                                        aria-label="{{ vote }}"
                                        onclick="{{ onclick }}"
                                    >
                                        <i class="large thumbs up icon"></i>
                                    </a>
                                </span>
                            {% else %}
                                <i aria-hidden="true" class="huge dragon icon"></i>
                            {% endif %}
                        </div>
                        <div class="content">
                            <div class="header">{{ option|colorize }}</div>
                            {% set percent = motd.pollResult.totalVotes ? (motd.pollResult.opt[id] / motd.pollResult.totalVotes) : 0 %}
                            {% set params = {'votes': motd.pollResult.opt[id], 'percent': percent} %}
                            <spam class="meta">{{ 'item.poll.result.opt'|t(params)|colorize }}</spam>
                            <div class="description">
                                <div class="ui remove margin tiny green progress" data-value="{{ motd.pollResult.opt[id] }}" data-total="{{ motd.pollResult.totalVotes }}">
                                    <div class="bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
