<form action="{{ ('donators.php?op=add1&ret=' ~ ret)|lotgd_url }}" method="POST" class="ui form">
    {{ '`bAdd Donation Points:`b`n'|t|colorize }}
    <div class="inline field">
        <label>{{ 'Character: '|t|colorize }}</label>
        <input type="text" name="name" value="{{ data.name|htmlentities }}">
    </div>
    <div class="inline field">
        <label>{{ 'Points: '|t|colorize }}</label>
        <input type="text" name="amt" value="{{ data.amt|htmlentities }}">
    </div>
    <div class="inline field">
        <label>{{ 'Reason: '|t|colorize }}</label>
        <input type="text" name="reason" value="{{ data.reason|htmlentities }}">
    </div>
    <input type="hidden" name="txnid" value="{{ data.txnid|htmlentities }}">
    {% if data.txnid %}
        <br>
        {{ 'For transaction: %s`n'|t|format(txnid)|colorize }}
    {% endif %}

    <div class="field">
        <input type="submit" class="ui button" value="{{ 'Add Donation'|t }}">
    </div>
</form>
