{{ 'Confirm the addition of %s points to:`n'|t|format(amt)|colorize }}
{% if reason %}
    {{ '(Reason: `^`b`i%s`i`b`0)`n`n'|t|format(reason)|colorize }}
{% endif %}

{% set return = ret ? '&ret=%s'|format(ret|rawurlencode) : ''  %}
{% set txn = ret ? '&txnid=%s'|format(txnid|rawurlencode) : ''  %}
{% for row in content %}
    <a href="{{ ('donators.php?op=add2&id=' ~ row.acctid ~ '&amt=' ~ amt ~ return ~ txn ~ '&reason=' ~ reason|rawurlencode)|lotgd_url }}">{{ row.name|colorize }} ({{ row.donation|numeral }} / {{ row.donationspent|numeral }})</a>
    <br>
{% else %}
    {{ '`$Nothing found`0`n'|t|colorize }}
{% endfor %}
