{% trans_default_domain textDomain %}

<div class="ui secondary donation button" role="button">{{ 'form.button.modal'|trans|uncolorize }}</div>
<br>
<br>

{% include 'admin/page/donators/' ~ tpl|default('default') ~ '.html.twig' %}

<div class="ui donation modal">
    <div class="header">
        {{ 'form.header'|trans|colorize }}
    </div>
    <div class="content">
        <form action="{{ 'donators.php?op=add'|lotgd_url }}" class="ui form" method="POST" id="formManualDonation">
            <div class="field">
                <label for="character">{{ 'form.label.character'|trans|colorize }}</label>
                <input type="text" name="name" id="character" value="{{ name }}">
            </div>
            <div class="field">
                <label for="amt">{{ 'form.label.amt'|trans|colorize }}</label>
                <input type="number" name="amt" id="amt" value="{{ amt }}">
            </div>
            <div class="field">
                <label for="reason">{{ 'form.label.reason'|trans|colorize }}</label>
                <input type="text" name="reason" id="reason" value="{{ reason }}">
            </div>

            {% if txnid %}
                <div class="field">
                    <label for="txnid">{{ 'form.label.txnid'|trans|colorize }}</label>
                    <input type="hidden" name="txnid" value="{{ txnid }}">
                    {{ txnid }}
                </div>
            {% endif %}
        </form>
    </div>
    <div class="actions">
        <div class="ui approve blue button">{{ 'form.button.submit'|trans|uncolorize }}</div>
        <div class="ui cancel red button">{{ 'form.button.cancel'|trans|uncolorize }}</div>
    </div>
</div>

<script>
    /* global $ */
    $('.donation.modal').modal({
        onApprove: () =>
        {
            $('#formManualDonation').submit()
        }
    }).modal('attach events', '.donation.button', 'show')
</script>
