{% trans_default_domain 'page_debug' %}

<table class="ui very compact striped selectable table">
    <thead>
        <tr>
            <th scope="col">{{ 'table.thead.category'|trans|colorize }}</th>
            <th scope="col">{{ 'table.thead.subCategory'|trans|colorize }}</th>
            <th scope="col">{{ 'table.thead.sum'|trans|colorize }}</th>
            <th scope="col">{{ 'table.thead.med'|trans|colorize }}</th>
            <th scope="col">{{ 'table.thead.hits'|trans|colorize }}</th>
        </tr>
    </thead>
    <tbody>
        {% for debug in paginator %}
            <tr>
                <td>{{ debug.category }}</td>
                <td>{{ debug.subcategory }}</td>
                <td>{{ debug.sum }}</td>
                <td>{{ debug.medium }}</td>
                <td>{{ debug.counter }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
