{% translate_default_domain textDomain %}

{{ 'paragraph'|t({
    'dragonprime': '<a href="http//www.dragonprime.net" target="_blank" rel="noopener noreferrer">DragonPrime</a>',
    'idmarinas': '<a href="https://github.com/idmarinas/lotgd-game" target="_blank" rel="noopener noreferrer">IDMarinas Edition</a>'
})|colorize }}

<ul>
    <li>{{ 'ul.li.releasing'|t|colorize }}</li>
    <li>{{ 'ul.li.removing'|t|colorize }}</li>
    <li>{{ 'ul.li.portions'|t|colorize }}</li>
    <li>{{ 'ul.li.claiming'|t|colorize }}</li>
</ul>

