{% if moderator %}
    {% set title = 'Superuser / Moderator renaming'|t %}
    <a onclick="Lotgd.modalForm(this.getAttribute('data-modal'), '{{ title }}', 'moderation-modal');" class="ui orange button" data-modal="{{ moderatorform }}">{{ 'Edit Clan Info'|t }}</a>
{% endif %}

{{ clan.clandesc|nltoappon }}
<br><br>
{{ '`0This is the current clan membership of %s < %s >:`n'|t|format(clan.clanname, clan.clanshort)|colorize }}

<table class='ui very compact striped selectable table'>
    <thead>
        <tr>
            <th>{{ 'Rank'|t|colorize }}</th>
            <th>{{ 'Name'|t|colorize }}</th>
            <th>{{ 'Dragon Kills'|t|colorize }}</th>
            <th>{{ 'Join Date'|t|colorize }}</th>
        </tr>
    </thead>
    <tbody>
        {% set dkTotal = 0 %}
        {% for member in members %}
            {% set dkTotal = dkTotal + member.dragonkills %}
            <tr>
                <td>{{ ranks[member.clanrank]|t|colorize }}</td>
                <td><a href="{{ link }}">{{ '`&%s`0'|format(member.name)|colorize }}</a></td>
                <td>{{'`$%s`0'|format(member.dragonkills)|colorize }}</td>
                <td>{{'`3%s`0'|format(member.clanjoindate)|colorize }}</td>
            </tr>
        {% else %}
            <tr>
                <td>{{ '`$This clan not have members`0'|t|colorize }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{{ '`n`n`^This clan has a total of `$%s`^ dragon kills.'|t|format(dkTotal)|colorize }}
