<form class="ui form" action="{{ 'clan.php?op=new&apply=1'|lotgd_url }}" method="POST">
    {{ '`b`cNew Clan Application Form´c`b'|t|colorize }}
    <div class="inline field">
        <label>{{ 'Clan Name:'|t|colorize }}</label>
        <input name="clanname" maxlength='50' value="{{ clanname }}">
    </div>
    <div class="inline field">
        <label>{{ 'Short Name:'|t|colorize }}</label>
        <input name="clanshort" maxlength='5' size='5' value="{{ clanshort }}">
    </div>
    <div class="ui info message">
        {{ 'Note, color codes are permitted in neither clan names nor short names.'|t|colorize }}
        {{ "The clan name is shown on player bios and on clan overview pages while the short name is displayed next to players' names in comment areas and such."|t|colorize }}
    </div>

    <input type='submit' class='ui button' value='{{ 'Apply'|t }}'>
</form>
