<table class="ui very compact striped table">
    {% set cat = '' %}
    {% for module in result %}
        {% if cat != module.category %}
            <thead>
                <tr>
                    <th colspan="4">{{ module.category|t }}</th>
                </tr>
                {% set cat = module.category %}
                <tr>
                    <th class="collapsing">{{ 'Module Name'|t }}</th>
                    <th class="collapsing">{{ 'Version'|t }}</th>
                    <th>{{ 'Module Author'|t }}</th>
                    <th class="collapsing">{{ 'Download Location'|t }}</th>
                </tr>
            </thead>
        {% endif %}

        <tr>
            <td class="collapsing">{{ '`&%s`0'|format(module.formalname)|colorize }}</td>
            <td class="collapsing">{{ '`^%s`0'|format(module.version)|colorize }}</td>
            <td>{{ '`^%s`0'|format(module.moduleauthor)|colorize }}</td>
            <td class="collapsing">
                {% if module.download == 'core_module' %}
                    <a href="http://dragonprime.net/index.php?module=Downloads;catd=4" target="_blank">{{ 'Core Distribution'|t }}</a>
                {% elseif module.download %}
                    {% if isValidProtocol(module.download) %}
                        {{ '<a href="%s" target="_blank">%s</a>'|format(module.download, 'Download'|t) }}
                    {% else %}
                        {{ '`$Contact Admin for Release'|t|colorize }}
                    {% endif %}
                {% else %}
                    {{ '`$Not publically released.`0'|t|colorize }}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tbody><tr><td>{{ '`i-- No modules installed --´i'|t }}</td></tr></tbody>
    {% endfor %}
</table>
