{# Show only to administrators #}
{% if administrator %}
	<br> <a href="{{ 'user.php'|lotgd_url }}">{{ ueditor }}</a> <span>|</span> <a href='{{ 'viewpetition.php'|lotgd_url }}'>{{ petition }}</a>
	{{ petitioncount }}
{% endif %}
