{% trans_default_domain textDomain %}

<table class="ui very compact striped selectable table" aria-describedby="page-title">
    <thead>
        <tr>
            <th scope="col">{{ 'removeban.table.header.ops'|trans|colorize }}</th>
            <th scope="col">{{ 'removeban.table.header.bauth'|trans|colorize }}</th>
            <th scope="col">{{ 'removeban.table.header.ipd'|trans|colorize }}</th>
            <th scope="col">{{ 'removeban.table.header.dur'|trans|colorize }}</th>
            <th scope="col">{{ 'removeban.table.header.mssg'|trans|colorize }}</th>
            <th scope="col">{{ 'removeban.table.header.aff'|trans|colorize }}</th>
            <th scope="col">{{ 'removeban.table.header.last'|trans|colorize }}</th>
        </tr>
    </thead>
    <tbody>
        {% set liftban = 'removeban.table.body.link.liftban'|trans|colorize %}
        {% set affected = 'removeban.table.body.link.affected'|trans|colorize %}
        {% for row in paginator %}
            <tr>
                <td>
                    <a href="{{ ('bans.php?op=delban&ipfilter='~ row.ipfilter|e('url') ~ '&uniqueid=' ~ row.uniqueid|e('url'))|lotgd_url }}">{{ liftban }}</a>
                </td>
                <td>{{ '`&%s`0'|format(row.banner)|colorize }}</td>
                <td>
                    {{ row.ipfilter }}
                    {{ row.uniqueid }}
                </td>
                <td>{{ row.banexpire|relative_date('perma') }}</td>
                <td>{{ row.banreason|colorize }}</td>
                <td>
                    <span
                        data-controller="remote-modal"
                        data-remote-modal-allow-background-close="true"
                        data-remote-modal-url-value="{{ stimulus_url('Lotgd\\Core\\Controller\\BansController', 'showAffected') }}"
                        data-remote-modal-reload-data-value="true"
                    >
                        <button
                            type="button"
                            class="relative w-auto py-1 ml-2"
                            data-remote-modal-target="activator"
                            data-action="click->remote-modal#open"
                            data-remote-modal-ip-param="{{ row.ipfilter }}"
                            data-remote-modal-id-param="{{ row.uniqueid }}"
                        >
                            {{ affected }}
                        </button>

                        <div
                            data-remote-modal-target="container"
                            data-action="click->remote-modal#closeBackground keyup@window->remote-modal#closeWithKeyboard"
                            class="transition duration-500 ease-in-out fixed inset-0 overflow-y-auto flex items-center justify-center whitespace-normal hidden"
                        ></div>
                    </span>
                </td>
                <td>{{ row.lasthit|relative_date }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'removeban.table.empty'|trans|colorize }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
