{% trans_default_domain textDomain %}

<table class="ui very compact striped selectable table">
    <thead>
        <tr>
            <th>{{ 'removeban.table.header.ops'|trans|colorize }}</th>
            <th>{{ 'removeban.table.header.bauth'|trans|colorize }}</th>
            <th>{{ 'removeban.table.header.ipd'|trans|colorize }}</th>
            <th>{{ 'removeban.table.header.dur'|trans|colorize }}</th>
            <th>{{ 'removeban.table.header.mssg'|trans|colorize }}</th>
            <th>{{ 'removeban.table.header.aff'|trans|colorize }}</th>
            <th>{{ 'removeban.table.header.last'|trans|colorize }}</th>
        </tr>
    </thead>
    <tbody>
        {% set liftban = 'removeban.table.body.link.liftban'|trans|colorize %}
        {% set affected = 'removeban.table.body.link.affected'|trans|colorize %}
        {% for row in paginator %}
            <tr>
                <td>
                    <a href="{{ ('bans.php?op=delban&ipfilter='~ row.ipfilter|e('url') ~ '&uniqueid=' ~ row.uniqueid|e('url'))|lotgd_url }}">{{ liftban }}</a>
                </td>
                <td>{{ '`&%s`0'|format(row.banner)|colorize }}</td>
                <td>
                    {{ row.ipfilter }}
                    {{ row.uniqueid }}
                </td>
                <td>{{ row.banexpire|relative_date('perma') }}</td>
                <td>{{ row.banreason|colorize }}</td>
                <td><a href onclick="JaxonLotgd.Ajax.Core.Bans.showAffected('{{ row.ipfilter }}', '{{ row.uniqueid }}'); return false;">{{ affected }}</a></td>
                <td>{{ row.lasthit|relative_date }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'removeban.table.empty'|trans|colorize }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
