{% block create_server_full %}
    {% trans_default_domain textDomain %}

    <div class="flex justify-center">
        <div class="flex-none w-52"><img src="images/Medallion-Red.gif" class="w-full" alt="{{ 'serverfull'|trans|uncolorize }}"></div>
    </div>
    <div class="flex justify-center">
        <div class="flex-none w-80">{{ 'serverfull'|trans|colorize }}</div>
    </div>
{% endblock create_server_full %}

{% block create_forgot %}
    {% trans_default_domain textDomain %}

    <form action="{{ 'create.php?op=forgot'|lotgd_url }}" method="POST">
        <div class="flex">
            <label for="charname">{{ 'forgot.label'|trans|colorize }}</label>
        </div>
        <div class="flex gap-4">
            <div class="flex-grow"><input id="charname" type="text" name="charname"></div>
            <div class="flex-none w-full md:w-64"><input type="submit" class="ui button" value="{{ 'forgot.button'|trans|uncolorize }}"></div>
        </div>
    </form>
{% endblock create_forgot %}

{% block create_forgot_val %}
    {% trans_default_domain textDomain %}

    {{ 'validating.pass.success'|trans|colorize }}
    <form action="{{ 'login.php'|lotgd_url }}" method="POST">
        <input name="name" value="{{ account.login }}" type="hidden">
        <input name="password" value="!md52!{{ account.password }}" type="hidden">
        <input name="force" value="1" type="hidden">
        <div class="field">
            <button class="ui button" type="submit">{{ 'validating.pass.button.login'|trans|uncolorize }}</button>
        </div>
    </form>
    <br><br>
    {% if acctTrash %}
        {{ 'create.inactivity.acctTrash'|trans({'n': acctTrash})|colorize }}
    {% endif %}

    {% if acctNew %}
        {{ 'create.inactivity.acctNew'|trans({'n': acctNew})|colorize }}
    {% endif %}

    {% if acctOld %}
        {{ 'create.inactivity.acctOld'|trans({'n': acctOld})|colorize }}
    {% endif %}
{% endblock create_forgot_val %}

{% block create_email_val %}
    {% trans_default_domain textDomain %}

    {{ 'validating.email.title'|trans|colorize }}

    {{ 'validating.email.paragraph.success'|trans({'login': account.login})|colorize }}

    {% if showLoginButton %}
        {# no auto-login for email changers #}
        <form action="login.php" method="POST">
            <input name="name" value="{{ account.login }}" type="hidden">
            <input name="password" value="!md52!{{ account.password }}" type="hidden">
            <input name="force" value="1" type="hidden">
            <div class="field">
                <button class="ui button" type="submit">{{ 'validating.email.button.login'|trans|uncolorize }}</button>
            </div>
        </form>
    {% endif %}
{% endblock create_email_val %}

{% block create_account_disabled %}
    {% trans_default_domain textDomain %}

    {{ 'create.account.disabled.message'|trans|colorize }}
    {{ 'create.account.disabled.contact'|trans|colorize }}
{% endblock create_account_disabled %}

{% block create_account_create %}
    {% trans_default_domain textDomain %}

    {{ 'create.title'|trans|colorize }}

    <br>
    <form action="{{ ('create.php?op=create' ~ refer)|lotgd_url }}" method="POST" onsubmit="Lotgd.md5PassRegister();">
        <input type="hidden" name="passlen" id="passlen" value="0">
        <div class="ui form">
            <div class="required field">
                <label for="character">{{ 'create.form.input.name'|trans|colorize }}</label>
                <input type="text" name="name" id="character" />
            </div>
            <div class="required field">
                <label for="pass1">{{ 'create.form.input.password'|trans|colorize }}</label>
                <input type='password' name='pass1' id='pass1'>
            </div>
            <div class="required field">
                <label for="pass2">{{ 'create.form.input.rePassword'|trans|colorize }}</label>
                <input type='password' name='pass2' id='pass2'>
            </div>
            <div class="{{ requireEmail ? 'required' }} field">
                <label>{{ 'create.form.input.email.label'|trans|colorize }}</label>
                <input type="email" name='email'>
                <div class="ui info message">
                        {% if not requireEmail %}
                            {{ 'create.form.input.email.message.optional'|trans|uncolorize }}
                        {% elseif requireValideMail %}
                            {{ 'create.form.input.email.message.validate'|trans|uncolorize }}
                        {% endif %}
                </div>

                {% if reqemailtext %}
                    <div class="ui info message">{{ reqemailtext|trans|uncolorize }}</div>
                {% endif %}
            </div>
            <div class="inline fields">
                <label id="sex">{{ 'create.form.input.checkbox.label'|trans }}</label>
                <div class="field">
                    <input type="radio" name="sex" value="0" checked id="male" aria-describedby="sex maleL" />
                    <label id="maleL" for="male">{{ 'create.form.input.checkbox.male'|trans|colorize }}</label>
                </div>
                <div class="field">
                    <input type="radio" name="sex" value="1" id="female" aria-describedby="sex femaleL" />
                    <label id="femaleL" for="female">{{ 'create.form.input.checkbox.female'|trans|colorize }}</label>
                </div>
            </div>

            {% for tpl, params in templates %}
                {% include tpl with params %}
            {% endfor %}

            <div class="center aligned field">
                <input class="ui big primary button" type="submit" value="{{ 'create.form.button'|trans|uncolorize }}">
            </div>
        </div>
    </form>

    <br><br>
    {% if acctTrash %}
        {{ 'create.inactivity.acctTrash'|trans({'n': acctTrash})|colorize }}
    {% endif %}

    {% if acctNew %}
        {{ 'create.inactivity.acctNew'|trans({'n': acctNew})|colorize }}
    {% endif %}

    {% if acctOld %}
        {{ 'create.inactivity.acctOld'|trans({'n': acctOld})|colorize }}
    {% endif %}
{% endblock create_account_create %}

{% block create_account_login %}
    {% trans_default_domain textDomain %}

    {{ 'create.account.login.text'|trans({'name': login})|colorize }}
    <form action="{{ 'login.php'|lotgd_url }}" method="POST">
        <input name="name" value="{{ login }}" type="hidden">
        <input name="password" value="{{ password }}" type="hidden">
        <input name="force" value="1" type="hidden">
        <div class="field">
            <button class="ui button" type="submit">{{ 'create.account.login.button'|trans|uncolorize }}</button>
        </div>
    </form>
    <br><br>
    {% if acctTrash %}
        {{ 'create.inactivity.acctTrash'|trans({'n': acctTrash})|colorize }}
    {% endif %}

    {% if acctNew %}
        {{ 'create.inactivity.acctNew'|trans({'n': acctNew})|colorize }}
    {% endif %}

    {% if acctOld %}
        {{ 'create.inactivity.acctOld'|trans({'n': acctOld})|colorize }}
    {% endif %}
{% endblock create_account_login %}
