{% block inn_bartender %}
    {% trans_default_domain textDomain %}

    {% if 'bribe' == action %}
        {% if type %}
            {% if bribeSuccess %}
                {{ 'section.bartender.bribe.success'|trans({ 'barkeep': barkeep })|colorize }}
            {% else %}
                {{ 'section.bartender.bribe.fail'|trans({ 'barkeep': barkeep, type, 'amt': amount })|colorize }}
            {% endif %}
        {% else %}
            {{ 'section.bartender.bribe.paragraph'|trans|colorize }}
        {% endif %}
    {% elseif 'listupstairs' == action %}
        {{ 'section.bartender.listupstairs.paragraph'|trans({ 'barkeep': barkeep })|colorize }}

        {{ pvp_list_table({ 'paginator': paginator, 'returnLink': returnLink, 'pvpTimeOut': pvpTimeOut }) }}

        {{ pvp_list_sleepers({ 'sleepers': sleepers }) }}
    {% elseif 'colors' == action %}
        {{ 'section.bartender.colors.paragraph'|trans({ 'colors': colors, 'barkeep': barkeep, 'rawInput': testText|prevent_codes, 'formatInput': testText })|colorize }}
        <form action="{{ formUrl|lotgd_url }}" method="POST" autocomplete="off" class="flex gap-4">
            <div class="flex-1">
                <input type="text" id="testText" name="testText">
            </div>
            <div class="flex-initial">
                <button type="submit" class="w-auto">{{ 'section.bartender.colors.form.button.submit'|trans|uncolorize }}</button>
            </div>
        </form>
    {% elseif 'specialty' == action %}
        {% if specialty %}
            {{ 'section.bartender.specialty.changed'|trans({ 'barkeep': barkeep })|colorize }}
        {% else %}
            {{ 'section.bartender.specialty.enter'|trans({ 'barkeep': barkeep })|colorize }}
        {% endif %}
    {% else %}
        {{ 'section.bartender.default'|trans({ 'barkeep': barkeep })|colorize }}
    {% endif %}
{% endblock inn_bartender %}

{% block inn_converse %}
    {% trans_default_domain textDomain %}

    {{ 'section.converse'|trans|colorize }}

    {{ commentary_block({
        'section': 'inn',
        'textDomainStatus': 'app_commentary'
    }, textDomain) }}
{% endblock inn_converse %}

{% block inn_default %}
    {% trans_default_domain textDomain %}

    {% if showInnDescription %}
        {% if 'strolldown' == op %}
            {{ 'section.default.op.stroll'|trans|colorize }}
        {% elseif 'fleedragon' == op %}
            {{ 'section.default.op.flee.dragon'|trans({ 'partner': partner })|colorize }}
        {% else %}
            {{ 'section.default.op.default'|trans|colorize }}
        {% endif %}

        {{ 'section.default.paragraph'|trans({ 'sex': user.sex, 'barkeep': barkeep, 'partner': partner })|colorize }}

        {{ 'section.default.talk'|trans({ 'talk': talk[0]|trans(talk[1], talk[2]) })|colorize }}

        {{ 'section.default.clock'|trans({ 'gameclock': gameclock })|colorize }}

        {% set result = modulehook('inn-desc') %}
        {% for message in result %}
            {{ message[0]|trans(message[1], message[2])|colorize }}
        {% endfor %}
    {% endif %}
{% endblock inn_default %}

{% block inn_room %}
    {% trans_default_domain textDomain %}

    {% if boughtRoomToday %}
        {{ 'section.room.bought'|trans|colorize }}
    {% else %}
        {{ 'section.room.buy.paragraph0'|trans(_context)|colorize }}

        {% if user.goldinbank >= bankExpense and bankExpense != expense %}
            {{ 'section.room.buy.fee.paragraph'|trans(_context)|colorize }}
            {{ ('section.room.buy.fee.' ~ (feePercent ? 'percent' : 'amount'))|trans((_context)|merge({ 'fee': fee, 'percent': feePercent }))|colorize }}
        {% endif %}

        {{ 'section.room.buy.paragraph1'|trans(_context)|colorize }}
    {% endif %}
{% endblock inn_room %}
