{% block weapon_buy %}
    {% trans_default_domain textDomain %}

    {% if result %}
        {% if buyIt %}
            {{ 'payweapon'|trans(_context|merge({'playerWeapon': userPre.weapon, 'weaponName': result.weaponname}))|colorize }}
        {% else %}
            {{ 'notenoughgold'|trans(_context|merge({'weaponName': result.weaponname}))|colorize }}
        {% endif %}
    {% else %}
        {{ 'nosuchweapon'|trans(_context)|colorize }}
        {{ 'tryagain'|trans(_context)|colorize }}
    {% endif %}
{% endblock weapon_buy %}

{% block weapon_default %}
    {% trans_default_domain textDomain %}

    {{ 'description'|trans(_context|merge({'sex': user.sex }))|colorize }}

    {{ 'trade.in'|trans(_context|merge({'weaponName': user.weapon, 'value': tradeinvalue}))|colorize }}

    <div class="shadow overflow-hidden border-b border-lotgd-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-lotgd-200" aria-describedby="page-title">
            <thead>
                <tr>
                    <th scope="col">{{ 'Name'|trans }}</th>
                    <th scope="col">{{ 'Damage'|trans }}</th>
                    <th scope="col">{{ 'Cost'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for weapon in weapons %}
                    <tr>
                        <td class="collapsing">
                            {% set color = '`)' %}
                            {% if weapon.value <= (user.gold + tradeinvalue) %}
                                {% if not unavailable %}
                                    {% set color = '`&' %}
                                    <a href='{{ ('weapons.php?op=buy&id=' ~ weapon.weaponid)|lotgd_url }}'>{{ (color ~ weapon.weaponname ~ '`0')|colorize }}</a>
                                {% else %}
                                    {% set color = '`7' %}
                                    {{ (color ~ weapon.weaponname ~ '`0')|colorize }}
                                {% endif %}
                            {% else %}
                                {{ (color ~ weapon.weaponname ~ '`0')|colorize }}
                            {% endif %}
                        </td>
                        <td>{{ (color ~ weapon.damage)|colorize }}</td>
                        <td>
                            {% if weapon.alternatetext %}
                                {{ (color ~ weapon.alternatetext)|colorize }}
                            {% else %}
                                {{ (color ~ weapon.value)|colorize }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="3">{{ 'Not found any weapon'|trans }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock weapon_default %}
