{% from 'page/_macros/_battle.html.twig' import combat_health_bar as health_bar %}

{% trans_default_domain translation_domain %}

{{ 'title'|trans|colorize }}

{# Information of criature/s #}
<div class="ui items">
    {% for badguy in enemies %}
        <div class="item">
            {% if badguy.creatureimage %}
                <div class="ui tiny image">
                    <img src="{{ badguy.creatureimage }}" alt="{{ badguy.creaturename }}">
                </div>
            {% endif %}
            <div class="content">
                <div>{{ 'encounter'|trans({ 'name': badguy.creaturename, 'weapon': badguy.creatureweapon})|colorize }}</div>
                {% if badguy.creaturecategory %}
                    <div class="meta">{{ 'category'|trans({'name': badguy.creaturecategory})|colorize }}</div>
                {% endif %}
                {% if badguy.creaturedescription %}
                    <div class="description">
                        <p>{{ badguy.creaturedescription|trans|colorize }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

{# Information when battle start #}
{% for msg in battle_start %}
    {{ msg[0]|trans(msg[1]|default({}), msg[2]|default(translation_domain))|colorize }}
{% endfor %}

{% for msg in messages %}
    {{ msg[0]|trans(msg[1]|default({}), msg[2]|default(translation_domain))|colorize }}
{% endfor %}

{# Show HP of combatants #}
<div class="ui top attached divided segment">
    <div class="ui divided stackable two column grid">
        <div class="column">
            {{ health_bar(bars_start.user, translation_domain) }}
            {% for companion in bars_start.companions %}
                {{ health_bar(companion, translation_domain) }}
            {% endfor %}
        </div>
        <div class="column">
            {% for enemy in bars_start.enemies %}
                {{ health_bar(enemy, translation_domain) }}
            {% endfor %}
        </div>
    </div>
</div>

{# Rounds results #}
{% if battle_rounds|length %}
    <h5 class="ui attached header">{{ 'battle.result'|trans({'n': battle_rounds|length})|colorize }}</h5>
    <div class="ui attached divided segment">
        <div class="ui divided list">
            {% for rounds in battle_rounds %}
                <div class="item">
                    <div class="ui divided stackable two column grid">
                        <div class="column">
                            {% for allied in rounds.allied %}
                                {% if allied is array %}
                                    {{ allied[0]|trans((allied[1] ?: {}), (allied[2] ?: 'page_battle'))|colorize }}
                                {% else %}
                                    {{ allied|trans|colorize }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="column">
                            {% for enemy in rounds.enemy %}
                                {{ bdump(enemy) }}
                                {% if enemy is array %}
                                    {{ enemy[0]|trans((enemy[1] ?: {}), (enemy[2] ?: 'page_battle'))|colorize }}
                                {% else %}
                                    {{ enemy|trans|colorize }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{# Show HP of combatants #}
<div class="ui {{ battle_has_winner ? '' : 'bottom' }} attached divided segment">
    <div class="ui divided stackable two column grid">
        <div class="column">
            {{ health_bar(bars_end.user, translation_domain) }}
            {% for companion in bars_end.companions %}
                {{ health_bar(companion, translation_domain) }}
            {% endfor %}
        </div>
        <div class="column">
            {% for enemy in bars_end.enemies %}
                {{ health_bar(enemy, translation_domain) }}
            {% endfor %}
        </div>
    </div>
</div>

{# Information when battle has winner #}
{% if battle_has_winner %}
    <h5 class="ui attached header">{{ 'battle.end'|trans|colorize }}</h5>
    <div class="ui bottom attached divided segment">
        {% for msg in battle_end %}
            {% if msg is array %}
                {{ msg[0]|trans((msg[1]|default({})), (msg[2]|default(translation_domain)))|colorize }}
            {% else %}
                {{ msg|trans|colorize }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
