{# Check if element have errors #}
{% if element.messages %}
    {% set classAttributes = element.getAttribute('class') ?: '' %}

    {% do element.setAttribute('class', classAttributes) %}
{% endif %}

{% set elementString =  laminas_form_element(element, translatorTextDomain) %}
{% set elementString = elementString ~ laminas_form_note(element, translatorTextDomain) %}
{% set elementError = laminas_form_element_error(element) %}

{# Get type of element, some elements no need a label #}
{% set type = element.getAttribute('type') %}

{% set fieldClass = (elementError ? 'error ' : '')
    ~ (element.getAttribute('required ') ? 'required ' : '')
    ~ ('hidden' != type ? 'field ' : '')
%}

<div class="{{ (element.getOption('show_inline') ? 'inline ' : '') ~ fieldClass }}">
    {% if element.label and 'hidden' != type %}
        {# Check the element type, some elements are rendered differently #}
        {% if 'checkbox' == type %}
            {{ elementString }}
        {% else %}
            {% if element is not instanceof('\\Zend\\Form\\Element\\Button')  %}
                {# Render label #}
                {{ laminas_form_label(element, translatorTextDomain)}}
            {% endif %}

            {# Render element #}
            {{ elementString }}
        {% endif %}
    {% else %}
        {{ elementString }}
    {% endif %}

    {% if renderErrors %}
        {{ elementError }}
    {% endif %}
</div>
