{% set idSlider = element.getName()|replace({'[': '-', ']': '-'}) %}
{% set stepSlider = element.getAttribute('step') != null ? element.getAttribute('step') : 1 %}

<div class="ui grid">
    <div class="two wide column"><span class="ui right pointing fluid right aligned label" id="value-{{ idSlider }}">{{ element.getValue() }}</span></div>
    <div class="fourteen wide column"><div class="ui {{ disableSliderLabels ? '' : 'labeled' }} slider" id="{{ idSlider }}-range"></div></div>
</div>
<input {{ attributesString }}>
<script>
    $('#{{ idSlider }}-range').slider({
        min: {{ element.getAttribute("min") }},
        max: {{ element.getAttribute("max") }},
        start: {{ element.getValue() }},
        step: {{ stepSlider }},
        onMove: function (value)
        {
            $('[name="{{ element.getName() }}"]').val(value)
            $('#value-{{ idSlider }}').text(value)
        }
    })
</script>
