{{ '`7You ask %s`7 for the clan listings. She points you toward a marquee board near the entrance of the lobby that lists the clans.`0`n`n'|t|format(registrar)|colorize }}
<table class="ui very compact striped selectable table">
    <tbody>
        {% for clan in clans %}
            <tr>
                <td>
                    <a href="{{ ('clan.php?detail=' ~ clan.clanid)|lotgd_url }}"><i class="info icon"></i></a>
                    &#60;{{ clan.clanshort }}&#62;
                    <a href="{{ ('clan.php?detail=' ~ clan.clanid) }}">{{ clan.clanname|uncolorize }}</a>
                    ({{ clan.count|pluralize('%s member'|t, '%s members'|t) }})
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
