{{ 'Enter your name and password to enter the realm.'|t }}
<br>
<table class="ui centered center aligned very basic collapsing table">
	<tr>
		<td><img src='images/logindragon.gif' class='noborder'></td>
	</tr>
	<tr>
		<td>
			<div class="ui form">
				<div class="inline fields">
					<div class="field">
						<input name='name' id='name' accesskey='u' placeholder="{{ 'Username'|t }}">
					</div>
					<div class="field">
						<input name='password' id='password' accesskey='p' type='password' placeholder="{{ 'Password'|t }}">
					</div>
					<div class="field">
						<input class="ui button" type='submit' value='{{ 'Log in'|t }}'>
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>

<p>{{ 'Did you forget your password? Go %shere%s to retrieve a new one!'|t|format('<a href="create.php?op=forgot">', '</a>') }}</p>
