{% translate_default_domain textDomain %}

<h3>{{ 'title'|t({'level': armorLevel})|colorize }}</h3>

<table class="ui very compact striped selectable table">
    <thead>
        <th>{{ 'table.header.ops'|t|uncolorize }}</th>
        <th>{{ 'table.header.name'|t|uncolorize }}</th>
        <th>{{ 'table.header.cost'|t|uncolorize }}</th>
        <th>{{ 'table.header.defense'|t|uncolorize }}</th>
        <th>{{ 'table.header.level'|t|uncolorize }}</th>
    </thead>
    <tbody>
        {% for armor in armors %}
            {% set options = {'text': 'table.body.del.confirm'|t|uncolorize } %}
            <tr>
                <td class="collapsing">
                    <div class="ui buttons">
                        <a data-tooltip="{{ 'table.body.edit'|t|uncolorize }}" class="ui orange icon button" href="{{ ('armoreditor.php?op=edit&id=' ~ armor.armorid ~ '&level=' ~ armorLevel)|lotgd_url }}">
                            <i class="edit icon"></i>
                        </a>
                        <a data-tooltip="{{ 'table.body.del.label'|t|colorize }}" class="ui red icon button" href="{{ ('armoreditor.php?op=del&id=' ~ armor.armorid ~ '&level=' ~ armorLevel)|lotgd_url }}" onclick="Lotgd.confirm(this, event)" data-options="{{ options|json_encode()|escape('html_attr') }}">
                            <i class="trash icon"></i>
                        </a>
                    </div>
                </td>
                <td>{{ armor.armorname }}</td>
                <td>{{ armor.value|numeral }}</td>
                <td>{{ armor.defense }}</td>
                <td>{{ armor.level }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
