{% translate_default_domain textDomain %}

<table class="ui very compact striped selectable table">
    <thead>
        <th>{{ 'section.money.table.thead.rank'|t|uncolorize }}</th>
        <th>{{ 'section.money.table.thead.name'|t|uncolorize }}</th>
        <th>{{ 'section.money.table.thead.gold'|t|uncolorize }}</th>
    </thead>
    <tbody>
        {% set rank = attribute(paginator, 'getCurrentPageNumber') * attribute(paginator, 'getItemCountPerPage') - attribute(paginator, 'getItemCountPerPage') %}
        {% for character in paginator %}
            <tr>
                <td>{{ loop.index + rank }}</td>
                <td>{{ character.name|colorize }}</td>
                <td>{{ character.gold|numeral }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'section.money.table.tbody.none'|t|colorize }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ 'section.money.table.tbody.footer'|t|colorize }}

{{ footerTitle[0]|t(footerTitle[1])|colorize }}

{{ navigation_pagination(paginator) }}
