{% use 'form/semantic-ui-form-theme.html.twig' %}

{%- block form -%}
    {# Render a menu with a browse button and label for forms if exist #}
    <div class="ui top attached header">
        {% if form.vars.label %}
            {{ form.vars.label|trans({}, form.vars.translation_domain) }}
        {% endif %}
        <div class="right floated sub header">
            <span class="ui red text" id="show-hidde-info-note-form-{{ name }}">{{ 'show.hide.note.info'|trans({}, 'lotgd_core_form_app') }}</span>
        </div>
    </div>

    <div class="ui bottom attached segment">
        <div class="ui stackable equal width divided grid">
            {# Max are 4 sections in menu #}
            {% set formCopy = form.children|filter((v, k) => v.vars.block_prefixes[1] != 'hidden' and v.vars.block_prefixes[0] != 'button') %}
            {% set batch = ((formCopy|length - 1) / 4)|round(0, 'ceil') %}

            {% for menuField in formCopy|batch(batch) %}
                <div class="column">
                    <div class="ui list">
                        {% for index, tabfield in menuField %}
                            <a class="{{ loop.index == 1 ? 'active' : '' }} item" data-tab="{{  index ~ "_tab" }}">
                                {{ form_label(tabfield) }}

                                {% if not tabfield.vars.valid %}
                                    {% set errorText = 'fieldset.has.error'|trans({}, 'lotgd_core_form_app') %}
                                    <span data-tooltip="{{ errorText }}" aria-label="{{ errorText }}">
                                        <i aria-hidden="true" class="red times icon"></i>
                                    </span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {{ form_start(form) }}
        {% for index, tabField in form %}
            {% if tabField.vars.block_prefixes[0] != 'button' and tabField.vars.block_prefixes[1] != 'hidden' %}
                <div class="ui tab {{ loop.first ? 'active':'' }}" data-tab="{{ index ~ "_tab" }}">
                    <div class="ui top attached header">{{- form_label(tabField) -}}</div>

                    <div class="ui bottom attached segment">
                        {{- form_widget(tabField) -}}
                    </div>
                </div>
            {% else %}
                {{- form_widget(tabField) -}}
            {% endif %}
        {% endfor %}
    {{ form_end(form) }}

    {# Scripts for control #}
    <script>
        /* global $ */
        $('.ui.grid .item').tab()
        $('#show-hidde-info-note-form-{{ name }}').on('click', function ()
        {
            const form = $('form[name="{{ name }}"]')
            if (form.hasClass('info'))
            {
                form.removeClass('info')
                $(this).removeClass('green').addClass('red')
                return
            }
            form.addClass('info')
            $(this).removeClass('red').addClass('green')
        })
    </script>
{%- endblock form -%}

{%- block form_start -%}
    {%- set attr = attr|merge({class: ('ui ' ~ attr.class|default(''))|trim }) -%}
    {%- set attr = attr|merge({class: attr.class ~ ' form' }) -%}
    {%- set attr = attr|merge({class: attr.class ~ (errors|length ? ' error' : '') }) -%}

    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form{% if name != '' %} name="{{ name }}"{% endif %} method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{{ block('attributes') }}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}
