{% block commentary_block %}
    {% trans_default_domain textDomain %}

    {% if canAddComment %}
        {# First the comment is saved in the database (if post method) otherwise the new comment will not be shown. #}
        {{ save_comment() }}
    {% endif %}

    {# Show comments (new comment included) #}
    <div class="ui minimal small comments">
        <h5 class="ui dividing header">{{ 'commentary.talk'|trans|colorize }}</h5>

        {% if not SU_EDIT_COMMENTS %}
            {% for comment in comments|reverse %}
                {% if not comment.hidden %}
                    {{ display_one_comment(comment, textDomain, commentary) }}
                {% endif %}
            {% endfor %}
        {% else %}
            <form action="{{ formUrl|lotgd_url }}" method="POST" autocomplete="off">
                <button type="submit" name="hidde" class="ui button">{{ 'form.button.hide'|trans({}, 'app_commentary')|uncolorize }}</button>
                {% for comment in comments|reverse %}
                    {{ display_one_comment(comment, textDomain, commentary) }}
                {% endfor %}
                <button type="submit" name="hidde" class="ui button">{{ 'form.button.hide'|trans({}, 'app_commentary')|uncolorize }}</button>
            </form>
        {% endif %}
    </div>

    {% if canAddComment %}
        {# Add new comment #}
        {{ add_comment(commentary, textDomain) }}
    {% endif %}

    {% if showPagination %}
        {# Show pagination for comments #}
        {{ navigation_pagination(comments, paginationLinkUrl, ['commentary_pagination', '_blocks/_commentary.html.twig'] ) }}
    {% endif %}
{% endblock commentary_block %}

{% block commentary_comment %}
    {% trans_default_domain textDomain %}

    {% if defaultTextDomainStatus %}
        {# Set a default text domain for comentary status #}
        {% commentary_domain_status defaultTextDomainStatus %}
    {% endif %}

    {% set recent = 'comment.recent'|trans({}, 'app_commentary') %}
    <div class="comment {{ comment.hidden ? 'del' : '' }}">
        <div class="content">
            <div class="text">
                {% if SU_EDIT_COMMENTS %}
                    <div class="ui toggle lotgd checkbox" data-tooltip="{{ 'form.toggle.hide'|trans({}, 'app_commentary')|uncolorize }}">
                        <input type="hidden" name="hideComment[{{ comment.id }}]" value="0">
                        <input type="checkbox" name="hideComment[{{ comment.id }}]" {{ comment.hidden ? 'checked' : '' }} value="1">
                    </div>
                {% endif %}
                {{ display_status_online_player(comment) }}
                {{ comment.postdate > user.recentcomments ? '<span data-tooltip="%1$s"><i class="caret right icon" aria-label="%1$s"></i></span>'|format(recent) : '' }}
                <span {{ comment.hidden ? 'data-tooltip' : '' }}="{{ comment.hidden ? comment.hiddenComment|uncolorize : '' }}">
                    {% set message = comment.comment %}

                    {% if comment.extra.translation_domain|default(false) %}
                        {% set message = comment.comment|trans({}, comment.extra.translation_domain) %}
                    {% endif %}

                    {% if comment.command == 'game' %}
                        {# It's a message from the game, no associated author #}
                        <span class="colDkMagenta"><em><strong>{{ message|uncolorize|trim|capitalize }}</strong></em></span>
                    {% else %}
                        {% if comment.clanName %}
                            <span data-tooltip="{{ comment.clanName|uncolorize }}">&#60;{{ comment.clanNameShort|colorize }}&#62;</span>
                        {% endif %}
                        {# It's a normal comment #}
                        <span class="author">
                            {{ comment.authorName|colorize }}
                        </span>
                        {# Represent a special action of player or not #}
                        {% if comment.command == 'me' %}
                            <span class="colLtBlack">{{ message|uncolorize }}</span>
                        {% else %}
                            <em class="colDkCyan">{{ (commentary.customSay ? commentary.customSay : 'commentary.sayLine'|trans)|colorize|lower }}</em>,
                            <span class="colDkCyan">"<span class="colLtCyan">{{ message|colorize }}</span>"</span>
                        {% endif %}
                    {% endif %}
                </span>
            </div>
            {# Actions for see bio and send mail to the author of comment #}
            {% if comment.command != 'game' %}
                {% set bioLink = ('bio.php?char=' ~ comment.author ~ '&ret=' ~ returnLink|e('url'))|lotgd_url %}
                {% set bioLabel = 'form.button.bio'|trans({'name': comment.authorName|uncolorize|trim}, 'app_commentary') %}
                {% set mailLabel = 'form.button.mail'|trans({'name': comment.authorName|uncolorize|trim}, 'app_commentary') %}

                <div class="actions">
                    <a class="ui mini blue icon button" aria-label="{{ bioLabel }}" data-tooltip="{{ bioLabel }}" href="{{ bioLink }}">
                        <i class="user icon"></i>
                    </a>
                    <a class="ui mini blue icon button" aria-label="{{ mailLabel }}" data-tooltip="{{ mailLabel }}" onclick="JaxonLotgd.Ajax.Core.Mail.write('{{ comment.author }}')">
                        <i class="mail icon"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock commentary_comment %}

{% block commentary_add %}
    {% trans_default_domain textDomain %}

    <form id="commentary-form" action="{{ formUrl|lotgd_url }}" method="POST" autocomplete="off">
        <input type="hidden" name="section" value="{{ commentary.section }}">

        <div class="ui fluid action input">
            <input
                type="text"
                name="comment"
                id="comment"
                autocomplete="off"
                onkeyup="onKeyUp(this)" />
            <button class="ui button" type="submit">{{ 'commentary.button'|trans|uncolorize }}</button>
        </div>

        <div class="ui hidden bottom attached inverted message">
            <div class="header" id="charsleft-commentary-form"></div>
            <p id="previewtext-commentary-form"></p>
        </div>
    </form>

    {% do inline_script().captureStart() %}
        Lotgd.set('colors', "{{ colors|json_encode()|e('js') }}")

        function onKeyUp (element)
        {
            Lotgd.previewfield(element, '{{ user.name }}', '{{ maxChars }}', '{{ "commentary.sayLine"|trans }}', '{{ "commentary.charsLeft"|trans }}')
        }
    {% do inline_script().captureEnd() %}
{% endblock commentary_add %}

{% block commentary_pagination %}
    {% trans_default_domain 'app_default' %}

    {% if pageCount %}
        <div class="ui hidden clearing divider"></div>
        <div class="ui grid">
            <div class="sixteen wide tablet only computer only center aligned column">
                <div class="ui pagination menu" role="navigation" aria-label="{{ 'parts.pagination.description'|trans({ 'firstItemNumber': firstItemNumber, 'lastItemNumber': lastItemNumber, 'totalItemCount': totalItemCount })|uncolorize }}">
                    <!-- Link to first page -->
                    {% if previous %}
                        <a class="icon item" aria-label="{{ 'parts.pagination.menu.first'|trans|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ first)|lotgd_url }}"><i class="fast backward icon" aria-hidden="true"></i></a>
                    {% else %}
                        <div class="disabled icon item" aria-hidden="true"><i class="fast backward icon"></i></div>
                    {% endif %}

                    <!-- Link to previous page -->
                    {% if previous %}
                        <a class="icon item" href="{{ (href ~ 'commentPage=' ~ previous)|lotgd_url }}"><i class="step backward icon" aria-hidden="true"></i></a>
                    {% else %}
                        <div class="disabled icon item" aria-hidden="true"><i class="step backward icon"></i></div>
                    {% endif %}

                    <!-- Links to number pages -->
                    {% for page in pagesInRange %}
                        {% if page != current %}
                            <a class="item" aria-label="{{ 'parts.pagination.menu.page'|trans({'page': page})|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ page)|lotgd_url }}">{{ page }}</a>
                        {% else %}
                            <div class="active item" aria-hidden="true">
                                {{ 'parts.pagination.menu.current'|trans({ 'firstItemNumber': firstItemNumber, 'lastItemNumber': lastItemNumber, 'totalItemCount': totalItemCount })|colorize }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <!-- Link to next page -->
                    {% if next %}
                        <a class="icon item" aria-label="{{ 'parts.pagination.menu.next'|trans|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ next)|lotgd_url }}"><i class="step forward icon" aria-hidden="true"></i></a>
                    {% else %}
                        <div class="disabled icon item" aria-hidden="true"><i class="step forward icon"></i></div>
                    {% endif %}

                    <!-- Link to last page -->
                    {% if next %}
                        <a class="icon item" aria-label="{{ 'parts.pagination.menu.last'|trans|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ last)|lotgd_url }}"><i class="fast forward icon" aria-hidden="true"></i></a>
                    {% else %}
                        <div class="disabled icon item" aria-hidden="true"><i class="fast forward icon"></i></div>
                    {% endif %}
                </div>
            </div>
            <div class="sixteen wide mobile only center aligned column">
                <div class="ui pagination menu" role="navigation" aria-label="{{ 'parts.pagination.label'|trans|uncolorize }}">
                    <!-- Link to first page -->
                    {% if previous %}
                        <a class="icon item" aria-label="{{ 'parts.pagination.menu.first'|trans|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ first)|lotgd_url }}"><i class="fast backward icon" aria-hidden="true"></i></a>
                    {% else %}
                        <div class="disabled icon item" aria-hidden="true"><i class="fast backward icon"></i></div>
                    {% endif %}

                    <!-- Link to previous page -->
                    {% if previous %}
                        <a class="icon item"  aria-label="{{ 'parts.pagination.menu.previous'|trans|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ previous)|lotgd_url }}"><i class="step backward icon" aria-hidden="true"></i></a>
                    {% else %}
                        <div class="disabled icon item" aria-hidden="true"><i class="step backward icon"></i></div>
                    {% endif %}

                    <!-- Actual page item count -->
                    <a class="active item" aria-disabled="true">{{ firstItemNumber }} - {{ lastItemNumber }} de  {{ totalItemCount }}</a>

                    <!-- Link to next page -->
                    {% if next %}
                        <a class="icon item" aria-label="{{ 'parts.pagination.menu.next'|trans|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ next)|lotgd_url }}"><i class="step forward icon" aria-hidden="true"></i></a>
                    {% else %}
                        <div class="disabled icon item" aria-hidden="true"><i class="step forward icon"></i></div>
                    {% endif %}

                    <!-- Link to last page -->
                    {% if next %}
                        <a class="icon item"  aria-label="{{ 'parts.pagination.menu.last'|trans|uncolorize }}" href="{{ (href ~ 'commentPage=' ~ last)|lotgd_url }}"><i class="fast forward icon" aria-hidden="true"></i></a>
                    {% else %}
                        <div class="disabled icon item" aria-hidden="true"><i class="fast forward icon"></i></div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="ui hidden clearing divider"></div>
{% endblock commentary_pagination %}

{% block commentary_moderate %}
    {% trans_default_domain textDomain %}

    {# Show comments (new comment included) #}
    <div class="ui minimal small comments">
        <form action="{{ formUrl|lotgd_url }}" method="POST" autocomplete="off">
            <button type="submit" name="hidde" class="ui button">{{ 'form.button.hide'|trans({}, 'app_commentary')|uncolorize }}</button>
            {% for section, comment in comments|reverse %}
                <h5 class="ui dividing header">{{ sections[section]|default(section)  }}</h5>
                {% for com in comment %}
                    {{ display_one_comment(com, textDomain, commentary) }}
                {% endfor %}
            {% endfor %}
            <button type="submit" name="hidde" class="ui button">{{ 'form.button.hide'|trans({}, 'app_commentary')|uncolorize }}</button>
        </form>
    </div>

    {% if showPagination %}
        {# Show pagination for comments #}
        {{ navigation_pagination(comments, paginationLinkUrl, 'parts/commentary/pagination.twig' ) }}
    {% endif %}
{% endblock commentary_moderate %}
