{% extends "@LotgdUi/layout/classic.html.twig" %}

{% block lotgd_head_title %}{{ 'title'|trans({'name': app.user.username}, translator_domain) }}{% endblock %}

{% block lotgd_body_content %}
    {% trans_default_domain translator_domain %}

    <h1>{{ 'hello'|trans({'name': app.user.username }) }}</h1>

    <dl>
        <dt>{{ 'list.username'|trans }}</dt>
        <dd>{{ app.user.username }}</dd>

        <dt>{{ 'list.email'|trans }}</dt>
        <dd>{{ app.user.email }}</dd>

        <dt>{{ 'list.donation_points'|trans }}</dt>
        <dd>{{ (app.user.donation - app.user.donationSpent)|format_number }}</dd>

        <dt>{{ 'list.donation_spent'|trans }}</dt>
        <dd>{{ app.user.donationSpent|format_number }}</dd>

        <dt>{{ 'list.referer'|trans }}</dt>
        <dd>{{ app.user.referer|default('list.referer.none'|trans) }}</dd>

        <dt>{{ 'list.register_date'|trans }}</dt>
        <dd>{{ app.user.createdAt|date }}</dd>
    </dl>

    <h3>{{ 'characters_list'|trans }}</h3>
    <div class="ui cards">
        {% for avatar in app.user.avatars %}
            {{ block('lotgd_avatar_card_avatar') }}
        {% endfor %}

        {% if not can_create_new_avatar %}
            {{ block('lotgd_avatar_card_create_avatar') }}
        {% endif %}
    </div>
{% endblock %}

{% block lotgd_avatar_card_avatar %}
    {% trans_default_domain translator_domain %}

    <div class="ui card">
        <div class="content">
            {% if avatar.id == app.user.avatar.id %}
                <i class="right floated asterisk icon"></i>
            {% endif %}
            <div class="header">{{ avatar.playerName }}</div>
            <div class="meta">{{ 'character.info.meta'|trans({'level': avatar.level, 'dragonkills': avatar.dragonkills }) }}</div>
            <div class="description">{{ avatar.bio|default('character.info.unknown_bio'|trans)|striptags|uncolorize|u.truncate(200, '...') }}</div>
        </div>
        <div class="bottom attached buttons">
            <a href="{{ url('lotgd_avatar_profile', {'id': avatar.id}) }}" class="ui blue fluid button">{{ 'character.info.profile'|trans }}</a>
            {% if avatar.id != app.user.avatar.id %}
                <a href="{{ url('lotgd_avatar_change', {'id': avatar.id}) }}" class="ui fluid button">{{ 'character.info.change'|trans }}</a>
            {% else %}
                <div class="ui fluid disabled secondary button">{{ 'character.info.in_use'|trans }}</div>
            {% endif %}
        </div>
    </div>
{% endblock lotgd_avatar_card_avatar %}

{% block lotgd_avatar_card_create_avatar %}
    {% trans_default_domain translator_domain %}

    <div class="ui red card">
        <div class="content">
            <div class="header">{{ 'character.new.undefined'|trans }}</div>
            <div class="meta">{{ 'character.new.create'|trans }}</div>
            <div class="description">{{ 'character.new.description'|trans }}</div>
        </div>
        <div class="bottom attached button">
            <a href="{{ url('lotgd_avatar_create') }}" class="ui fluid red button">{{ 'character.new.create_button'|trans }}</a>
        </div>
    </div>
{% endblock lotgd_avatar_card_create_avatar %}
