<!DOCTYPE html>

<html lang="{{ translator_locale() }}">
    <head>
        <meta charset="utf-8">

        {# Security meta tags #}
        <meta name="referrer" content="same-origin">

        <meta http-equiv="Window-target" content="_top">
        <meta http-equiv="imagetoolbart" content="false">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">

        {% block lotgd_head_meta %}{% endblock %}

        <!-- Dynamically added meta tags -->
        {{ head_meta() }}

        <!-- Title tag for page -->
        <title>
            {%- block lotgd_head_title -%}
                {{ head_title().renderTitle()|uncolorize }}
            {%- endblock lotgd_head_title -%}
        </title>

        {{ encore_entry_link_tags('lotgd_lib') }}
        {{ encore_entry_link_tags('app') }}
        {% block lotgd_head_css %}
            {# Favicon can custom per theme #}
            <link rel="shortcut icon" href="favicon.png" type="image/png" />
        {% endblock lotgd_head_css %}
        <!-- Jaxon CSS styles -->
        {{ jaxon_css() }}

        {{ encore_entry_script_tags('lotgd_lib') }}
        {% block lotgd_head_theme_js %}{% endblock %}

        <!-- Jaxon JS script -->
        {{ jaxon_js() }}

        <!-- Dynamically added script/style code and files -->
        {{ head_link() }}
        {{ head_style() }}
        {{ head_script() }}

        <!-- Jaxon inline Script -->
        {{ jaxon_script() }}
    </head>
    <body>
        {% block lotgd_body %}{% endblock %}

        {% block lotgd_footer_css %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block lotgd_footer_js %}{% endblock %}

        {# Render Sonata Blocks JS and CSS #}
        {{ sonata_block_include_stylesheets('all') }}
        {{ sonata_block_include_javascripts('all') }}

        <!-- Dynamically added script code -->
        {{ inline_script() }}
    </body>
</html>
