{% translate_default_domain textDomain %}

{{ 'section.faq.title'|t|colorize }}
{{ 'section.faq.paragraph'|t|colorize }}

{{ 'section.faq.content'|t|colorize }}
<div class="ui list">
    {% for faq in faqList %}
        <a href="{{ faq.href|lotgd_url }}" class="item">
            <i class="angle double right green icon"></i>
            <div class="content">{{ faq.link[0]|tl(faq.link[1], faq.link[2])|colorize }}</div>
        </a>
    {% endfor %}
</div>

{{ 'section.faq.end'|t|colorize }}
