{% translate_default_domain textDomain %}

<a href="petition.php?op=faq">{{ 'section.return.content'|t|colorize }}</a>
<hr>

{{ 'section.faq1.content.one'|t(_context)|colorize }}

{{ 'section.faq1.content.two'|t(_context)|colorize }}

{{ 'section.faq1.content.three'|t(_context)|colorize }}

{{ 'section.faq1.content.four'|t(_context)|colorize }}

{{ 'section.faq1.content.five'|t(_context)|colorize }}

{{ 'section.faq1.content.six'|t(_context)|colorize }}

{{ 'section.faq1.content.seven'|t(_context)|colorize }}

{{ 'section.faq1.content.eight'|t(_context)|colorize }}

{{ 'section.faq1.content.nine'|t(_context)|colorize }}

{{ 'section.faq1.content.ten'|t(_context)|colorize }}

{{ 'section.faq1.content.eleven'|t(_context)|colorize }}

{{ 'section.faq1.content.twelve'|t(_context)|colorize }}

{{ 'section.faq1.content.thirteen'|t(_context)|colorize }}

{{ 'section.faq1.content.fourteen'|t(_context)|colorize }}

{{ 'section.faq1.content.fifteen'|t(_context)|colorize }}

{{ 'section.faq1.content.sixteen'|t(_context)|colorize }}

{{ 'section.faq1.content.seventeen'|t(_context)|colorize }}

{{ 'section.faq1.content.eightteen'|t(_context)|colorize }}

<br>
<hr>
<a href="petition.php?op=faq">{{ 'section.return.content'|t|colorize }}</a>
