
<a href="petition.php?op=faq">{{ 'section.return.content'|t|colorize }}</a>
<hr>

{{ 'section.faq3.title'|t(_context)|colorize }}

{{ 'section.faq3.content.one'|t(_context)|colorize }}

{{ 'section.faq3.content.two'|t(_context)|colorize }}

{{ 'section.faq3.content.three'|t(_context)|colorize }}

{{ 'section.faq3.content.four'|t(_context)|colorize }}

{{ 'section.faq3.content.five'|t(_context)|colorize }}

<hr>
<a href="petition.php?op=faq">{{ 'section.return.content'|t|colorize }}</a>
