{% translate_default_domain 'page-installer' %}

{% if update %}
    {{ 'stage5.update.subtitle'|t|colorize }}
    {{ 'stage5.update.paragraph.0'|t|colorize }}
    {{ 'stage5.update.paragraph.1'|t|colorize }}
{% else %}
    {# Looks like a clean install #}
    {{ 'stage5.clean.subtitle'|t|colorize }}
    {{ 'stage5.clean.paragraph.0'|t|colorize }}

    {% if conflict|length %}
        {{ 'stage5.clean.conflict.0'|t|colorize }}
        {{ 'stage5.clean.conflict.1'|t|colorize }}
        {{ 'stage5.clean.conflict.2'|t({'tables': conflict|join(', ')})|colorize }}

        {% if increasedStage %}
            {{ 'stage5.clean.conflict.3'|t|colorize }}
        {% endif %}
    {% endif %}

    {{ 'stage5.clean.paragraph.1'|t|colorize }}
    {{ 'stage5.clean.paragraph.2'|t|colorize }}
{% endif %}

{{ 'stage5.paragraph.0'|t|colorize }}
{{ 'stage5.paragraph.1'|t|colorize }}

<form action="installer.php?stage=5" class="ui form" method="POST">
    <div class="ui action input">
        <input type="text" name="DB_PREFIX" id="DB_PREFIX" value="{{ DB_PREFIX|e }}" aria-label="{{ 'stage5.form.input'|t|uncolorize }}">
        <button class="ui button" type="submit">{{ 'stage5.form.button'|t|uncolorize }}</button>
    </div>
</form>

{% if conflict|length == 0 %}
    {{ 'stage5.paragraph.conflict'|t|colorize }}
{% endif %}

{{ 'stage5.paragraph.2'|t|colorize }}
{{ 'stage5.paragraph.3'|t|colorize }}
