{% translate_default_domain 'page-installer' %}

{{ 'stage3.subtitle'|t|colorize }}

{{ 'stage3.paragraph'|t({'link': '<a href="http://www.mysql.com/" target="_blank" rel="noopener noreferrer">MySQL</a>'})|colorize }}

{% if showForm %}
    {{ 'stage3.form.paragraph'|t|colorize }}

    <form id="install-3" action="installer.php?stage=4" class="ui form" method="POST">
        <div class="field">
            <label id="DB_DRIVER_LABEL" for="DB_DRIVER">{{ 'stage3.form.dbDriver.label'|t|colorize }}</label>
            <select class="ui dropdown" name="DB_DRIVER" id="DB_DRIVER" aria-describedby="DB_DRIVER_LABEL DB_DRIVER_DESCRIPTION">
                <option value="Mysqli">Mysqli</option>
                <option value="Pdo_Mysql" selected>Pdo_Mysql</option>
            </select>
            <div id="DB_DRIVER_DESCRIPTION" class="ui pointing label">{{ 'stage3.form.dbDriver.description'|t|colorize }}</div>
        </div>

        <div class="field">
            <label id="DB_HOST_LABEL" for="DB_HOST">{{ 'stage3.form.dbHost.label'|t|colorize }}</label>
            <input type="text" name="DB_HOST" id="DB_HOST" value="{{ DB_HOST|e }}">
            <div id="DB_HOST_DESCRIPTION" class="ui pointing label">{{ 'stage3.form.dbHost.description'|t|colorize }}</div>
        </div>

        <div class="field">
            <label id="DB_USER_LABEL" for="DB_USER">{{ 'stage3.form.dbUser.label'|t|colorize }}</label>
            <input type="text" name="DB_USER" id="DB_USER" value="{{ DB_USER|e }}">
            <div id="DB_USER_DESCRIPTION" class="ui pointing label">{{ 'stage3.form.dbUser.description'|t|colorize }}</div>
        </div>

        <div class="field">
            <label id="DB_PASS_LABEL" for="DB_PASS">{{ 'stage3.form.dbPass.label'|t|colorize }}</label>
            <input type="text" name="DB_PASS" id="DB_PASS" value="{{ DB_PASS|e }}">
            <div id="DB_PASS_DESCRIPTION" class="ui pointing label">{{ 'stage3.form.dbPass.description'|t|colorize }}</div>
        </div>

        <div class="field">
            <label id="DB_NAME_LABEL" for="DB_NAME">{{ 'stage3.form.dbName.label'|t|colorize }}</label>
            <input type="text" name="DB_NAME" id="DB_NAME" value="{{ DB_NAME|e }}">
            <div id="DB_NAME_DESCRIPTION" class="ui pointing label">{{ 'stage3.form.dbName.description'|t|colorize }}</div>
        </div>

        <div class="center aligned field">
            <a role="button" onclick="document.getElementById('install-3').submit(); return false;" class="ui animated primary button">
                <div class="visible content">{{ 'stage3.form.button.submit'|t|uncolorize }}</div>
                <div class="hidden content">{{ 'stage3.form.button.confirm'|t|uncolorize }}</div>
            </a>
        </div>
    </form>
{% else %}
    {{ 'stage3.db.fileExist'|t|colorize }}
{% endif %}
