{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            {% block sonata_top_nav_menu_locale_block %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-flag fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu">
                        <div class="container-fluid">
                            <div class="row">
                                <ul class="dropdown-menu">
                                    <li role="presentation" class="dropdown-header">
                                        <i class="fa fa-language"></i>
                                        {{ 'languages'|trans({}, 'SonataTranslationBundle') }}
                                    </li>
                                    {% for locale in sonata_translation_locales %}
                                    <li role="presentation" class="{{ app.request.locale == locale ? 'active' : '' }}">
                                        <a role="menuitem" tabindex="-1" href="{{ path('sonata.translation.locale', {'locale': locale}) }}">
                                            {{ locale|sonata_language_name(locale)|capitalize }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            {% endblock %}
        </ul>
    </div>

    {% if app.user  %}
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('lotgd_core_home') }}" title="Game" target="_blank" rel="noopener noreferrer">
                        <img src="{{ asset('/bundles/lotgdui/images/Medallion-Red.gif') }}" alt="Logo" width="19">
                    </a>
                </li>
                {% block sonata_top_nav_menu_add_block %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        {% include get_global_template('add_block') %}
                    </li>
                {% endblock %}
                {% block sonata_top_nav_menu_user_block %}
                    <li class="dropdown user-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            {% include get_global_template('user_block') %}
                        </ul>
                    </li>
                {% endblock %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
