{% trans_default_domain textDomain %}

<h3>{{ 'title'|trans({'level': armorLevel})|colorize }}</h3>

<table class="ui very compact striped table">
    <thead>
        <th scope="col">{{ 'table.header.ops'|trans|uncolorize }}</th>
        <th scope="col">{{ 'table.header.name'|trans|uncolorize }}</th>
        <th scope="col">{{ 'table.header.cost'|trans|uncolorize }}</th>
        <th scope="col">{{ 'table.header.defense'|trans|uncolorize }}</th>
        <th scope="col">{{ 'table.header.level'|trans|uncolorize }}</th>
    </thead>
    <tbody>
        {% for armor in armors %}
            {% set options = {'text': 'table.body.del.confirm'|trans|uncolorize } %}
            <tr>
                <td class="collapsing">
                    <div class="ui mini icon buttons">
                        <a data-tooltip="{{ 'table.body.edit'|trans|uncolorize }}" class="ui orange icon button" href="{{ ('armoreditor.php?op=edit&id=' ~ armor.armorid ~ '&level=' ~ armorLevel)|lotgd_url }}">
                            <i class="edit icon"></i>
                        </a>
                        <a data-tooltip="{{ 'table.body.del.label'|trans|colorize }}" class="ui red icon button" href="{{ ('armoreditor.php?op=del&id=' ~ armor.armorid ~ '&level=' ~ armorLevel)|lotgd_url }}" onclick="Lotgd.confirm(this, event)" data-options="{{ options|json_encode()|escape('html_attr') }}">
                            <i class="trash icon"></i>
                        </a>
                    </div>
                </td>
                <td>{{ armor.armorname }}</td>
                <td>{{ armor.value|numeral }}</td>
                <td>{{ armor.defense }}</td>
                <td>{{ armor.level }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
