<!DOCTYPE html>
<html lang="{{ translator_locale() }}">
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="imagetoolbar" content="false" />
		<meta http-equiv="Window-target" content="_top" />
        <meta name="robots" content="index, follow" />

        {% block lotgd_head_meta %}{% endblock %}

        <!-- Dynamically added meta tags -->
        {{ head_meta() }}
		{{ metahead }}

        <!-- Title tag for page -->
        <title>{{ head_title().renderTitle() }}</title>

        {{ encore_entry_link_tags('lotgd', 'lotgd', 'lotgd') }}
        {{ encore_entry_link_tags('semantic_ui', 'lotgd', 'lotgd') }}
        {% block lotgd_head_theme_css %}
            {# Favicon can custom per theme #}
            <link rel="shortcut icon" href="favicon.png" type="image/png" />
        {% endblock %}
        <!-- Jaxon CSS styles -->
        {{ jaxon_css() }}
		{{ csshead }}

        {{ encore_entry_script_tags('lotgd', 'lotgd', 'lotgd') }}
        {% block lotgd_head_theme_js %}{% endblock %}

        <!-- JavaScript of Fomantic UI -->
        {{ encore_entry_script_tags('semantic_ui', 'lotgd', 'lotgd') }}

        {{ scripthead }}
        <!-- Jaxon JS script -->
        {{ jaxon_js() }}

        <!-- Dynamically added script/style code and files -->
        {{ head_link() }}
        {{ head_style() }}
        {{ head_script() }}
        <!-- Jaxon inline Script -->
        {{ jaxon_script() }}

        <!-- START Cookies Consent -->
        <script>
            // eslint-disable-next-line no-unused-vars, no-var
            var cookieName = '{{ session_cookie_name() }}'
        </script>
        {{ encore_entry_script_tags('cookie_guard', 'lotgd', 'lotgd') }}
		<!-- END Cookies Consent -->
    </head>
    <body>
        {% block lotgd_body %}
            <table class="lotgd table">
                {% include '@layout/layout/header.twig' %}
                {% include '@layout/layout/content.twig' %}
                {% include '@layout/layout/footer.twig' %}
            </table>
        {% endblock %}

        {% block lotgd_footer_theme_css %}{% endblock %}

        {% block lotgd_footer_theme_js %}{% endblock %}

        <!-- Dynamically added script code -->
        {{ inline_script() }}
    </body>
</html>
