<div class="ui lotgd {{ addClass ~ ' ' ~ class }} message">
    {% if close %}
        <i class="close icon"></i>
    {% endif %}

    {% if icon %}
        <i class="{{ icon }} icon"></i>
    {% endif %}

    <div class="content">
        {% if header %}
            <div class="header">{{ header }}</div>
        {% endif %}
        <p>{{ message }}</p>

        {% if blockquote %}
            <blockquote>
                <p>{{ blockquote }}</p>
                {% if author %}
                    <span class="author"><i class="address book outline icon"></i> {{ author }}</span>
                {% endif %}
            </blockquote>
        {% endif %}
    </div>
</div>
