{% translate_default_domain 'partial-sidebar' %}

{% block character_stat_head %}
    <tr>
        <td class='charhead' colspan='2'>
            <b>{{ title }}</b>
        </td>
    </tr>
{% endblock character_stat_head %}

{% block character_stat_row %}
    <tr>
        <td class='charinfo'>
            <b>{{ name }}</b>
        </td>
        <td class='charinfo'>
            {{ value }}
        </td>
    </tr>
{% endblock character_stat_row %}

{% block character_stat_buff %}
    <tr>
        <td class='charhead' colspan='2'>
            <strong>{{ 'character.buff_title'|t|colorize }}:</strong>
        </td>
    </tr>
    <tr>
        <td class='charinfo' colspan='2'>
            {% for buff in value %}
                {{ buff|colorize }}
            {% endfor %}
        </td>
    </tr>
{% endblock character_stat_buff %}

{% block character_stats %}
    <table class='lotgd table charinfo'>
        {% for title, section in charstat %}
            {{ block('character_stat_head' )}}

            {% for name, value in section %}
                {{ block('character_stat_row' )}}
            {% endfor %}
        {% endfor %}

        {{ statbuff}}
    </table>
{% endblock character_stats %}
