{% translate_default_domain 'jaxon-motd' %}

{% block motd_list %}
    {% if SU_POST_MOTD %}
    <div class="ui buttons">
        <a class="ui motd item button" onclick="JaxonLotgd.Ajax.Core.Motd.addItem(); $(this).addClass('loading disabled')">{{ 'item.button.add.motd'|t|uncolorize }}</a>
        <a class="ui motd poll button" onclick="JaxonLotgd.Ajax.Core.Motd.addPoll(); $(this).addClass('loading disabled')">{{ 'item.button.add.poll'|t|uncolorize }}</a>
    </div>
    {% endif %}

    <div class="ui divided items">
    {% for motd in paginator %}
        {{ motd_show_item(motd, {'SU_POST_MOTD': SU_POST_MOTD}) }}
    {% else %}
        <div class="item">
            <div class="content">
                <div class="ui error message">
                    {{ 'list.empty'|t|uncolorize }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="ui header divider"></div>
    <br>
    <div class="ui centered grid">
    <div class="inline field">
        <label for="month-archive">{{ 'list.form.label'|t }}</label>
        <div class="ui action input" id="month-archive">
            <div class="ui compact clearable selection lotgd dropdown">
                <input type="hidden" id="motd-month" value="">
                <i aria-hidden="true" class="dropdown icon"></i>
                <span class="default text">{{ 'list.form.select.select'|t|uncolorize }}</span>
                <div class="menu">
                    {% if motdMothCountPerYear %}
                        {% for row in motdMothCountPerYear %}
                            {% set month = row.year ~ '-' ~ row.month %}
                            <div class="item" {{ month == monthSelected ? 'selected' : '' }} data-value="{{ month }}" >
                                {{ '{date,date,YYY, LLLL} ({count,number})'|tmf({'date': row.date, 'count': row.count}) }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="item">{{ 'list.form.select.empty'|t|uncolorize }}</div>
                    {% endif %}
                </div>
            </div>
            <a id="motd-button-selected" role="button" class="ui button" aria-label="{{ 'list.form.button.descriptive.submit'|t|uncolorize }}" onclick="JaxonLotgd.Ajax.Core.Motd.list(1, null, $('#motd-month').val()); $(this).addClass('disabled'); $('#motd-button-current').addClass('disabled')">
                {{ 'list.form.button.label.submit'|t|uncolorize }}
            </a>
            <a id="motd-button-current" role="button" aria-label="{{ 'list.form.button.descriptive.current'|t|uncolorize }}" class="ui secondary button" onclick="JaxonLotgd.Ajax.Core.Motd.list(); $(this).addClass('disabled'); $('#motd-button-selected').addClass('disabled')">
                {{ 'list.form.button.label.current'|t|uncolorize }}
            </a>
        </div>
    </div>
    </div>
    <div class="ui hidden header divider"></div>
    {{ navigation_pagination(paginator, 'JaxonLotgd.Ajax.Core.Motd.list', null, null, {
    'motdPerPage': motdPerPage|default(null),
    'monthSelected': monthSelected|default(null)
    } ) }}
{% endblock motd_list %}

{% block motd_item_item %}
    <div class="item" id="motd-list-item-{{ motd.motditem }}">
        <div class="content">
            <div class="header">{{ motd.motdtitle }}</div>
            <div class="meta">
                {% if SU_POST_MOTD %}
                    {% set options = {
                        'icon': 'question',
                        'showCancelButton': true,
                        'preConfirm': "JaxonLotgd.Ajax.Core.Motd.delete(%1$s); $('#motd-list-item-edit-%1$s, #motd-list-item-delete-%1$s').addClass('disabled');"|format(motd.motditem),
                        'text': 'item.del.confirm'|t|uncolorize
                    } %}
                    {% set options = options|json_encode()|escape('html_attr') %}
                    <span data-tooltip="{{ 'item.edit.label'|t|uncolorize }}" aria-label="{{ 'item.edit.label'|t|uncolorize }}">
                        <a
                            id="motd-list-item-edit-{{ motd.motditem }}"
                            role="button"
                            class="ui mini green icon button"
                            onclick="JaxonLotgd.Ajax.Core.Motd.editItem({{ motd.motditem }}); $(this).addClass('loading disabled')"
                        >
                            <i aria-hidden="true" class="edit icon"></i>
                        </a>
                    </span>
                    <a
                        id="motd-list-item-delete-{{ motd.motditem }}"
                        role="button"
                        class="ui mini red icon button"
                        onclick="Lotgd.swal({{ options }});"
                        data-tooltip="{{ 'item.del.label'|t|uncolorize}}"
                        aria-label="{{ 'item.del.label'|t|uncolorize}}"
                    >
                        <i class="trash icon" aria-hidden="true"></i>
                    </a>
                {% endif %}
                <span class="author">{{ (motd.motdauthorname ?: 'item.author'|t)|colorize }}</span>
                <small class="date colLtCyan">{{ '{date,date,medium} {date,time}'|tmf({'date': motd.motddate }) }}</small>
            </div>
            <div class="description">
                <p class="colDkGreen">{{ motd.motdbody|nl2br|colorize }}</p>
            </div>
        </div>
    </div>
{% endblock motd_item_item %}

{% block motd_item_poll %}
    <div class="item" id="motd-list-item-{{ motd.motditem }}">
        <div class="content">
            <div class="header">{{ 'item.poll.poll'|t|colorize }}: {{ motd.motdtitle }}</div>
            <div class="meta">
                {% if SU_POST_MOTD %}
                    {% set options = {
                        'icon': 'question',
                        'showCancelButton': true,
                        'preConfirm': "JaxonLotgd.Ajax.Core.Motd.delete(%1$s); $('#motd-list-item-edit-%1$s, #motd-list-item-delete-%1$s').addClass('disabled');"|format(motd.motditem),
                        'text': 'item.del.confirm'|t|uncolorize
                    } %}
                    {% set options = options|json_encode()|escape('html_attr') %}
                    <a
                        id="motd-list-item-delete-{{ motd.motditem }}"
                        role="button"
                        class="ui mini red icon button"
                        onclick="Lotgd.swal({{ options }});"
                        data-tooltip="{{ 'item.del.label'|t|uncolorize}}"
                        aria-label="{{ 'item.del.label'|t|uncolorize}}"
                    >
                        <i class="trash icon" aria-hidden="true"></i>
                    </a>
                {% endif %}
                <span class="author"><i aria-hidden="true" class="large poll icon"></i> {{ (motd.motdauthorname ?: 'item.author'|t)|colorize }}</span>
                <small class="date colLtCyan">{{ '{date,date,medium} {date,time}'|tmf({'date': motd.motddate }) }}</small>
            </div>
            <div class="description colDkGreen">
                <p>{{ motd.motdbody.body|nl2br|colorize }}</p>
            </div>
            <div class="ui hidden divider"></div>
            <div class="content">
                <form class="ui small items" action="{{ 'motd.php?op=vote'|lotgd_url }}" method="POST">
                    <input type="hidden" name="motditem" value="{{ motd.motditem }}">
                    {% set vote = 'item.poll.vote'|t|uncolorize %}
                    {% if user.loggedin %}
                        {% if motd.pollResult.userVote is defined and motd.pollResult.userVote is not null %}
                            {{ 'item.poll.result.warning'|t|colorize }}
                        {% else %}
                            {{ 'item.poll.warning'|t|colorize }}
                        {% endif %}
                    {% endif %}
                    {% for id, option in motd.motdbody.opt %}
                        <div class="item">
                            <div class="ui mini image center aligned">
                                {% if user.loggedin %}
                                    {% set class = (motd.pollResult.userVote is defined and motd.pollResult.userVote is not null) ? 'grey disabled' : '' %}
                                    {% set class = (motd.pollResult.userVote is defined and motd.pollResult.userVote is not null and motd.pollResult.userVote == id) ? 'green disabled' : class %}
                                    {% set js = "JaxonLotgd.Ajax.Core.Motd.vote(%s, %s); $('.voting.icon.button').addClass('loading disabled')"|format(motd.motditem, id) %}
                                    {% set onclick = motd.pollResult.userVote is defined and motd.pollResult.userVote is not null ? '' : js %}
                                    <span data-tooltip="{{ vote }}">
                                        <a
                                            role="button"
                                            class="ui {{ class }} voting icon button"
                                            aria-label="{{ vote }}"
                                            onclick="{{ onclick }}"
                                        >
                                            <i class="large thumbs up icon"></i>
                                        </a>
                                    </span>
                                {% else %}
                                    <i aria-hidden="true" class="huge dragon icon"></i>
                                {% endif %}
                            </div>
                            <div class="content">
                                <div class="header">{{ option|colorize }}</div>
                                {% set percent = motd.pollResult.totalVotes ? (motd.pollResult.opt[id] / motd.pollResult.totalVotes) : 0 %}
                                {% set params = {'votes': motd.pollResult.opt[id], 'percent': percent} %}
                                <spam class="meta">{{ 'item.poll.result.opt'|t(params)|colorize }}</spam>
                                <div class="description">
                                    <div class="ui remove margin tiny green progress" data-value="{{ motd.pollResult.opt[id] }}" data-total="{{ motd.pollResult.totalVotes }}">
                                        <div class="bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock motd_item_poll %}

{% block motd_item_edit %}
    <h4 class="header">{{ 'item.edit.form.title'|t|colorize }}</h4>
    {{ 'item.edit.form.original'|t({'author': motdData.motdauthorname, 'date': motdData.motddate})|colorize }}

    <hr>

    {{ form(form) }}
{% endblock motd_item_edit %}

{% block motd_item_add %}
    <h4 class="header">{{ 'item.add.item.form.title'|t|colorize }}</h4>

    {{ form(form) }}
{% endblock motd_item_add %}

{% block motd_poll_add %}
    {% if preview %}
    {% include 'base/page/motd/parts/item.twig' with {'SU_POST_MOTD': 0} %}
    <hr>
    {% endif %}

    {{ 'item.add.poll.form.note'|t|colorize }}
    <h4 class="header">{{ 'item.add.poll.form.title'|t|colorize }}</h4>

    {{ form(form) }}

    <script language='JavaScript'>
    /* global $ */
    const $collectionHolder = $('#motd_poll_opt')

    // setup an "add a tag" link
    const $addTagButton = $('<button type="button" class="ui info mini button">{{ "item.add.poll.form.button.opt.add"|t|uncolorize }}</button>')
    $collectionHolder.parent('div').children('label').prepend($addTagButton)

    $(document).ready(function ()
    {
        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find('input').length)

        // add a delete link to all of the existing options form elements
        $collectionHolder.find('.required.field').each(function ()
        {
            addPollItemDeleteLink($(this))
        })

        $addTagButton.on('click', function (e)
        {
            // add a new tag form (see next code block)
            addPollItem($collectionHolder)
        })
    })

    function addPollItem ($collectionHolder, $newLinkLi)
    {
        // Get the data-prototype explained earlier
        const prototype = $collectionHolder.data('prototype')

        // get the new index
        const index = $collectionHolder.data('index')

        let newForm = prototype
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index)

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1)

        // Display the form option
        newForm = addPollItemDeleteLink($(newForm))
        $collectionHolder.append(newForm)
    }

    function addPollItemDeleteLink ($optForm)
    {
        const $removeFormButton = $('<button type="button" class="ui red mini button">{{ "item.add.poll.form.button.opt.del"|t|uncolorize }}</button>')
        $optForm.children('label').prepend($removeFormButton)

        $removeFormButton.on('click', function (e)
        {
            // remove the li for the tag form
            $optForm.remove()
        })

        return $optForm
    }
    </script>

{% endblock motd_poll_add %}
