{% translate_default_domain 'jaxon-petition' %}

{% block petition_help %}
    {{ 'section.default.paragraph'|t|colorize }}

    {{ laminas_form(form) }}

    <br>
    {{ 'section.default.note'|t|colorize }}
{% endblock petition_help %}

{% block petition_report %}
    {{ 'section.report.paragraph'|t|colorize }}

    <br>

    {{ laminas_form(form) }}

    <br>
    {{ 'section.report.note'|t|colorize }}
{% endblock petition_report %}

{% block petition_primer %}
    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|t|colorize }}</a>
    <hr>

    {{ 'section.primer.title'|t|colorize }}

    {{ 'section.primer.section.village.title'|t|colorize }}
    {{ 'section.primer.section.village.paragraph'|t(_context)|colorize }}

    {{ 'section.primer.section.noob.title'|t|colorize }}
    {{ 'section.primer.section.noob.paragraph'|t(_context)|colorize }}
    {% if multimaster == 0 %}
        {{ 'section.primer.section.noob.multimaster'|t|colorize }}
    {% endif %}

    {{ 'section.primer.section.death.title'|t|colorize }}
    {{ 'section.primer.section.death.paragraph'|t(_context)|colorize }}

    {{ 'section.primer.section.day.title'|t|colorize }}
    {{ 'section.primer.section.day.paragraph'|t(_context)|colorize }}

    {% if pvp %}
        {{ 'section.primer.section.pvp.title'|t|colorize }}
        {{ 'section.primer.section.pvp.paragraph'|t(_context)|colorize }}
    {% endif %}

    {{ 'section.primer.section.ready.title'|t|colorize }}
    {{ 'section.primer.section.ready.paragraph'|t(_context)|colorize }}

    <br>
    <hr>
    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|t|colorize }}</a>
{% endblock petition_primer %}

{% block petition_faq %}
    {{ 'section.faq.title'|t|colorize }}
    {{ 'section.faq.paragraph'|t|colorize }}

    {{ 'section.faq.content'|t|colorize }}
    <div class="ui list">
        {% for faq in faqList %}
            {% set onclick = faq.onclick|default(faq.href) %}
            <a href="#" onclick="{{ onclick }}" class="item">
                <i class="angle double right green icon"></i>
                <div class="content">{{ faq.link[0]|tl(faq.link[1], faq.link[2])|colorize }}</div>
            </a>
        {% endfor %}
    </div>

    {{ 'section.faq.end'|t|colorize }}
{% endblock petition_faq %}

{% block petition_faq1 %}
    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|t|colorize }}</a>
    <hr>

    {{ 'section.faq1.content.one'|t(_context)|colorize }}

    {{ 'section.faq1.content.two'|t(_context)|colorize }}

    {{ 'section.faq1.content.three'|t(_context)|colorize }}

    {{ 'section.faq1.content.four'|t(_context)|colorize }}

    {{ 'section.faq1.content.five'|t(_context)|colorize }}

    {{ 'section.faq1.content.six'|t(_context)|colorize }}

    {{ 'section.faq1.content.seven'|t(_context)|colorize }}

    {{ 'section.faq1.content.eight'|t(_context)|colorize }}

    {{ 'section.faq1.content.nine'|t(_context)|colorize }}

    {{ 'section.faq1.content.ten'|t(_context)|colorize }}

    {{ 'section.faq1.content.eleven'|t(_context)|colorize }}

    {{ 'section.faq1.content.twelve'|t(_context)|colorize }}

    {{ 'section.faq1.content.thirteen'|t(_context)|colorize }}

    {{ 'section.faq1.content.fourteen'|t(_context)|colorize }}

    {{ 'section.faq1.content.fifteen'|t(_context)|colorize }}

    {{ 'section.faq1.content.sixteen'|t(_context)|colorize }}

    {{ 'section.faq1.content.seventeen'|t(_context)|colorize }}

    {{ 'section.faq1.content.eightteen'|t(_context)|colorize }}

    <br>
    <hr>
    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|t|colorize }}</a>
{% endblock petition_faq1 %}

{% block petition_faq2 %}
    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|t|colorize }}</a>
    <hr>

    {{ 'section.faq2.warning'|t|uncolorize }}

    <br>

    <button id="show-spoiler" type="button" class="ui orange button">{{ 'section.faq2.show.content'|t|uncolorize }}</button>

    <div id="spoiler" class="ui hidden message">
        <br>
        {{ 'section.faq2.content.one'|t(_context)|colorize }}

        {{ 'section.faq2.content.two'|t(_context)|colorize }}

        {{ 'section.faq2.content.three'|t(_context)|colorize }}

        {{ 'section.faq2.content.four'|t(_context)|colorize }}

        {{ 'section.faq2.content.five'|t(_context)|colorize }}

        {{ 'section.faq2.content.six'|t(_context)|colorize }}

        {{ 'section.faq2.content.seven'|t(_context)|colorize }}

        {{ 'section.faq2.content.eight'|t(_context)|colorize }}

        {{ 'section.faq2.content.nine'|t(_context)|colorize }}

        {{ 'section.faq2.content.ten'|t(_context)|colorize }}

        {{ 'section.faq2.content.eleven'|t(_context)|colorize }}
    </div>
    <hr>
    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|t|colorize }}</a>

    <script>
        /* global $ */

        $('#show-spoiler').on('click', function ()
        {
            $('#spoiler').toggleClass('hidden message')
        })
    </script>
{% endblock petition_faq2 %}

{% block petition_faq3 %}
    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|t|colorize }}</a>
    <hr>

    {{ 'section.faq3.title'|t(_context)|colorize }}

    {{ 'section.faq3.content.one'|t(_context)|colorize }}

    {{ 'section.faq3.content.two'|t(_context)|colorize }}

    {{ 'section.faq3.content.three'|t(_context)|colorize }}

    {{ 'section.faq3.content.four'|t(_context)|colorize }}

    {{ 'section.faq3.content.five'|t(_context)|colorize }}

    <hr>
    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|t|colorize }}</a>
{% endblock petition_faq3 %}
