{% block petition_help %}
    {% trans_default_domain 'jaxon_petition' %}

    {{ 'section.default.paragraph'|trans|colorize }}

    {{ form(form) }}

    <br>
    {{ 'section.default.note'|trans|colorize }}
{% endblock petition_help %}

{% block petition_report %}
    {% trans_default_domain 'jaxon_petition' %}

    {{ 'section.report.paragraph'|trans|colorize }}

    <br>

    {{ form(form) }}

    <br>
    {{ 'section.report.note'|trans|colorize }}
{% endblock petition_report %}

{% block petition_primer %}
    {% trans_default_domain 'jaxon_petition' %}

    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|trans|colorize }}</a>
    <hr>

    {{ 'section.primer.title'|trans|colorize }}

    {{ 'section.primer.section.village.title'|trans|colorize }}
    {{ 'section.primer.section.village.paragraph'|trans(_context)|colorize }}

    {{ 'section.primer.section.noob.title'|trans|colorize }}
    {{ 'section.primer.section.noob.paragraph'|trans(_context)|colorize }}
    {% if multimaster == 0 %}
        {{ 'section.primer.section.noob.multimaster'|trans|colorize }}
    {% endif %}

    {{ 'section.primer.section.death.title'|trans|colorize }}
    {{ 'section.primer.section.death.paragraph'|trans(_context)|colorize }}

    {{ 'section.primer.section.day.title'|trans|colorize }}
    {{ 'section.primer.section.day.paragraph'|trans(_context)|colorize }}

    {% if pvp %}
        {{ 'section.primer.section.pvp.title'|trans|colorize }}
        {{ 'section.primer.section.pvp.paragraph'|trans(_context)|colorize }}
    {% endif %}

    {{ 'section.primer.section.ready.title'|trans|colorize }}
    {{ 'section.primer.section.ready.paragraph'|trans(_context)|colorize }}

    <br>
    <hr>
    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|trans|colorize }}</a>
{% endblock petition_primer %}

{% block petition_faq %}
    {% trans_default_domain 'jaxon_petition' %}

    {{ 'section.faq.title'|trans|colorize }}
    {{ 'section.faq.paragraph'|trans|colorize }}

    {{ 'section.faq.content'|trans|colorize }}
    <div class="ui list">
        {% for faq in faqList %}
            {% set onclick = faq.onclick|default(faq.href) %}
            <a href="#" onclick="{{ onclick }}" class="item">
                <i class="angle double right green icon"></i>
                <div class="content">{{ faq.link[0]|trans(faq.link[1], faq.link[2])|colorize }}</div>
            </a>
        {% endfor %}
    </div>

    {{ 'section.faq.end'|trans|colorize }}
{% endblock petition_faq %}

{% block petition_faq1 %}
    {% trans_default_domain 'jaxon_petition' %}

    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|trans|colorize }}</a>
    <hr>

    {{ 'section.faq1.content.one'|trans(_context)|colorize }}

    {{ 'section.faq1.content.two'|trans(_context)|colorize }}

    {{ 'section.faq1.content.three'|trans(_context)|colorize }}

    {{ 'section.faq1.content.four'|trans(_context)|colorize }}

    {{ 'section.faq1.content.five'|trans(_context)|colorize }}

    {{ 'section.faq1.content.six'|trans(_context)|colorize }}

    {{ 'section.faq1.content.seven'|trans(_context)|colorize }}

    {{ 'section.faq1.content.eight'|trans(_context)|colorize }}

    {{ 'section.faq1.content.nine'|trans(_context)|colorize }}

    {{ 'section.faq1.content.ten'|trans(_context)|colorize }}

    {{ 'section.faq1.content.eleven'|trans(_context)|colorize }}

    {{ 'section.faq1.content.twelve'|trans(_context)|colorize }}

    {{ 'section.faq1.content.thirteen'|trans(_context)|colorize }}

    {{ 'section.faq1.content.fourteen'|trans(_context)|colorize }}

    {{ 'section.faq1.content.fifteen'|trans(_context)|colorize }}

    {{ 'section.faq1.content.sixteen'|trans(_context)|colorize }}

    {{ 'section.faq1.content.seventeen'|trans(_context)|colorize }}

    {{ 'section.faq1.content.eightteen'|trans(_context)|colorize }}

    <br>
    <hr>
    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|trans|colorize }}</a>
{% endblock petition_faq1 %}

{% block petition_faq2 %}
    {% trans_default_domain 'jaxon_petition' %}

    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|trans|colorize }}</a>
    <hr>

    {{ 'section.faq2.warning'|trans|uncolorize }}

    <br>

    <button id="show-spoiler" type="button" class="ui orange button">{{ 'section.faq2.show.content'|trans|uncolorize }}</button>

    <div id="spoiler" class="ui hidden message">
        <br>
        {{ 'section.faq2.content.one'|trans(_context)|colorize }}

        {{ 'section.faq2.content.two'|trans(_context)|colorize }}

        {{ 'section.faq2.content.three'|trans(_context)|colorize }}

        {{ 'section.faq2.content.four'|trans(_context)|colorize }}

        {{ 'section.faq2.content.five'|trans(_context)|colorize }}

        {{ 'section.faq2.content.six'|trans(_context)|colorize }}

        {{ 'section.faq2.content.seven'|trans(_context)|colorize }}

        {{ 'section.faq2.content.eight'|trans(_context)|colorize }}

        {{ 'section.faq2.content.nine'|trans(_context)|colorize }}

        {{ 'section.faq2.content.ten'|trans(_context)|colorize }}

        {{ 'section.faq2.content.eleven'|trans(_context)|colorize }}
    </div>
    <hr>
    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|trans|colorize }}</a>

    <script>
        /* global $ */

        $('#show-spoiler').on('click', function ()
        {
            $('#spoiler').toggleClass('hidden message')
        })
    </script>
{% endblock petition_faq2 %}

{% block petition_faq3 %}
    {% trans_default_domain 'jaxon_petition' %}

    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|trans|colorize }}</a>
    <hr>

    {{ 'section.faq3.title'|trans(_context)|colorize }}

    {{ 'section.faq3.content.one'|trans(_context)|colorize }}

    {{ 'section.faq3.content.two'|trans(_context)|colorize }}

    {{ 'section.faq3.content.three'|trans(_context)|colorize }}

    {{ 'section.faq3.content.four'|trans(_context)|colorize }}

    {{ 'section.faq3.content.five'|trans(_context)|colorize }}

    <hr>
    <a href="#" onclick="JaxonLotgd.Ajax.Core.Petition.faq()">{{ 'section.return.content'|trans|colorize }}</a>
{% endblock petition_faq3 %}
