{% translate_default_domain textDomain %}

{{ 'section.applicant.new.description'|t({ 'clanOwnerName': clanOwnerName, 'costGold': costGold, 'costGems': costGems })|colorize }}

<br>
<br>
{% if user.gold >= costGold and user.gems >= costGems %}
    {{ 'section.applicant.new.register.requirements.fulfilled'|t|colorize }}
    <br>
    <br>
    <form class="ui segment form" action="{{ 'clan.php?op=new&apply=1'|lotgd_url }}" method="POST">
        {{ 'section.applicant.new.form.title'|t|colorize }}
        <div class="field">
            <label>{{ 'section.applicant.new.form.label.name'|t|colorize }}</label>
            <input name="clanname" value="{{ clanName }}">
        </div>
        <div class="field">
            <label>{{ 'section.applicant.new.form.label.short.name'|t|colorize }}</label>
            <input name="clanshort" value="{{ clanShort }}">
        </div>
        <div class="ui info message">
            {{ 'section.applicant.new.form.note'|t|uncolorize }}
        </div>
        <div class="field">
            <button type="submit" class="ui button">{{ 'section.applicant.new.form.button.submit'|t }}</button>
        </div>
    </form>
{% elseif user.gold < costGold %}
    {{ 'section.applicant.new.register.requirements.no.gold'|t|colorize }}
{% elseif user.gems < costGems %}
    {{ 'section.applicant.new.register.requirements.no.gems'|t|colorize }}
{% endif %}
