<!DOCTYPE html>
<html lang="{{ translator_locale() }}">
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="imagetoolbar" content="false" />
		<meta http-equiv="Window-target" content="_top" />
        <meta name="robots" content="index, follow" />
        {% block lotgd_head_meta %}{% endblock %}
		{{ metahead }}

        <title>{% block lotgd_head_title %}{{ page_title(title) }}{% endblock %}</title>

        {{ encore_entry_link_tags('lotgd', null, 'lotgd') }}
        {{ encore_entry_link_tags('semantic_ui', null, 'lotgd') }}
        {% block lotgd_head_theme_css %}
            {# Favicon can custom per theme #}
            <link rel="shortcut icon" href="favicon.png" type="image/png" />
        {% endblock %}
		{{ csshead }}

        {{ encore_entry_script_tags('lotgd', null, 'lotgd') }}
        {% block lotgd_head_theme_js %}{% endblock %}
        {{ scripthead }}

        {{ encore_entry_script_tags('semantic_ui', null, 'lotgd') }}

        <!-- START Cookies Consent -->
        <script>
            var cookieName = '{{ session_cookie_name() }}'
        </script>
        {{ encore_entry_script_tags('cookie_guard', null, 'lotgd') }}
		<!-- END Cookies Consent -->
    </head>
    <body>
        {% block lotgd_body %}
            <table class="lotgd table">
                {% include 'base/body/header.twig' %}
                {% include 'base/body/content.twig' %}
                {% include 'base/body/footer.twig' %}
            </table>
        {% endblock %}

        {% block lotgd_footer_theme_css %}{% endblock %}

        {% block lotgd_footer_theme_js %}{% endblock %}
    </body>
</html>
