{#
	//NOTICE |
	//NOTICE | Although under the license, you're not required to keep this
	//NOTICE | paypal link, I do request, as the author of this software
	//NOTICE | which I have made freely available to you, that you leave it in.
	//NOTICE |
#}

<table style="width:auto; margin: auto; background: transparent;">
	<tr>
		<td>
			{% if registered_logdnet %}
				<embed style="width: 62px; height: 57px; margin-bottom: 1em;" src='images/logdnet.php?op=register&c={{ c }}&l={{ l }}&v={{ v }}&a={{ a }}&d={{ d }}&e={{ e }}&u={{ u }}'></embed>
			{% else %}
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
					<input type="hidden" name="cmd" value="_xclick">
					<input type="hidden" name="business" value="logd@mightye.org">
					<input type="hidden" name="item_name" value="{{ item_name }}">
					<input type="hidden" name="item_number" value="{{ item_number }}">
					<input type="hidden" name="no_shipping" value="1">
					<input type="hidden" name="notify_url" value="http://lotgd.net/payment.php">
					<input type="hidden" name="cn" value="Your Character Name">
					<input type="hidden" name="cs" value="1">
					<input type="hidden" name="currency_code" value="USD">
					<input type="hidden" name="tax" value="0">
					<input type="image" src="images/paypal1.gif" border="0" name="submit" alt="Donate to Eric Stevens">
				</form>
			{% endif %}
		</td>
		{% if paysite %}
			<td>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
					<input type="hidden" name="cmd" value="_xclick">
					<input type="hidden" name="business" value="{{ paysite }}">
					<input type="hidden" name="item_name" value="{{ item_name }}">
					<input type="hidden" name="item_number" value="{{ item_number }}">
					<input type="hidden" name="no_shipping" value="1">
					{% if notify_url %}
						<input type="hidden" name="notify_url" value="{{ notify_url }}">
					{% endif %}
					<input type="hidden" name="cn" value="Your Character Name">
					<input type="hidden" name="cs" value="1">
					<input type="hidden" name="currency_code" value="{{ currency }}">
					<input type="hidden" name="lc" value="{{ paypalcountry-code }}">
					<input type="hidden" name="bn" value="PP-DonationsBF">
					<input type="hidden" name="tax" value="0">
					<input type="image" src="images/paypal2.gif" border="0" name="submit" alt="Donate to the Site">
				</form>
			</td>
		{% endif %}
	</tr>
</table>
{#
	//NOTICE |
	//NOTICE | Although under the license, you're not required to keep this
	//NOTICE | paypal link, I do request, as the author of this software
	//NOTICE | which I have made freely available to you, that you leave it in.
	//NOTICE |
#}
