{% block graveyard_default %}
    {% trans_default_domain textDomain %}

    {% if showGraveyardDesc %}
        {{ 'section.default.paragraph'|trans({ 'graveyardOwnerName': graveyardOwnerName })|colorize }}

        {% set result = modulehook('graveyard-desc') %}
        {% for message in result %}
            {% if message is array %}
                {{ message[0]|trans(message[1], message[2])|colorize }}
            {% else %}
                {{ message|colorize }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock graveyard_default %}

{% block graveyard_enter %}
    {% trans_default_domain textDomain %}

    {{ 'section.enter.paragraph'|trans({ 'graveyardOwnerName': graveyardOwnerName })|colorize }}

    {% set result = modulehook('mausoleum') %}
    {% for message in result %}
        {{ message[0]|trans(message[1], message[2])|colorize }}
    {% endfor %}
{% endblock graveyard_enter %}

{% block graveyard_haunt %}
    {% trans_default_domain textDomain %}

    {{ 'section.haunt.paragraph'|trans({ 'graveyardOwnerName': graveyardOwnerName })|colorize }}

    <form action="{{ 'graveyard.php?op=haunt2'|lotgd_url }}" method="POST">
        <div class="field">
            <label for="name">{{ 'section.haunt.form.label.name'|trans|colorize }}</label>
            <div class="ui action input">
                <input type="text" name="name" id="name">
                <button class="ui button" type="submit">{{ 'section.haunt.form.button.submit'|trans|uncolorize }}</button>
            </div>
        </div>
    </form>
{% endblock graveyard_haunt %}

{% block graveyard_haunt2 %}
    {% trans_default_domain textDomain %}

    {% set count = characters|length %}

    {% if count %}
        {{ 'section.haunt2.found'|trans(_context)|colorize }}

        <table class="ui very compact table">
            <thead>
                <tr>
                    <th scope="col">{{ 'section.haunt2.table.thead.name'|trans|uncolorize }}</th>
                    <th scope="col">{{ 'section.haunt2.table.thead.level'|trans|uncolorize }}</th>
                </tr>
            </thead>
            <tbody>
                {% for char in characters %}
                    <tr>
                        <td><a href="{{ ('graveyard.php?op=haunt3&charid=' ~ char.id)|lotgd_url }}">{{ char.name|colorize }}</a></td>
                        <td>{{ char.level }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'section.haunt2.no.result'|trans({ 'graveyardOwnerName': graveyardOwnerName })|colorize }}
    {% endif %}
{% endblock graveyard_haunt2 %}

{% block graveyard_haunt3 %}
    {% trans_default_domain textDomain %}

    {{ 'section.haunt3.subtitle'|trans|colorize }}

    {% if haunted is same as(true) %}
        {{ ('section.haunt3.success' ~ rand)|trans({ 'name': character.name })|colorize }}
    {% elseif haunted is same as(false) %}
        {{ 'section.haunt3.not.found'|trans({ 'graveyardOwnerName': graveyardOwnerName })|colorize }}
    {% elseif haunted == 1 %}
        {% set rand = random(0, 5) %}

        {{ ('section.haunt3.fail.0' ~ rand)|trans({ 'name': character.name })|colorize }}
    {% else %}
        {{ 'section.haunt3.haunted'|trans({ 'graveyardOwnerName': graveyardOwnerName })|colorize }}
    {% endif %}
{% endblock graveyard_haunt3 %}

{% block graveyard_question %}
    {% trans_default_domain textDomain %}

    {{ 'section.question.balance'|trans({ 'favor': user.deathpower, 'graveyardOwnerName': graveyardOwnerName })|colorize }}

    {% if highest[0] %}
        {{ highest[0]|trans(highest[1], highest[2])|colorize }}
    {% endif %}

    {% if texts[0] %}
        {{ texts[0]|trans(texts[1], texts[2])|colorize }}
    {% endif %}
{% endblock graveyard_question %}

{% block graveyard_restore %}
    {% trans_default_domain textDomain %}

    {{ 'section.restore.subtitle'|trans|colorize }}

    {% if restored is same as(true) %}
        {{ 'section.restore.result.success'|trans({ 'graveyardOwnerName': graveyardOwnerName, 'favor': favorToHeal })|colorize }}
    {% elseif restored is same as(false) %}
        {{ 'section.restore.result.fail'|trans({ 'graveyardOwnerName': graveyardOwnerName })|colorize }}
    {% else %}
        {{ 'section.restore.result.no.need'|trans({ 'graveyardOwnerName': graveyardOwnerName })|colorize }}
    {% endif %}
{% endblock graveyard_restore %}

{% block graveyard_resurrection %}
    {% trans_default_domain textDomain %}

    {{ 'section.resurrection'|trans({ 'graveyardOwnerName': graveyardOwnerName })|colorize }}
{% endblock graveyard_resurrection %}
