{% block newday_default %}
    {% trans_default_domain textDomain %}

    <h1 class="ui header center aligned">{{ 'section.default.title'|trans|colorize }}</h1>

    {# Resurrection #}
    {% if resurrected %}
        {{ 'section.default.resurrection'|trans({ 'resurrections': user.resurrections })|colorize }}
    {% endif %}

    {# You discover it's a new day O_O #}
    {{ 'section.default.open.eyes'|trans({ 'age': user.age })|colorize }}

    {# Show turns if not have stamina system module active #}
    {% if not moduleStaminaSystem %}
        {{ 'section.default.turns'|trans({ 'turns': turnsPerDay })|colorize }}
    {% endif %}

    {% if canGetInterest %}
        {{ 'section.default.interest.worker'|trans(_context)|colorize }}
    {% elseif maxInterest %}
        {{ 'section.default.interest.max'|trans(_context)|colorize }}
    {% else %}
        {{ 'section.default.interest.rate'|trans({ 'rate': interestRate - 1 })|colorize }}
        {% if userPre.goldinbank >= 0 %}
            {{ 'section.default.interest.earned'|trans({ 'gold': (userPre.goldinbank * (interestRate - 1)) })|colorize }}
        {% else %}
            {{ 'section.default.interest.debt'|trans({ 'gold': (userPre.goldinbank * (interestRate - 1)) })|colorize }}
        {% endif %}
    {% endif %}

    {{ 'section.default.hitpoints'|trans({ 'maxHitpoints': user.maxhitpoints })|colorize }}

    {# Buffs messages #}
    {% for message in buffMessages %}
        {{ message|colorize }}<br>
    {% endfor %}

    {% if not moduleStaminaSystem and forestTurnDragonKill %}
        {{ 'section.default.forest.turns'|trans({ 'turns': forestTurnDragonKill })|colorize }}
    {% endif %}

    {# Spirit of character #}
    {{ 'section.default.spirit.level'|trans({ 'spirit': spirits[spirit]|trans })|colorize }}

    {% if spirit|abs %}
        {% set balance = (resurrectionTurns > 0 ? 'gain' : 'lost') %}
        {% if moduleStaminaSystem %}
            {{ 'section.default.spirit.stamina'|trans({ 'balance': balance })|colorize }}
        {% else %}
            {{ 'section.default.spirit.turns'|trans({ 'balance': balance, 'turns': resurrectionTurns|abs })|colorize }}
        {% endif %}
    {% endif %}

    {% if user.hashorse %}
        {% if mountMessage is array %}
            {{ mountMessage[0]|format(mountMessage[1])|colorize }}
        {% else %}
            {{ mountMessage|colorize }}
        {% endif %}

        {% if mountTurns != 0 %}
            {% set state = mountTurns > 0 ? 'gain' : 'lost' %}

            {{ 'section.default.horse.yes'|trans({ 'state': state, 'turns': mountTurns, 'mountname': mountName })|colorize }}
        {% endif %}
    {% else %}
        {{ 'section.default.horse.no'|trans({ 'playerWeapon': user.weapon })|colorize }}
    {% endif %}

    {# Haunted by ghost #}
    {% if haunted %}
        {{ ('section.default.haunted.' ~ (moduleStaminaSystem ? 'stamina' : 'turns'))|trans({ 'name': haunted })|colorize }}
    {% endif %}
{% endblock newday_default %}

{% block newday_dragonpoints %}
    {% trans_default_domain textDomain %}

    {% if points > 1 %}
        {{ 'section.dragonpoints.multi.paragraph'|trans({ 'points': points })|colorize }}

        <form id="dragon-points-form" action="{{ formUrl|lotgd_url }}" method="post" class="ui form">
            <table class="ui very compact basic collapsing centered table">
                {% for type, label in labels %}
                    {% set head = label|split(',') %}

                    {% if head|length > 1 %}
                        {% set category = 'section.dragonpoints.buy.category.' ~ type %}
                        <thead>
                            <tr>
                                <th colspan="3" class="collapsing center aligned" scope="colgroup">{{ '`4%s`0'|format(category|trans)|colorize }}</th>
                            </tr>
                        </thead>
                    {% elseif canBuy[type] %}
                        {% set attribute = 'section.dragonpoints.buy.type.' ~ type %}
                        <tr>
                            <td class="collapsing">{{ attribute|trans|colorize }}</td>
                            <td>&nbsp;&nbsp;</td>
                            <td><input type="number" id="{{ type }}" name="{{ type }}" value="" onchange="pointsLeft(this)"></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr><td colspan="3">&nbsp;</td></tr>
                <tr>
                    <td colspan="3" class="center aligned">
                        <button type="submit" class="ui button">{{ 'section.dragonpoints.multi.form.button.submit'|trans|uncolorize }}</button>
                    </td>
                </tr>
                <tr><td colspan="3">&nbsp;</td></tr>
                <tr>
                    <td colspan="3" class="center aligned"><div id="amt-left"></div></td>
                </tr>
            </table>
        </form>

        <script>
            /* global $ */
            const points = parseInt('{{ points }}')

            const textLeft = '{{ "section.dragonpoints.multi.form.points.left"|trans|colorize|e("js") }}'
            const textOver = '{{ "section.dragonpoints.multi.form.points.over"|trans|colorize|e("js") }}'

            // eslint-disable-next-line no-unused-vars
            function pointsLeft ()
            {
                let pointsTotal = 0
                $('input[type="number"]').each(function (index, elem)
                {
                    pointsTotal += parseInt($(elem).val())
                })

                const text = (points - pointsTotal >= 0) ? textLeft : textOver

                $('#amt-left').html(text.replace('%s', pointsTotal).replace('%s', (points - pointsTotal)))
            }

            (function (){ pointsLeft(); })()
        </script>
    {% else %}
        {{ 'section.dragonpoints.single.paragraph'|trans(_context)|colorize }}

        <table class="ui very compact basic collapsing centered table">
            {% for type, label in labels %}
                {% set head = label|split(',') %}

                {% if head|length > 1 %}
                    {% set category = 'section.dragonpoints.buy.category.' ~ type %}
                    <thead>
                        <tr>
                            <th colspan="3" class="center aligned" scope="colgroup">{{ '`b`4%s`0´b'|format(category|trans)|colorize }}</th>
                        </tr>
                    </thead>
                {% elseif canBuy[type] and canBuy[type] != 'unknown' %}
                    {% set attribute = 'section.dragonpoints.buy.type.' ~ type %}
                    <tr>
                        <td>{{ attribute|trans|colorize }}</td>
                        <td>&nbsp;&nbsp;</td>
                        <td>{{ '`@%s`0'|format(distribution[type]|numeral)|colorize }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock newday_dragonpoints %}

{% block newday_race %}
    {% trans_default_domain textDomain %}

    {{ 'section.race.paragraph'|trans|colorize }}

    {% if isAdmin %}
        {{ 'section.race.admin.yes'|trans|colorize }}
    {% else %}
        {{ 'section.race.admin.no'|trans|colorize }}
    {% endif %}
{% endblock newday_race %}

{% block newday_specialty %}
    {% trans_default_domain textDomain %}

    {{ 'section.specialty.paragraph'|trans|colorize }}

    {% if isAdmin %}
        {{ 'section.specialty.admin.yes'|trans|colorize }}
    {% else %}
        {{ 'section.specialty.admin.no'|trans|colorize }}
    {% endif %}
{% endblock newday_specialty %}
