{% translate_default_domain textDomain %}

{% if clanList|length %}
    {{ 'section.applicant.apply.clan.list'|t({ 'clanOwnerName': clanOwnerName, 'playerName': user.name, 'playerWeapon': user.weapon })|colorize }}
{% endif %}

{% for clan in clanList %}
    &#149; <a href="{{ ('clan.php?op=apply&clanid=' ~ clan.clanid )|lotgd_url }}">{{ clan.clanname|uncolorize }}</a>
    &#60;{{ clan.clanshort|uncolorize }}&#62;
    ({{ 'section.applicant.apply.clan.members'|t({ 'n': clan.members })|colorize }}) <br>
{% else %}
    {{ 'section.applicant.apply.no.clans'|t({ 'clanOwnerName': clanOwnerName })|colorize }}
{% endfor %}
