{% block partial_event_trigger %}
    {% trans_default_domain textDomain %}

    <table class="ui small very compact striped table">
        <thead>
            <tr>
                <th scope="col">{{ 'table.thead.name'|trans|uncolorize }}</th>
                <th scope="col">{{ 'table.thead.rchance'|trans|uncolorize }}</th>
                <th scope="col">{{ 'table.thead.nchance'|trans|uncolorize }}</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>
                        <a href="{{ ( script ~ '?eventhandler=module-' ~ event.modulename)|lotgd_url }}">{{ event.modulename }}</a>
                    </td>
                    <td>{{ event.rawchance|numeral }}%</td>
                    <td>{{ event.normchance|numeral }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock partial_event_trigger %}
