{% translate_default_domain textDomain %}

{% if user.goldinbank >= 0 %}
    {{ 'borrow.balance.positive'|t({ 'gold': user.goldinbank, 'ownerName': ownerName })|colorize }}
{% else %}
    {{ 'borrow.balance.negative'|t({ 'gold': user.goldinbank|abs, 'ownerName': ownerName })|colorize }}
{% endif %}

{{ 'borrow.paragraph'|t({ 'name': user.name, 'n': maxborrow })|colorize }}

<form action="{{ 'bank.php?op=withdrawfinish'|lotgd_url }}" method="POST" autocomplete="off" class="ui form">
    <input type="hidden" name="borrow" value="x">
    <div class="field">
        <div class="ui action input">
            <input type="number" id="input" name="amount">
            <button type="submit" class="ui button">{{ 'borrow.form.button.submit'|t|uncolorize }}</button>
        </div>
        {{ 'borrow.form.input.amount.note'|t|colorize }}
    </div>
</form>
