{% translate_default_domain textDomain %}

{% if user.goldinbank >= 0 %}
    {{ 'transfer.subtitle'|t|colorize }}
    {{ 'transfer.paragraph'|t({'transferPerLevel': transferPerLevel, 'maxTransfer': maxTransfer, 'ownerName': ownerName})|colorize }}

    {% if user.amountouttoday > 0 %}
        {{ 'transfer.transferred'|t({'transferred': user.amountouttoday})|colorize }}
    {% endif %}
    <br>
    <form action="{{ 'bank.php?op=transfer2'|lotgd_url }}" method="POST" class="ui form" autocomplete="off">
        <div class="field">
            <label for="amount">{{ 'transfer.form.input.amount'|t|colorize }}</label>
            <input type="number" name="amount" id="amount">
        </div>
        <div class="field">
            <label for="to">{{ 'transfer.form.input.to'|t|colorize }}</label>
            <input type="text" name="to" id="to">
        </div>
        <div class="field">
            <button class="ui button" type="submit">{{ 'transfer.form.button.submit'|t|uncolorize }}</button>
        </div>
    </form>
{% else %}
    {{ 'transfer.refused'|t|colorize }}
{% endif %}
