{% translate_default_domain textDomain %}

{% if user.goldinbank >= 0 %}
    {{ 'withdraw.balance.positive'|t({ 'gold': user.goldinbank, 'ownerName': ownerName })|colorize }}
{% else %}
    {{ 'withdraw.balance.negative'|t({ 'gold': user.goldinbank|abs, 'ownerName': ownerName })|colorize }}
{% endif %}

{{ 'withdraw.paragraph'|t({ 'name': user.name })|colorize }}

<form action="{{ 'bank.php?op=withdrawfinish'|lotgd_url }}" method="POST" autocomplete="off" class="ui form">
    <div class="field">
        <div class="ui action input">
            <input id="input" name="amount">
            <button type="submit" class="ui button">{{ 'withdraw.form.button.submit'|t|uncolorize }}</button>
        </div>
        {{ 'withdraw.form.input.amount.note'|t|colorize }}
    </div>
</form>
