{% if found is same as(false) %}
    {{ '`$%s`) could find no one who matched the name you gave him.'|t|format(deathoverlord)|colorize }}
{% elseif found is same as(true) %}
    {{ '`$%s`) thinks you should narrow down the number of people you wish to haunt.'|t|format(deathoverlord)|colorize }}
    <form action="{{ 'graveyard.php?op=haunt2'|lotgd_url }}">
        <div class="field">
            <label>{{ 'Who would you like to haunt?'|t|colorize }}</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="field">
            <input type="submit" class="ui button" value="{{ 'Search'|t }}">
        </div>
    </form>
{% else %}
    {{ '`$%s`) will allow you to try to haunt these people:`n'|t|format(deathoverlord)|colorize }}
    <table class="ui very compact very basic table">
        <thead>
            <tr>
                <th>{{ 'Name'|t }}</th>
                <th>{{ 'Level'|t }}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in paginator %}
                <tr>
                    <td>
                        <a href="{{ ('graveyard.php?op=haunt3&name=' ~ row.login|htmlentities)|lotgd_url }}">{{ row.name|colorize }}</a>
                    </td>
                    <td>{{ row.level }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
