{% translate_default_domain textDomain %}

{{ include_theme('jaxon/mail/buttons.twig') }}

<br>

{% set statusAltText = {
    'online': 'section.read.card.user.status.online'|t|uncolorize,
    'offline': 'section.read.card.user.status.offline'|t|uncolorize
} %}

{% if 0 == message.msgfrom %}
    {% set subject = message.subject|stripslashes|unserialize %}
    {% set body = message.body|stripslashes|unserialize %}
{% else %}
    {% set subject = message.subject %}
{% endif %}


{% if not message %}.
    {% set subjectDisplay = 'section.read.card.no.message.header'|t|colorize %}
{% elseif subject is array %}
    {% set subjectDisplay = subject[0]|tl(subject[1], subject[2])|colorize %}
{% elseif not subject %}
    {% set subjectDisplay = message.subject|default('section.read.card.no.subject'|t)|e('html')|colorize %}
{% else %}
    {% set subjectDisplay = subject|e('html')|colorize %}
{% endif %}

{% if not message %}
    {% set bodyDisplay = 'section.read.card.no.message.body'|t|colorize %}
{% elseif body is array %}
    {% set bodyDisplay = body[0]|tl(body[1], body[2])|colorize %}
{% else %}
    {% set bodyDisplay = message.body %}
{% endif %}

<div class="ui fluid card">
    <div id="mail-read-buttons" class="ui top attached buttons">
        <a class="ui {{ message.messageid and message.msgfrom ? '' : 'disabled' }} button" onclick="JaxonLotgd.Ajax.Core.Mail.reply('{{ message.messageid }}'); $(this).addClass('loading disabled');">
            {{ 'section.read.button.top.reply'|t|uncolorize }}
        </a>
        <a class="ui delete red {{ message.messageid ? '' : 'disabled' }} button" onclick="JaxonLotgd.Ajax.Core.Mail.deleteMail('{{ message.messageid }}'); $(this).addClass('loading disabled');">
            {{ 'section.read.button.top.del'|t|uncolorize }}
        </a>
        <a class="ui unread {{ message.messageid ? '' : 'disabled' }} button" onclick="JaxonLotgd.Ajax.Core.Mail.unread('{{ message.messageid }}'); $(this).addClass('loading disabled');">
            {{ 'section.read.button.top.unread'|t|uncolorize }}
        </a>
        <a class="ui report {{ message.msgfrom ? '' : 'disabled' }} orange button" onclick="JaxonLotgd.Ajax.Core.Petition.report('{{ message.msgfrom }}', '{{ bodyDisplay|e('html_attr') }}'); $(this).addClass('loading disabled');">
            {{ 'section.read.button.top.report'|t|uncolorize }}
        </a>
    </div>
    <div class="content">
        {% if not message.seen and message %}
            <span class="ui teal ribbon label">{{ 'section.read.card.new'|t|uncolorize }}</span>
        {% endif %}
        <div class="right floated meta">{{ 'section.read.card.sent'|t({ 'date': message.sent })|colorize }}</div>

        {% if 0 == message.msgfrom %}
            {% set senderName = 'section.read.card.from.user.system'|t|colorize %}
        {% elseif sender.name %}
            {% set statusImage = sender.acct.loggedin ? 'online' : 'offline' %}

            {% set senderName = '<img src="images/' ~ statusImage ~ '.gif" alt="' ~ statusAltText[statusImage] ~ '">' ~ sender.name|colorize %}
        {% else %}
            {% set senderName = 'section.read.card.from.user.deleted.user'|t|colorize %}
        {% endif %}

        {{ 'section.read.card.from.label'|t({ 'name': senderName })|colorize }}
    </div>
    <div class="content">
        <span class="ui header">{{ subjectDisplay }}</span>
        <p>{{ bodyDisplay|e('html')|colorize }}</p>
    </div>
    {% set jaxonRead = 'JaxonLotgd.Ajax.Core.Mail.read(%s);' %}
    <div class="ui bottom attached primary buttons">
        <a class="ui {{ paginator.previous ? '' : 'disabled' }} button" onclick="{{ paginator.previous ? jaxonRead|format(paginator.previous) : '' }} $(this).addClass('loading disabled')">
            {{ 'section.read.card.paginator.prev'|t|uncolorize }}
        </a>
        <a class="ui {{ paginator.next ? '' : 'disabled' }} button" onclick="{{ paginator.next ? jaxonRead|format(paginator.next) : '' }} $(this).addClass('loading disabled')">
            {{ 'section.read.card.paginator.next'|t|uncolorize }}
        </a>
    </div>
</div>
