{% trans_default_domain 'jaxon_source' %}

{% block source_show %}
    {{ 'paragraph'|trans({
        'dragonprime': '<a href="http://www.dragonprime.net" target="_blank" rel="noopener noreferrer">DragonPrime</a>',
        'idmarinas': '<a href="https://github.com/idmarinas/lotgd-game" target="_blank" rel="noopener noreferrer">IDMarinas Edition</a>'
    })|colorize }}

    <ul>
        <li>{{ 'ul.li.releasing'|trans|colorize }}</li>
        <li>{{ 'ul.li.removing'|trans|colorize }}</li>
        <li>{{ 'ul.li.portions'|trans|colorize }}</li>
        <li>{{ 'ul.li.claiming'|trans|colorize }}</li>
    </ul>
{% endblock source_show %}

