{% translate_default_domain textDomain %}

<form id="commentary-form" action="{{ formUrl|lotgd_url }}" method="POST" autocomplete="off">
    <input type="hidden" name="section" value="{{ commentary.section }}">

    <div class="ui fluid action input">
        <input type="text" name="comment" id="comment"
            autocomplete="off"
            onkeyup="Lotgd.previewfield(this, '{{ user.name }}', '{{ maxChars }}', '{{ "commentary.sayLine"|t }}', '{{ "commentary.charsLeft"|t }}')" />
        <button class="ui button" type="submit">{{ 'commentary.button'|t|uncolorize }}</button>
    </div>

    <div class="ui hidden bottom attached inverted message">
        <div class="header" id="charsleft-commentary-form"></div>
        <p id="previewtext-commentary-form"></p>
    </div>
</form>

<script>
    Lotgd.set("colors", "{{ colors|json_encode()|e('js') }}");
</script>
