{% translate_default_domain textDomain %}

{% if defaultTextDomainStatus %}
    {# Set a default text domain for comentary status #}
    {% commentary_domain_status defaultTextDomainStatus %}
{% endif %}

{% set recent = 'comment.recent'|tl(null, 'app-commentary') %}
<div class="comment {{ comment.hidden ? 'del' : '' }}">
    <div class="content">
        <div class="text">
            {% if SU_EDIT_COMMENTS %}
                <div class="ui toggle lotgd checkbox" data-tooltip="{{ 'form.toggle.hide'|tl(null, 'app-commentary')|uncolorize }}">
                    <input type="hidden" name="hideComment[{{ comment.id }}]" value="0">
                    <input type="checkbox" name="hideComment[{{ comment.id }}]" {{ comment.hidden ? 'checked' : '' }} value="1">
                </div>
            {% endif %}
            {{ display_status_online_player(comment) }}
            {{ comment.postdate > user.recentcomments ? '<span data-tooltip="%1$s"><i class="caret right icon" aria-label="%1$s"></i></span>'|format(recent) : '' }}
            <span {{ comment.hidden ? 'data-tooltip' : '' }}="{{ comment.hidden ? comment.hiddenComment|uncolorize : '' }}">
                {% if comment.command == 'game' %}
                    {# It's a message from the game, no associated author #}
                    <span class="colDkMagenta"><em><strong>{{ comment.comment|uncolorize|trim|capitalize }}</strong></em></span>
                {% else %}
                    {% if comment.clanName %}
                        <span data-tooltip="{{ comment.clanName|uncolorize }}">&#60;{{ comment.clanNameShort|colorize }}&#62;</span>
                    {% endif %}
                    {# It's a normal comment #}
                    <span class="author">
                        {{ comment.authorName|colorize }}
                    </span>
                    {# Represent a special action of player or not #}
                    {% if comment.command == 'me' %}
                        <span class="colLtBlack">{{ comment.comment|uncolorize }}</span>
                    {% else %}
                        <em class="colDkCyan">{{ (commentary.customSay ? commentary.customSay : 'commentary.sayLine'|t)|colorize|lower }}</em>,
                        <span class="colDkCyan">"<span class="colLtCyan">{{ comment.comment|colorize }}</span>"</span>
                    {% endif %}
                {% endif %}
            </span>
        </div>
        {# Actions for see bio and send mail to the author of comment #}
        {% if comment.command != 'game' %}
            {% set bioLink = ('bio.php?char=' ~ comment.author ~ '&ret=' ~ returnLink|e('url'))|lotgd_url %}
            {% set mailLink = ('mail.php?op=write&to=' ~ comment.author)|lotgd_url %}
            <div class="actions">
                <a class="ui mini blue icon button" aria-label="{{ 'form.button.bio'|tl({'name': comment.authorName|uncolorize|trim}, 'app-commentary') }}" href="{{ bioLink }}">
                    <i class="user icon"></i>
                </a>
                <a class="ui mini blue icon button" aria-label="{{ 'form.button.mail'|tl({'name': comment.authorName|uncolorize|trim}, 'app-commentary') }}" href="{{ mailLink }}" onclick="Lotgd.embed(this)">
                    <i class="mail icon"></i>
                </a>
            </div>
        {% endif %}
    </div>
</div>
