{#
    This file is part of "LoTGD Core Package".

    @see https://github.com/idmarinas/lotgd-game

    @license https://github.com/idmarinas/lotgd-game/blob/master/LICENSE.md
    @author IDMarinas

    @since 7.0.0

    @file Template for show a modal.

    Available variables:
    - content<string>: Content of modal
    - title<null|string>: Title for modal
    - activator<array>: Activation button for open modal
        -   class<null|string>: Class styles for button
        -   text<string>: Text for button
    - close_button<boolean>: Show/Hide close button. Default is Show
    - max_width<string>: Max with of dialog. Default max-w-lg
    - buttons<array>:
        - text<string>: Text for button
        - attrs<array>:
            - <attribute_name>: <attribute_value>
#}

{% block dialog %}
    <div data-controller="modal" data-modal-allow-background-close="false">
        <a href="#" data-action="click->modal#open" class="{{ activator.class|default('bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded') }}">
            {{ activator.text }}
        </a>

        <!-- Modal Container -->
        <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
            <!-- Modal Inner Container -->
            <div class="max-h-screen w-full {{ max_width|default('max-w-lg') }} relative">
            <!-- Modal Card -->
                <div class="m-1 bg-lotgd-900 rounded shadow text-left">
                    <div class="p-8">
                        {% if title %}
                            <h2 class="text-xl mb-4 pb-1 font-bold border-b border-lotgd-500">{{ title|raw }}</h2>
                        {% endif %}

                        <div class="mb-4">{{ content|raw }}</div>

                        {% if close_button|default(true) or buttons|length %}
                            <div class="flex justify-end items-center flex-wrap mt-6 pt-3 border-t border-lotgd-500">
                                {% if close_button|default(true) %}
                                    <button
                                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                                        data-action="click->modal#close"
                                    >
                                        {{ 'modal.buttons.cancel'|trans({}, 'app_default') }}
                                    </button>
                                {% endif %}
                                {% for btn in buttons %}
                                    {% set attr = btn.attrs %}
                                    <button {{ block('attributes') }}>{{ btn.text }}</button>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock dialog %}

{% block attributes -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock attributes -%}
