{% translate_default_domain textDomain %}

{{ 'section.points.list'|t|colorize }}

{% set result = modulehook('donator_point_messages', donatorPointMessages) %}
{% for message in result %}
    {{ message[0]|tl(message[1], message[2])|colorize }}
{% endfor %}

<br>

{{ 'section.points.description'|t({ 'currencySymbol': currencySymbol })|colorize }}

{% if refererAward %}
    {{ 'section.points.referer'|t({ 'refererAward': refererAward, 'referMinLevel': referMinLevel })|colorize }}
{% endif %}

{{ 'section.points.paragraph'|t|colorize }}

{% set result = modulehook('pointsdesc', {}) %}
<ul class="ui ordered list">
    {% for message in result %}
        <div class="item">{{ message[0]|tl(message[1], message[2])|colorize }}</div>
    {% else %}
        <div class="item">{{ 'section.points.messages.desc'|t|colorize }}</div>
    {% endfor %}
</ul>

