{% use 'page/_blocks/_home.html.twig' %}

{% trans_default_domain 'page_home' %}

<div class="text-center">

    {{ 'welcome'|trans|colorize }}

    {{ sonata_block_render_event('lotgd.core.page.home.pre') }}
    {% for tpl, params in includeTemplatesPre %}
        {% include tpl with params %}
    {% endfor %}

    {# Show LotGD clock #}
    {% if gameclock %}
        {{ 'clock'|trans({villagename, gameclock})|colorize }}
    {% endif %}

    {# Show how long it takes for the next new day #}
    {% if newdaytimer %}
        {{ 'newdaytimer'|trans({'n': newdaytimer})|colorize }}
    {% endif %}

    {# Show the last registered player #}
    {% if newestplayer %}
        {{ 'newestplayer'|trans({newestplayer})|colorize }}
    {% endif %}

    {{ sonata_block_render_event('lotgd.core.page.home.index') }}
    {# Templates old hook "index" #}
    {% for tpl, params in includeTemplatesIndex %}
        {% include tpl with params %}
    {% endfor %}

    {{ sonata_block_render_event('lotgd.core.page.home.text') }}
    {# Results messages of hook "hometext" #}
    {% for message in hookHomeText %}
        {{ message|colorize }}
    {% endfor %}

    {# Show the login form or a full server message #}
    {{ block(serverFull ? 'home_server_full' : 'home_login') }}

    {{ sonata_block_render_event('lotgd.core.page.home.middle') }}
    {# Results messages of hook "homemiddle" #}
    {% for message in hookHomeMiddle %}
        {{ message|colorize }}
    {% endfor %}

    {# Login banner text if exist #}
    {% if loginBanner %}
        {{ '`n`c`b`&%s`0´b´c`n'|format(loginBanner)|colorize }}
    {% endif %}

    {# Version of the game the server is running #}
    {{ 'server.version'|trans({ 'version': serverVersion })|colorize }}

    {{ sonata_block_render_event('lotgd.core.page.home.post') }}
    {% for tpl, params in includeTemplatesPost %}
        {% include tpl with params %}
    {% endfor %}
</div>

