{% trans_default_domain 'page_news' %}

{% block news_last_motd %}
    {% if lastMotd %}
        <div class="news-last-motd">
            {{ motd_show_item(lastMotd, { SU_POST_MOTD }) }}
        </div>
    {% endif %}
{% endblock news_last_motd %}

{% if result.count() <= 1 %}
    {{ 'list.title'|trans({'d': date})|colorize }}
{% else %}
    {{ 'list.title'|trans({'d': date, 'n': result.count()})|colorize }}
{% endif %}

{% set del = 'list.del'|trans %}
{% for news in result %}
    {{ '`c`2-=-`@=-=`2-=-`@=-=`2-=-`@=-=`2-=-`0´c'|colorize }}

    <div class="center aligned">
        {% if SU_EDIT_COMMENTS %}
            [ <a href="{{ ('news.php?op=delete&newsid=' ~ news.id)|lotgd_url }}">{{ del }}</a> ]&nbsp;
        {% endif %}

        {{ show_news_item(news)|colorize }}
    </div>
{% else %}
    {{ '`c`2-=-`@=-=`2-=-`@=-=`2-=-`@=-=`2-=-`0´c'|colorize }}
    {{ 'list.notFound'|trans|colorize }}
{% endfor %}

{{ '`c`2-=-`@=-=`2-=-`@=-=`2-=-`@=-=`2-=-`0´c'|colorize }}
