{% trans_default_domain textDomain %}

{{ 'paragraph'|trans({ 'refererAward': refererAward, 'referMinLevel': referMinLevel, 'playerReferralUrl': '%sreferral.php?r=%s'|format(serverUrl, user.login|e('url')) })|colorize }}

{{ 'table.title'|trans|colorize }}

<div class="shadow overflow-hidden border-b border-lotgd-200 sm:rounded-lg">
    <table class="min-w-full divide-y divide-lotgd-200" aria-describedby="page-title">
        <thead>
            <tr>
                <th scope="col">{{ 'table.thead.name'|trans|uncolorize }}</th>
                <th scope="col">{{ 'table.thead.dk'|trans|uncolorize }}</th>
                <th scope="col">{{ 'table.thead.level'|trans|uncolorize }}</th>
                <th scope="col">{{ 'table.thead.awarded'|trans|uncolorize }}</th>
            </tr>
        </thead>
        {% set yes = 'table.tbody.yes'|trans|colorize %}
        {% set no = 'table.tbody.no'|trans|colorize %}
        <tbody class="striped">
            {% for character in referrers %}
                <tr>
                    <td>{{ character.name|colorize }}</td>
                    <td>{{ character.dragonkills|numeral }}</td>
                    <td>{{ character.level|numeral }}</td>
                    <td>{{ (character.refererawarded ? yes : no)|colorize }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'table.tbody.none'|trans|colorize }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

