<table border='0' cellpadding='5' cellspacing='0' align='right'>
	<tr>
		<td>
			{% if administrator %}
				<span>|</span> <a href="{{ 'user.php'|lotgd_url }}">{{ ueditor }}</a> <span>|</span> <a href='viewpetition.php'>{{ petition }}</a>
			{% else %}
				<span>|</span> <a href="{{ 'viewpetition.php'|lotgd_url }}">{{ petition }}</a>
			{% endif %}
			{{ petitioncount }}
		</td>
	</tr>
</table>