{% use '{theme}/_blocks/_buttons.html.twig' %}

<tr>
    <td>
        <table class="lotgd table">
            <tr>
                <td class="middle aligned lotgd-text-nowrap">
                    <table class="lotgd table">
                        <tr>
                            <td class="border tlc"></td>
                            <td class="border tm"></td>
                            <td class="border trc"></td>
                        </tr>
                        <tr>
                            <td class="border tlt"></td>
                            <td class="lotgd-text-nowrap"><span class='pagetitle'>&#149; {{ head_title().renderTitle() }}</span></td>
                            <td class="border trt"></td>
                        </tr>
                        <tr>
                            <td class="border blc"></td>
                            <td class="border btm"></td>
                            <td class="border brc"></td>
                        </tr>
                    </table>
                </td>
                <td class="top aligned right aligned"><img src="{{ asset('build/lotgd/images/logo.jpg', 'lotgd') }}" width="465" height="71" alt="The Legend of the Green Dragon Logo"></td>
            </tr>
            <tr>
                <td class="top aligned" colspan='2'>
                    <table class="lotgd table">
                        <tr>
                            {# Start advertising module #}
                            <td class="collapsing">{{ headerad }}</td>
                            {# End advertising module #}

                            <td class="right aligned bottom aligned">
                                {{ message_of_the_day() }} |
                                {{ ye_olde_mail() }} |
                                {% block user_petition parent() %}
                                {{ admin_petition() }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
