{% trans_default_domain textDomain %}

{{ 'section.default.title'|trans|colorize }}

<table class="ui very compact striped table">
    <thead>
        <tr>
            <th scope="col">{{ 'section.default.table.thead.ops'|trans|uncolorize }}</th>
            <th scope="col">{{ 'section.default.table.thead.dks'|trans|uncolorize }}</th>
            <th scope="col">{{ 'section.default.table.thead.mtit'|trans|uncolorize }}</th>
            <th scope="col">{{ 'section.default.table.thead.ftit'|trans|uncolorize }}</th>
        </tr>
    </thead>
    <tbody>
        {% set edit = 'section.default.table.tbody.edit'|trans|uncolorize %}
        {% set del = 'section.default.table.tbody.del'|trans|uncolorize %}
        {% set options = {'text': 'section.default.table.tbody.confirm'|trans|uncolorize }|json_encode|e('html_attr') %}

        {% for row in paginator %}
            <tr>
                <td class="collapsing">
                    <div class="ui mini icon buttons">
                        <a class="ui button" href="{{ ('titleedit.php?op=edit&id=' ~ row.titleid)|lotgd_url }}" data-tooltip="{{ edit }}" aria-label="{{ edit }}">
                            <i aria-hidden="true" class='write icon'></i>
                        </a>
                        <a class="ui red button" href="{{ ('titleedit.php?op=delete&id=' ~ row.titleid)|lotgd_url }}" onclick="Lotgd.confirm(this, event)" data-tooltip="{{ del }}" aria-label="{{ del }}" data-options="{{ options }}">
                            <i aria-hidden="true" class='trash icon'></i>
                        </a>
                    </div>
                </td>
                <td>{{ row.dk|numeral }}</td>
                <td>{{ ('`2%s`0')|format(row.male)|colorize }}</td>
                <td>{{ ('`6%s`0')|format(row.female)|colorize }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
