<!DOCTYPE html>

<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">

        {# Security meta tags #}
        <meta name="referrer" content="same-origin">

        <meta http-equiv="Window-target" content="_top">
        <meta http-equiv="imagetoolbart" content="false">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">

        {# Dynamically added meta tags #}
        {% block lotgd_core_head_meta %}{% endblock %}
        {{ head_meta() }}

        <!-- Title tag for page -->
        <title>
            {% block lotgd_core_head_title %}
                {{ lotgd_core_title }}
            {% endblock lotgd_core_head_title %}
        </title>

        {{ encore_entry_link_tags('lotgd', 'lotgd', 'lotgd') }}
        {{ encore_entry_link_tags('semantic_ui', 'lotgd', 'lotgd') }}
        {% block lotgd_core_head_css %}
            {# Favicon can custom per theme #}
            <link rel="shortcut icon" href="/favicon.png" type="image/png" />
        {% endblock lotgd_core_head_css %}
        <!-- Jaxon CSS styles -->
        {{ jaxon_css() }}

        {{ encore_entry_script_tags('lotgd', 'lotgd', 'lotgd') }}
        {% block lotgd_core_head_theme_js %}{% endblock %}

        <!-- JavaScript of Fomantic UI -->
        {{ encore_entry_script_tags('semantic_ui', 'lotgd', 'lotgd') }}

        <!-- Jaxon JS script -->
        {{ jaxon_js() }}

        <!-- Dynamically added script/style code and files -->
        {{ head_link() }}
        {{ head_style() }}
        {{ head_script() }}

        <!-- Jaxon inline Script -->
        {{ jaxon_script() }}

        <!-- START Cookies Consent -->
        <script>
            // eslint-disable-next-line no-unused-vars, no-var
            var cookieName = '{{ app.request.session.name }}'
        </script>
        {{ encore_entry_script_tags('cookie_guard', 'lotgd', 'lotgd') }}
		<!-- END Cookies Consent -->
    </head>
    <body>
        {% block lotgd_core_body %}{% endblock %}

        {% block lotgd_core_footer_css %}{% endblock %}

        {% block lotgd_core_footer_js %}{% endblock %}

        {# Render Sonata Blocks JS and CSS #}
        {{ sonata_block_include_stylesheets('all') }}
        {{ sonata_block_include_javascripts('all') }}

        <!-- Dynamically added script code -->
        {{ inline_script() }}
    </body>
</html>
