{% extends 'base.html.twig' %}

{% use '_layout.html.twig' %}

{% block lotgd_head_css %}
    {{ parent() }}
    {{ encore_entry_link_tags('lotgd_theme', 'lotgd', 'lotgd') }}
{% endblock %}

{% block lotgd_footer_js %}
    {{ encore_entry_script_tags('lotgd_theme', 'lotgd', 'lotgd') }}
{% endblock %}

{% block lotgd_body %}
    <table class="lotgd table">
        <tr>
            <td>{{ block('layout_header') }}</td>
        </tr>
        <tr>
            <td>
                <table class="lotgd table">
                    <tr>
                        <td class="top aligned navigation">
                            {{ block('layout_navigation') }}
                            {# Start advertising module #}
                            {{ google_ad('ad_column_navigation_bottom') }}
                            {# End advertising module #}
                        </td>
                        <td class="top aligned">
                            <table class="lotgd table">
                                <tr>
                                    <td class="border tlc"></td>
                                    <td class="border tm"></td>
                                    <td class="border trc"></td>
                                </tr>
                                <tr>
                                    <td class="border tlt"></td>
                                    <td class="top aligned headrow">
                                        <table class="lotgd table">
                                            <tr>
                                                <td class="top aligned left aligned">
                                                    {# Start advertising module #}
                                                    {{ google_ad('ad_body') }}
                                                    {# End advertising module #}

                                                    {# Show all alert messages #}
                                                    {{ show_flash_messages() }}

                                                    {% if event %}
                                                        <h1 class="center aligned">{{ event[0]|trans(event[1], event[2])|colorize }}</h1>
                                                    {% endif %}
                                                    {# This is all content of game #}
                                                    {% block lotgd_body_content %}{{ content }}{% endblock %}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="border trt"></td>
                                </tr>
                                <tr>
                                    <td class="border blc"></td>
                                    <td class="border btm"></td>
                                    <td class="border brc"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="top aligned characterstats">
                            {{ block('layout_stats') }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>{{ block('layout_footer') }}</td>
        </tr>
    </table>
{% endblock lotgd_body %}
