{% macro combat_health_bar(data, text_domain) %}
    {% trans_default_domain text_domain %}

    <table class="ui collapsing very basic very compact table">
        <tr>
            <td colspan="3">
                {% set nametext = (data.name is iterable ? data.name[0]|trans(data.name[1], data.name[2]|default(text_domain)) : data.name) %}
                {% if data.isTarget %}<i class="yellow bullseye icon"></i>{% endif %}
                {{ '(%s) %s (Level `b%s´b)`0'|trans|format(data.who|trans, nametext, data.level)|colorize }}
                {% if not data.showbar %}
                    {% if data.hpvalue > 0 %}: {% if data.showhptext %}{{ ( '`6' ~ data.hpvaluetext ~ '`0')|colorize }}{% endif %}{% else %}{{ 'battle.defeated'|trans|colorize }}{% endif %}
                {% endif %}
            </td>
        </tr>
        {% if data.showbar %}
            <tr>
                <td>&nbsp;&nbsp;{{ data.healthtext|trans|colorize }}:&nbsp;</td>
                <td style="width: 150px;">
                    <div style="margin: 0em;" class="ui tiny indicating lotgd progress battle" data-value="{{ data.hpvalue }}" data-total="{{ data.hptotal }}">
                        <div class="bar"></div>
                    </div>
                </td>
                {% if data.showhptext %}
                    {% set text = data.hpvalue > 0 ? '' : 'battle.defeated'|trans|colorize %}
                    <td>&nbsp;{{ '(%s/%s) %s`0`n'|format(data.hpvaluetext, data.hptotaltext, text)|colorize }}</td>
                {% endif %}
            </tr>
        {% endif %}
    </table>
{% endmacro %}
