{% macro combat_health_bar(data, translation_domain) %}
    {% trans_default_domain translation_domain %}

    <table class="ui collapsing very basic very compact table">
        <tr>
            <td colspan="3">
                {% set nametext = (data.name is iterable ? data.name[0]|trans(data.name[1], data.name[2]|default(translation_domain)) : data.name) %}

                {% if data.is_target %}<i class="yellow bullseye icon"></i>{% endif %}
                {{ '(%s) %s (Level `b%s´b)`0'|trans|format(data.who|trans, nametext, data.level)|colorize }}
                {% if not data.show_bar %}
                    {% if data.hp_value > 0 %}: {% if data.show_hp_text %}{{ ( '`6' ~ data.hp_value_text ~ '`0')|colorize }}{% endif %}{% else %}{{ 'battle.defeated'|trans|colorize }}{% endif %}
                {% endif %}
            </td>
        </tr>
        {% if data.showbar %}
            <tr>
                <td>&nbsp;&nbsp;{{ data.health_text|trans|colorize }}:&nbsp;</td>
                <td style="width: 150px;">
                    <div style="margin: 0em;" class="ui tiny indicating lotgd progress battle" data-value="{{ data.hp_value }}" data-total="{{ data.hp_total }}">
                        <div class="bar"></div>
                    </div>
                </td>
                {% if data.show_hp_text %}
                    {% set text = data.hpvalue > 0 ? '' : 'battle.defeated'|trans|colorize %}
                    <td>&nbsp;{{ '(%s/%s) %s`0`n'|format(data.hp_value_text, data.hp_total_text, text)|colorize }}</td>
                {% endif %}
            </tr>
        {% endif %}
    </table>
{% endmacro %}
