{% trans_default_domain textDomain %}

{% if moduleSettings %}
    <p>
        {% if isModuleActive %}
            {{ 'section.module.is.actived'|trans|colorize }}
            <a href="{{ ('modules.php?op=deactivate&module=' ~ moduleName ~ '&cat=' ~ moduleInfo.category|e('url'))|lotgd_url }}" class="ui red mini button">{{ 'section.module.button.deactivate'|trans|uncolorize }}</a>
        {% else %}
            {{ 'section.module.is.deactived'|trans|colorize }}
            <a href="{{ ('modules.php?op=activate&module=' ~ moduleName ~ '&cat=' ~ moduleInfo.category|e('url'))|lotgd_url }}" class="ui green mini button">{{ 'section.module.button.activate'|trans|uncolorize }}</a>
        {% endif %}
    </p>

    <form action="{{ ('configuration.php?setting=module&module=' ~ moduleName ~ '&save=save')|lotgd_url }}" method="POST" autocomplete="off" class="ui form">
        {{ form }}
    </form>
{% else %}
    {{ 'section.module.no.settings'|trans({ 'name': moduleInfo.name })|colorize }}
{% endif %}
