{% for text in texts.transfer.subtitle %}
    {{ text|t(schemas.transfer.subtitle)|colorize }}
{% else %}
    {{ texts.transfer.subtitle|t(schemas.transfer.subtitle)|colorize }}
{% endfor %}

{% if cantransfer is same as(true) %}
    {% for text in texts.transfer.desc %}
        {{ text|t(schemas.transfer.desc)|colorize }}
    {% else %}
        {{ texts.transfer.desc|t(schemas.transfer.desc)|colorize }}
    {% endfor %}

    {% if user.amountouttoday > 0 %}
        {% for text in texts.transfer.transferedtoday %}
            {{ text|t(schemas.transfer.transferedtoday)|colorize }}
        {% else %}
            {{ texts.transfer.transferedtoday|t(schemas.transfer.transferedtoday)|colorize }}
        {% endfor %}
    {% endif %}
    <br>
    <form action="{{ 'bank.php?op=transfer2'|lotgd_url }}" method="POST" class="ui form">
        <div class="two fields">
            <div class="field">
                <label for="amount">{{ texts.transfer.amount|t(schemas.transfer.amount)|colorize }}</label>
                <input name="amount" id="amount" width="5">
            </div>
            <div class="field">
                <label for="to">{{ texts.transfer.to|t(schemas.transfer.to)|colorize }}</label>
                <input name="to" id="to">
                {{ texts.transfer.help|t(schemas.transfer.help)|colorize }}
            </div>
        </div>
        <input type="submit" class="ui button" value="{{ texts.transfer.button }}">
    </form>
{% else %}
    {% for text in texts.transfer.debt %}
        {{ text|t(schemas.transfer.debt)|colorize }}
    {% else %}
        {{ texts.transfer.debt|t(schemas.transfer.debt)|colorize }}
    {% endfor %}
{% endif %}
