{% if user.goldinbank >= 0 %}
    {% for text in texts.withdraw.desc.balance %}
        {{ text|t(schemas.withdraw.desc.balance)|colorize }}
    {% else %}
        {{ texts.withdraw.desc.balance|t(schemas.withdraw.desc.balance)|colorize }}
    {% endfor %}
{% else %}
    {% for text in texts.withdraw.desc.debt %}
        {{ text|t(schemas.withdraw.desc.debt)|colorize }}
    {% else %}
        {{ texts.withdraw.desc.debt|t(schemas.withdraw.desc.debt)|colorize }}
    {% endfor %}
{% endif %}

<form action="{{ 'bank.php?op=withdrawfinish'|lotgd_url }}" method="POST">
    {{ texts.withdraw.question|t|colorize }}
    <div class='ui action input'>
        <input id="input" name="amount" width="5" >
        <button type="submit" class="ui button">{{ texts.withdraw.button|t }}</button>
    </div>
    {{ texts.withdraw.help|t|colorize }}
</form>
