{% translate_default_domain 'page-account' %}

{{ 'paragraph'|t|colorize }}

<table class="ui table">
    <tbody>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.created'|t }}</td>
            <td>{{ 'table.value.created'|t({'date': user.regdate}) }}</td>
        </tr>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.commented'|t }}</td>
            <td>{{ 'table.value.commented'|t({'date': user.recentcomments}) }}</td>
        </tr>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.pvped'|t }}</td>
            <td>{{ 'table.value.pvped'|t({'date': user.pvpflag}) }}</td>
        </tr>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.dragonkills'|t }}</td>
            <td>{{ user.dragonkills|numeral }}</td>
        </tr>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.gentimecount'|t }}</td>
            <td>{{ user.gentimecount|numeral }}</td>
        </tr>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.gentime'|t }}</td>
            <td>{{ 'table.value.gentime'|t({'n': user.gentime, 'avg': (user.gentime / user.gentimecount)}) }}</td>
        </tr>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.acctnumber'|t }}</td>
            <td>{{ (user.acctid - 1)|numeral }}</td>
        </tr>
        <tr>
            <td class="collapsing right aligned">{{ 'table.title.dragonpoints'|t }}</td>
            <td>
                {% for key, value in dragonpoints %}
                    <div class="ui label">
                        {{ ('table.value.attr.' ~ key)|t }}
                        <div class="detail">{{ value|numeral }}</div>
                    </div>
                {% endfor %}
            </td>
        </tr>

        {# Render other templates #}
        {% for tpl, params in templates %}
            {% include tpl with params %}
        {% endfor %}
    </tbody>
</table>
