{% translate_default_domain 'page-create' %}

{% if maintenanceMode %}
    <div class="ui centered horizontal card">
        <div class="image">
            <img src="images/logindragon.gif" alt="{{ 'maintenance.server.creation.title'|tl(null, 'app-default')|uncolorize }}">
        </div>
        <div class="content">
            <a class="header">{{ 'maintenance.server.creation.title'|tl(null, 'app-default') }}</a>
            <div class="description">{{ 'maintenance.server.creation.message'|tl(null, 'app-default') }}</div>
        </div>
    </div>
{% elseif not allowCreation %}
    {{ include_theme('page/create/account/disabled.twig') }}
{% elseif serverFull %}
    {{ include_theme('page/create/serverfull.twig') }}
{% else %}
    {{ include_theme('page/create/account/create.twig') }}
{% endif %}
